/* line 1, ../css/vizabi.scss */
.vizabi {
  height: 100%;
  width: 100%;
}
/* line 1, ../css/_wrapper.scss */
.vizabi .wrapper {
  height: 100%;
  width: 100%;
}
/* line 1, ../css/widgets/axis.scss */
.vizabi .axis {
  stroke: #000;
  fill: none;
  shape-rendering: crispEdges;
}
/* line 6, ../css/widgets/axis.scss */
.vizabi .axis path {
  fill: #000;
}
/* line 10, ../css/widgets/axis.scss */
.vizabi .axis text {
  fill: #000;
  stroke: none;
}
/* line 1, ../css/template/_header1.scss */
.vizabi .template .header1 {
  font-size: 42px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  fill: #7394a6;
  font-family: "Arial Rounded MT Bold";
}
/* line 1, ../css/template/_header2.scss */
.vizabi .template .header2 {
  font-size: 34px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  fill: #607889;
  font-family: "Arial Rounded MT Bold";
}
