/* line 1, ../css/template/_header1.scss */
.vizabi .template .header1 {
  font-size: 42px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  fill: #7394a6;
  font-family: "Arial Rounded MT Bold";
}
/* line 1, ../css/template/_header2.scss */
.vizabi .template .header2 {
  font-size: 34px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  fill: #607889;
  font-family: "Arial Rounded MT Bold";
}
