<div class="vzb-mmi-holder">

    <span class="vzb-mmi-domainmin-label"></span>
    <input type="text" class="vzb-mmi-domainmin" name="min">
    <span class="vzb-mmi-domainmax-label"></span>
    <input type="text" class="vzb-mmi-domainmax" name="max">

    <br class="vzb-mmi-break"/>

    <span class="vzb-mmi-zoomedmin-label"></span>
    <input type="text" class="vzb-mmi-zoomedmin" name="min">
    <span class="vzb-mmi-zoomedmax-label"></span>
    <input type="text" class="vzb-mmi-zoomedmax" name="max">
    
</div>