<div class="vzb-mmi-holder">

    <span class="vzb-mmi-domainmin-label"></span>
    <input type="text" class="vzb-mmi-domainmin" name="min">
    <span class="vzb-mmi-domainmax-label"></span>
    <input type="text" class="vzb-mmi-domainmax" name="max">

    <br class="vzb-mmi-break"/>

    <span class="vzb-mmi-fakemin-label"></span>
    <input type="text" class="vzb-mmi-fakemin" name="min">
    <span class="vzb-mmi-fakemax-label"></span>
    <input type="text" class="vzb-mmi-fakemax" name="max">
    
</div>