@import '../../_tool.scss';

.bar-rank {
	@extend .vizabi-tool;

  // QUESTION:
  // I don't get it, why the layout is specified in a general _tool.scss file?
  // Will every tool share the same layout?
  // This is a quick&dirty solution to get me going,
  // when I learn the mystery of layouting the tools, I'll fix it
  &.small .vizabi-tool-content .vizabi-tool-stage,
  &.medium .vizabi-tool-content .vizabi-tool-stage {
    top: 90px!important;
  }

  &.large .vizabi-tool-content .vizabi-tool-stage {
    top: 0!important;
    right: 360px!important;
  }

  .vizabi-tool-filter {
    position: relative;
    z-index: 3;
  }

  &.small.landscape .vizabi-tool-aside {
    position: absolute;
    top: 0;
    left: 0;
    right: 50px;
  }

  &.large .vizabi-tool-aside {
    position: absolute;
    top: 0;
    right: 60px;
    bottom: 0;
    width: 300px;
    padding: 5px 10px 10px;
    box-sizing: border-box;
    background: #F2FAFC;
  }

	@import '../../../components/_gapminder/header/_header.scss';
	@import '../../../components/_gapminder/bar-rank/_bar-rank.scss';
  @import '../../../components/_gapminder/info-box/_info-box.scss';
  @import '../../../components/_gapminder/timeslider/_timeslider.scss';
	@import '../../../components/_gapminder/filter/filter.scss';
	@import '../../../components/_gapminder/buttonlist/_buttonlist.scss';
}
