.vzb-tool-dialogs {
  .vzb-dialogs-dialog {
    &[data-dlg="timedisplay"] {
      .vzb-timedisplay {
        font-size: $vzb-font-size-largest;
        color: $vzb-color-primary-strong;
        opacity: .5;
      }
    }
  }
}
