.vzb-tool-dialogs {
  .vzb-dialogs-dialog {
    &[data-dlg="timedisplay"] {
      min-height: 130px;
      .vzb-dialog-content.vzb-dialog-content-fixed {
        max-height: 128px;
        padding: 0;
        fill: $vzb-color-primary-strong;
        opacity: .5;
      }
    }
  }
}


