---
title: Bar Chart
description: This page shows the current version of Gapminder's bar chart. 
tool: BarChart
source_code: https://github.com/Gapminder/vizabi/tree/develop/src/tools/_examples/barchart
chart_buttons: "['fullscreen']"
---

<div title="Y Axis" class="wrapper-dropdown" tabindex="1">
    <span>Y</span>
    <ul class="dropdown">
        <li><a onclick="setHook({hook: 'axis_y', use: 'property', scale: 'ordinal', which: 'geo.region'})">Prop: geo.region</a>
        </li>
        <li><a onclick="setHook({hook: 'axis_y', use: 'property', scale: 'ordinal', which: 'geo'})">Prop: geo</a>
        </li>
        <li><a onclick="setHook({hook: 'axis_y', use: 'indicator', scale: 'time', which: 'time'})">Ind: time</a>
        </li>
        <li><a onclick="setHook({hook: 'axis_y', use: 'property', scale: 'ordinal', which: 'geo.category'})">Prop: geo.category</a>
        </li>
        <li><a onclick="setHook({hook: 'axis_y', use: 'indicator', scale: 'linear', which: 'lex'})">Ind: lex</a>
        </li>
        <li><a onclick="setHook({hook: 'axis_y', use: 'indicator', scale: 'log', which: 'gdp_per_cap'})">Ind: gdp_per_cap</a>
        </li>
        <li><a onclick="setHook({hook: 'axis_y', use: 'indicator', scale: 'linear', which: 'pop'})">Ind: pop</a>
        </li>
        <li><a onclick="setHook({hook: 'axis_y', use: 'value', scale: 'linear', which: '42'})">Value: 42</a>
        </li>
    </ul>
</div>

<div title="X Axis" class="wrapper-dropdown" tabindex="1">
    <span>X</span>
    <ul class="dropdown">
        <li><a onclick="setHook({hook: 'axis_x', use: 'property', scale: 'ordinal', which: 'geo.region'})">Prop: geo.region</a>
        </li>
        <li><a onclick="setHook({hook: 'axis_x', use: 'property', scale: 'ordinal', which: 'geo'})">Prop: geo</a>
        </li>
        <li><a onclick="setHook({hook: 'axis_x', use: 'indicator', scale: 'time', which: 'time'})">Ind: time</a>
        </li>
        <li><a onclick="setHook({hook: 'axis_x', use: 'property', scale: 'ordinal', which: 'geo.category'})">Prop: geo.category</a>
        </li>
        <li><a onclick="setHook({hook: 'axis_x', use: 'indicator', scale: 'linear', which: 'lex'})">Ind: lex</a>
        </li>
        <li><a onclick="setHook({hook: 'axis_x', use: 'indicator', scale: 'log', which: 'gdp_per_cap'})">Ind: gdp_per_cap</a>
        </li>
        <li><a onclick="setHook({hook: 'axis_x', use: 'indicator', scale: 'linear', which: 'pop'})">Ind: pop</a>
        </li>
        <li><a onclick="setHook({hook: 'axis_x', use: 'value', scale: 'linear', which: '42'})">Value: 42</a>
        </li>
    </ul>
</div>

<div title="Color of Bubbles" class="wrapper-dropdown" tabindex="1">
    <span>COLOR</span>
    <ul class="dropdown">
        <li><a onclick="setHook({hook: 'color', use: 'property', which: 'geo.region', domain: ['#F77481', '#E1CE00', '#B4DE79', '#62CCE3']})">Prop: geo.region</a>
        </li>
        <li><a onclick="setHook({hook: 'color', use: 'property', which: 'geo', domain: ['#F77481', '#E1CE00', '#B4DE79', '#62CCE3']})">Prop: geo</a>
        </li>
        <li><a onclick="setHook({hook: 'color', use: 'property', which: 'geo.category', domain: ['#F77481', '#E1CE00', '#B4DE79', '#62CCE3']})">Prop: geo.category</a>
        </li>
        <li><a onclick="setHook({hook: 'color', use: 'indicator', which: 'lex', domain: ['#F77481', '#E1CE00', '#B4DE79']})">Ind: lex</a>
        </li>
        <li><a onclick="setHook({hook: 'color', use: 'indicator', which: 'gdp_per_cap', domain: ['#F77481', '#E1CE00', '#B4DE79', '#62CCE3']})">Ind: gdp_per_cap</a>
        </li>
        <li><a onclick="setHook({hook: 'color', use: 'indicator', which: 'pop', domain: ['#F77481', '#E1CE00', '#B4DE79']})">Ind: pop</a>
        </li>
        <li><a onclick="setHook({hook: 'color', use: 'value', which: '#F77481', domain: []})">Value: #F77481</a>
        </li>
    </ul>
</div>

<div title="Size of Bubbles" class="wrapper-dropdown" tabindex="1">
    <span>SIZE</span>
    <ul class="dropdown">
        <li><a onclick="setHook({hook: 'size', use: 'property', scale: 'ordinal', which: 'geo.region'})">Prop: geo.region</a>
        </li>
        <li><a onclick="setHook({hook: 'size', use: 'property', scale: 'ordinal', which: 'geo'})">Prop: geo</a>
        </li>
        <li><a onclick="setHook({hook: 'size', use: 'property', scale: 'ordinal', which: 'geo.category'})">Prop: geo.category</a>
        </li>
        <li><a onclick="setHook({hook: 'size', use: 'indicator', scale: 'linear', which: 'lex'})">Ind: lex</a>
        </li>
        <li><a onclick="setHook({hook: 'size', use: 'indicator', scale: 'log', which: 'gdp_per_cap'})">Ind: gdp_per_cap</a>
        </li>
        <li><a onclick="setHook({hook: 'size', use: 'indicator', scale: 'linear', which: 'pop'})">Ind: pop</a>
        </li>
        <li><a onclick="setHook({hook: 'size', use: 'value', scale: 'linear', which: '0.5'})">Value: 0.5</a>
        </li>
    </ul>
</div>

<div title="Label when hovering" class="wrapper-dropdown" tabindex="1">
    <span>LABEL</span>
    <ul class="dropdown">
        <li><a onclick="setHook({hook: 'label', use: 'property', which: 'geo.region'})">Prop: geo.region</a>
        </li>
        <li><a onclick="setHook({hook: 'label', use: 'property', which: 'geo.name'})">Prop: geo.name</a>
        </li>
        <li><a onclick="setHook({hook: 'label', use: 'property', which: 'geo'})">Prop: geo</a>
        </li>
        <li><a onclick="setHook({hook: 'label', use: 'property', which: 'geo.category'})">Prop: geo.category</a>
        </li>
        <li><a onclick="setHook({hook: 'label', use: 'indicator', which: 'lex'})">Ind: lex</a>
        </li>
        <li><a onclick="setHook({hook: 'label', use: 'indicator', which: 'gdp_per_cap'})">Ind: gdp_per_cap</a>
        </li>
        <li><a onclick="setHook({hook: 'label', use: 'indicator', which: 'pop'})">Ind: pop</a>
        </li>
        <li><a onclick="setHook({hook: 'label', use: 'value', which: 'Cool'})">Value: "Cool"</a>
        </li>
    </ul>
</div>

{{!-- You may also add buttons and javascript at this point --}}
{{!-- {{> button text="My Button" icon="btn" }} --}}