.vzb-tool-one-ts-one-model {
    @extend .vzb-tool;
    @include absoluteAll;
    padding: 30px;

    .vzb-tool-timeslider-1 {
        position: relative;
    }
    h2 {
        font-family: $vzb-font-family;
        color: $vzb-color-primary;
        margin: 0px;
    }
    p {
        font-size: 14px;
        line-height: 1.5em;
    }
    pre {
        background: $vzb-color-grey-light;
        padding: 15px;
        color: $vzb-color-grey-dark;
    }
    @import'../../../components/_gapminder/timeslider/timeslider';
}
