.vzb-tool-dialogs {
  .vzb-dialogs-dialog {
    &[data-dlg='show'] {
      .vzb-show-filter {
        display: inline-block;
        position: relative;
        max-width: 170px; 
      }
    }
  }
}

//responsiveness
&.vzb-large {
  &.vzb-dialog-expand-true {
    .vzb-dialogs-dialog {
      &.vzb-sidebar {
        &[data-dlg="show"] {
          flex: auto;

          .vzb-dialog-content.vzb-dialog-content-fixed {
            height: 310px;
            max-height: 305px;
            min-width: 140px;
          }
          
          .vzb-dialog-title {
            display: inline-block;
            padding: 15px 0 10px 20px;
            vertical-align: top;
          }
          
          .vzb-show-filter {
            display: inline-block;
            position: relative;
            padding: 10px;
            max-width: 210px;
          }
        }
      }
    }
  }
}
