<div class='vzb-dialog-modal'>
  <span class="thumb-tack-class thumb-tack-class-ico-pin fa" data-dialogtype="show" data-click="pinDialog"></span>
  <span class="thumb-tack-class thumb-tack-class-ico-drag fa" data-dialogtype="show" data-click="dragDialog"></span>
  <div class="vzb-dialog-title">
    <%=t ("buttons/show") %>
    <span class="vzb-dialog-content vzb-show-filter">
      <input class="vzb-show-search" type="search"/>
    </span>
  </div>
  
  <div class="vzb-dialog-content vzb-dialog-content-fixed vzb-dialog-scrollable">
    <p class="vzb-dialog-sublabel"> <%=t ("hints/mount/onlyshowthefollowing") %> </p>
    <div class="vzb-show-list">
      <!-- list will be placed here -->
    </div>
  </div>

  <div class="vzb-dialog-buttons">
    <div class="vzb-dialog-button vzb-show-deselect">
      <%=t ("buttons/deselect") %>
    </div>

    <div data-click="closeDialog" class="vzb-dialog-button vzb-label-primary">
      <%=t ("buttons/ok") %>
    </div>
  </div>

</div>
