.timeslider {
    $buttonAreaWidth: 50px;
    $buttonWidth: 40px;
    $buttonBackground: $colorBlueDark;
    $buttonBackgroundActive: #2F7687;
    $lineColor: #A4CBD4;
    $handleColor: $colorBlueDark;
    #timeslider-play-button {
        @include absolute(0px, auto, 0px, 5px);
        width: $buttonAreaWidth;
        .button {
            @include box-sizing(border-box);
            @include border-radius($buttonWidth);
            @include font-size(18px);
            width: $buttonWidth;
            height: $buttonWidth;
            background: $buttonBackground;
            display: block;
            border: none;
            color: white;
            padding: 10px 15px;
            margin: 5px;
            cursor: pointer;
            &#play-button-pause {
                display: none;
                padding: 10px;
            }
            &:active, &:focus {
                outline: none;
                background: $buttonBackgroundActive;
            }
        }
        #play-button-tooltip, #pause-button-tooltip {
            // display: none;
            @include tooltip($colorGrey);
            @include transition(opacity, 0.3s, ease);
            text-align: center;
            width: 55px;
            color: white;
            visibility: visible;
            font-size: 11px;
            text-transform: uppercase;
            z-index: 100;
            top: -25px;
            left: 0px;
            opacity: 0;
        }
        &:hover #play-button-tooltip {
            opacity: 1;
        }
    }
    #time-slider-wrapper {
        @include absolute(5px, 9px, 5px, $buttonAreaWidth+5);
        margin: 17px 7px;
        // Slider
        .input-range {
            -webkit-appearance: none;
            @include border-radius(2px);
            background: $lineColor;
            height: 5px;
            width: 100%;
            outline: none !important;
            border: 0;
            // Slider Handle
            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                cursor: pointer;
                @include border-radius(7px);
                @include transition(left, 0.1s, ease-in-out);
                background-color: $handleColor;
                border: 4px solid $colorWhite;
                top: -16px;
                width: 16px;
                height: 30px;
            }
            &::-moz-range-thumb {
                cursor: pointer;
                @include border-radius(7px);
                @include transition(left, 0.1s, ease-in-out);
                background: $handleColor;
                border: 4px solid $colorWhite;
                top: -16px;
                width: 8px;
                height: 24px;
            }
        }
        // Tooltip Tag
        .range-value {
            @include absolute(-20px);
            @include font-size(13px);
            margin-left: -3px;
            color: $handleColor;
            font-family: Arial, sans-serif;
            font-weight: bold;
            width: 10px;
            text-align: center;
            display: none;
        }
        &:active .range-value {
            display: block;
        }
        // Firefox Overrides
        ::-moz-range-track {
            border: 0;
        }
        input::-moz-focus-inner {
            border: 0;
        }
    }
    //show pause instead if it's playing
    &.playing {
        #timeslider-play-button {
            #play-button-play {
                display: none;
            }
            #play-button-pause {
                display: block;
            }
            &:hover #pause-button-tooltip {
                opacity: 1;
            }
            &:hover #play-button-tooltip {
                opacity: 0;
            }
        }
        #time-slider-wrapper .range-value {
            display: block;
        }


    }

    &.hide-play-button {
        #timeslider-play-button {
            display: none;
        }
        #time-slider-wrapper {
            @include absolute(5px, 9px, 5px, 5px);
        }
    }
}