#timeslider {

	$buttonAreaWidth: 50px;

	@include box-sizing(border-box);
	@include absoluteAll;
	overflow: visible;

	#timeslider-button {
		@include absolute(0px, auto, 0px, 5px);
		width: $buttonAreaWidth;

		//import specific play button styles
		@import'../../../components/_gapminder/timeslider-play-button/timeslider-play-button';
	}

	#timeslider-slider-wrapper {
		@include absolute(5px, 9px, 5px, $buttonAreaWidth+5);
		
		//import specific slider styles
	    @import'../../../components/_gapminder/timeslider-slider/timeslider-slider';
	}

}