$vzb-ts-btn-area: 50px;
$vzb-ts-btn-width: 40px;
$vzb-ts-btn-bg: $vzb-color-primary;
$vzb-ts-btn-bg-active: #2F7687;
$vzb-ts-slider-color: $vzb-color-primary;
$vzb-ts-value-width: 40px;
.vzb-timeslider {
    min-height: $vzb-ts-btn-area;
    position: relative;
    .vzb-ts-btns {
        @include absolute(0px, auto, 0px, 5px);
        width: $vzb-ts-btn-area;
        .vzb-ts-btn {
            @include box-sizing(border-box);
            @include border-radius($vzb-ts-btn-width);
            @include font-size(18px);
            width: $vzb-ts-btn-width;
            height: $vzb-ts-btn-width;
            background: $vzb-ts-btn-bg;
            display: block;
            border: none;
            color: white;
            padding: 10px 15px;
            margin: 5px;
            cursor: pointer;
            &.vzb-ts-btn-pause {
                display: none;
                padding: 10px;
            }
            &:active, &:focus {
                outline: none;
                background: $vzb-ts-btn-bg-active;
            }
        }
    }
    .vzb-ts-slider-wrapper {
        @include absolute(5px, 9px, 5px, $vzb-ts-btn-area+5);
        // margin: 17px 7px;
        // Slider
        .vzb-ts-slider {
            @include absolute(0px, 0px, 0px, 0px);
            @include font-size(12px);
            overflow: visible;
            font-family: $vzb-font-family;
            color: $vzb-ts-slider-color;
            width: 100%;
            height: 100%;

            .background {
                cursor: pointer !important;
            }
            
            .vzb-ts-slider-axis {
                @include user-select-none();
                font: 9px $vzb-font-family;
                fill: $vzb-ts-slider-color;
                opacity: 0.6;
                font-weight: bold;
                cursor: pointer;

                .domain {
                    fill: none;
                    opacity: 1 !important;
                    stroke: $vzb-ts-slider-color;
                    stroke-opacity: 0.3;
                    stroke-width: 5px;
                    stroke-linecap: round;
                }
            }

            .vzb-ts-slider-handle {
                fill: $vzb-ts-slider-color;
                stroke: #FFFFFF;
                stroke-width: 4px;
                cursor: pointer;
            }

            .vzb-ts-slider-value {
                @include user-select-none();
                font: 11px $vzb-font-family;
                fill: $vzb-ts-slider-color;
                font-weight: bold;
            }
        }
    }
    //show pause instead if it's playing
    &.vzb-playing {
        .vzb-ts-btns {
            .vzb-ts-btn-play {
                @extend .vzb-hidden;
            }
            .vzb-ts-btn-pause {
                display: block;
            }
            &:hover .vzb-ts-btn-pause-tooltip {
                opacity: 1;
            }
            &:hover .vzb-ts-btn-play-tooltip {
                opacity: 0;
            }
        }
        .vzb-ts-slider-value {
            display: block;
        }
    }
    &.vzb-ts-hide-play-button {
        .vzb-ts-btns {
            @extend .vzb-hidden;
        }
        .vzb-ts-slider-wrapper {
            @include absolute(5px, 9px, 5px, 5px);
        }
    }
    &.vzb-ts-show-value {
        .vzb-ts-slider-value {
            display: block !important;
        }
    }
    &.vzb-ts-show-limits {
        .vzb-ts-slider-limit-start, .vzb-ts-slider-limit-end {
            display: block !important;
        }
        &.vzb-ts-show-limits-no-start {
            .vzb-ts-slider-limit-start {
                @include opacity(0);
            }
        }
        &.vzb-ts-show-limits-no-end {
            .vzb-ts-slider-limit-end {
                @include opacity(0);
            }
        }
    }
}