<div class="vzb-timeslider vzb-ts-loading">
  <div class="vzb-ts-slider-wrapper">
    <svg class="vzb-ts-slider">
      <g>
        <g class="vzb-ts-slider-axis"></g>
        <g class="vzb-ts-slider-slide">
          <circle class="vzb-ts-slider-handle"></circle>
          <text class="vzb-ts-slider-value"></text>
        </g>
      </g>
      </svg>
  </div>

  <!-- SVG VIZABI ICONS
       source: https://github.com/encharm/Font-Awesome-SVG-PNG/ -->
  <div class="vzb-ts-btns">
    <button class="vzb-ts-btn-loading vzb-ts-btn">
      <div class='vzb-loader'></div>
    </button>
    <button class="vzb-ts-btn-play vzb-ts-btn">
      <svg class="vzb-icon vzb-icon-play" width="1792" height="1792" viewBox="0 0 1792 1792"
           xmlns="http://www.w3.org/2000/svg">
        <path d="M1576 927l-1328 738q-23 13-39.5 3t-16.5-36v-1472q0-26 16.5-36t39.5 3l1328 738q23 13 23 31t-23 31z"/>
      </svg>
    </button>
    <button class="vzb-ts-btn-pause vzb-ts-btn">
      <svg class="vzb-icon vzb-icon-pause" width="1792" height="1792" viewBox="0 0 1792 1792"
           xmlns="http://www.w3.org/2000/svg">
        <path
          d="M1664 192v1408q0 26-19 45t-45 19h-512q-26 0-45-19t-19-45v-1408q0-26 19-45t45-19h512q26 0 45 19t19 45zm-896 0v1408q0 26-19 45t-45 19h-512q-26 0-45-19t-19-45v-1408q0-26 19-45t45-19h512q26 0 45 19t19 45z"/>
      </svg>
    </button>
  </div>
    <div class="vzb-warning-data">don`t trust this data yet</div> 
</div>
