<div class="vzb-timeslider">
    <div class="vzb-ts-btns">
        <button class="vzb-ts-btn-play vzb-ts-btn"><i class="fa fa-play"></i>
        </button>
        <button class="vzb-ts-btn-pause vzb-ts-btn"><i class="fa fa-pause"></i>
        </button>
    </div>
    <div class="vzb-ts-slider-wrapper">
        <input class="vzb-ts-slider" type="range" />
        <span class="vzb-ts-slider-value"></span>
        <span class="vzb-ts-slider-limit-start"></span>
        <span class="vzb-ts-slider-limit-end"></span>
    </div>
</div>
