body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.container {
    margin-right: 250px;
    text-align: center;
}
.aux {
    width: 230px;
    padding: 10px 20px 10px 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: block;
    background-color: #EEF1F2;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    font-size: 12px;

}
.aux p {
    display: block;
    color: #999;
    font-size: 11px;
    text-transform: uppercase;
}
.aux .json_box {
    color: #666;
    background: #E0E8EA;
    padding: 10px;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
}
.aux button { 
    width: 100%;
    display: block;
}

.buttons {
    background-color: #4b98aa;
    padding: 10px;
    padding-bottom: 0px;
    height: 42px;
    overflow: hidden;
    overflow-x: scroll;
}

.buttons label {
    color: #92C3CF;
    font-size: 11px;
    text-transform: uppercase;
    padding: 10px;
    display: inline-block;
}
.buttons button, .aux button {
  position: relative;
  vertical-align: top;
  height: 32px;
  padding: 0px 10px;
  font-size: 12px;
  color: white;
  text-align: center;
  background: #75ADBB;
  border: 0;
  cursor: pointer;
  margin-bottom: 10px;
}
.buttons button:active, .aux button:active {
  top: 1px;
  outline: none;
}

.placeholder {
    display: inline-block;
    position: relative;
    width: 320px;
    height: 568px;
    margin: 20px auto;
    border: 1px solid #ccc;
    overflow: hidden;
    overflow-y: scroll;
}
.placeholder.fullscreen {
  position: absolute;
  top: 52px;
  left: 0;
  right: 260px;
  bottom: 0;
  margin: auto;
  border: none;
  width: auto;
  height: auto;
}
p {
    margin-top: 10px;
}