//responsiveness
&.vzb-large {
  &.vzb-dialog-expand-true {
    .vzb-dialogs-dialog {
      &.vzb-sidebar {
        &[data-dlg="mapoptions"] {
          flex: none;

          .vzb-dl-holder .vzb-draggable {
            height: initial;
          }
        }
      }
    }
  }
}

.vzb-tool-dialogs {
  .vzb-dialogs-dialog {
    &[data-dlg='mapoptions'] {
      >.vzb-dialog-modal {
        >.vzb-dialog-content {
          label {
            display: inline;
            margin-right: 5px;
          }
          .vzb-map-style {
            label {
              display: block;
            }
          }
        }
      }
      &.vzb-sidebar {
        .vzb-lmap-engine,
        .vzb-lmap-style {
          display: none;
        }
  	  }
    }
  }
}
