<div class='vzb-dialog-modal'>
    <span class="thumb-tack-class thumb-tack-class-ico-pin fa" data-dialogtype="mapoptions" data-click="pinDialog"></span>
    <span class="thumb-tack-class thumb-tack-class-ico-drag fa" data-dialogtype="mapoptions" data-click="dragDialog"></span>
    <div class="vzb-dialog-title">
        <%=t ("buttons/mapoptions") %>
    </div>
    <div class="vzb-dialog-content">
        <div class="vzb-lmap-container vzb-lmap-layers">
            <form class="vzb-dialog-paragraph  vzb-map-layers">
                <label for="showBubblesChk"><input id="showBubblesChk" type="checkbox" name="showBubbles"><%=t ("hints/lbubblemap/showBubbles") %></label>
                <label for="showAreasChk"><input id="showAreasChk" type="checkbox" name="showAreas"><%=t ("hints/lbubblemap/showAreas") %></label>
                <label for="showMapChk"><input id="showMapChk" type="checkbox" name="showMap"><%=t ("hints/lbubblemap/showMap") %></label>
            </form>
        </div>
        <div class="vzb-lmap-container vzb-lmap-engine">
            <p class="vzb-dialog-sublabel"><%=t ("hints/lbubblemap/mapEngine") %></p>
            <form class="vzb-dialog-paragraph vzb-map-engine"></form>
        </div>
        <div class="vzb-lmap-container vzb-lmap-style">
            <p class="vzb-dialog-sublabel"><%=t ("hints/lbubblemap/mapStyle") %></p>
            <form class="vzb-dialog-paragraph  vzb-map-style"></form>
        </div>
    </div>
    <div class="vzb-dialog-buttons">
        <div data-click="closeDialog" class="vzb-dialog-button vzb-label-primary">
            <%=t ("buttons/ok") %>
        </div>
    </div>
</div>