doctype html
html(lang="en", ng-app='gapminderTools')
  head
    include ./config/base.jade
    title Gapminder Tools
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    //-include styles
    link(href='./styles/main.css', rel='stylesheet')
    link(href='./public/favicon.ico', rel='shortcut icon')
  body
    h1 404 - Page not found
    a(href="/tools/") Go to Gapminder Tools page
    include ./views/analytics.jade
    script ga('send', 'pageview', { page: '404.html' });
