doctype html
html(lang="en", ng-app='gapminderTools')
  head
    include ./config/base.jade
    title Gapminder Tools
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    //-include styles
    link(href='./styles/main.css', rel='stylesheet')
    link(href='./public/favicon.ico', rel='shortcut icon')
    //-Vizabi stylesheet
    link(href='http://static.gapminderdev.org/vizabi/develop/dist/vizabi.css', rel='stylesheet')
  body(ng-controller='gapminderToolsCtrl', ng-class='{"loading" : loading}', class="{{ bodyClass }}", ng-cloak)

    .wrapper(ng-class='{"hidden" : loadingError}')
        include ./views/header.jade
        include ./views/content.jade
        include ./views/more.jade
    .wrapper-error(ng-class='{"hidden" : !loadingError}')
        include ./views/error.jade

    //- Template for the menu
    script(type="text/ng-template", id="menu.html")
        include ./views/menu.jade

    //- include dependencies and app script
    script(src='./vendor/d3/d3.min.js')
    script(src='http://static.gapminderdev.org/vizabi/develop/dist/vizabi.min.js')
    script(src='./vendor/angular/angular.min.js')
    script(src='./vendor/angular-route/angular-route.min.js')
    script(src='./scripts/app.js')
    include ./views/analytics.jade
