<!DOCTYPE html>
<html lang="en" ng-app="gapminderTools">
<head>
  <base href="/tools/">
  <title>Gapminder Tools</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  {% for (var prop in o.htmlWebpackPlugin.files.css) { %}
  <link href="{%= o.htmlWebpackPlugin.files.css[prop] %}" rel="stylesheet" type="text/css">
  {% } %}
  <link href="./favicon.ico" rel="shortcut icon">
</head>
<body ng-controller="gapminderToolsCtrl" ng-class="{loading : loading}" class="{{ bodyClass }}" ng-cloak>
<div class="wrapper" ng-class="{hidden : loadingError}">
  <!--Header-->
  <div class="header">
    <a class="header-title" href="http://www.gapminder.org">
      GAPMINDER TOOLS
    </a>

    <div class="menu-mobile" ng-click="navCollapsed = !navCollapsed"  ng-class="navCollapsed ? 'open' : '' ">
      <div class="icon"></div>
    </div>
    <ul class="nav navbar-nav navbar-nav-left desktop" nav-expandable="" items="expandedItems"></ul>
    <ul class="nav navbar-nav navbar-nav-left mobile" ng-if="navCollapsed" nav-expandable="" items="expandedItems"></ul>
  </div>

  <!--Content-->
  <div class="column main" id="vizabi-placeholder"></div>

  <!--More-->
  <div class="more">
    <div class="related">
      <h2 class="heading-2">Related</h2>
      <ul class="related-items">
        <li class="related-item" ng-repeat="(key, related) in relatedItems track by $index">
          <a href="{{::related.link}}">
            <div class="related-item-thumbnail">
              <img ng-src="{{::related.image}}">
            </div>
            <div class="related-item-info">
              <span class="title">{{::related.title}}</span>
              <span class="subtitle">{{::related.subtitle}}</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="about">
      <h2 class="heading-2">See also</h2>

      <div class="menu"></div>
      <ul class="menu-primary">
        <li class="menu-item" ng-repeat="(key, tool) in tools track by $index">
          <a href ng-hide="activeTool == key" ng-href="{{::key}}">
            <span class="title">{{::tool.title}}</span>
            <img class="image" ng-src="{{::tool.image}}">
          </a>
        </li>
      </ul>
    </div>
  </div>

</div>

<div class="wrapper-error" ng-class="{hidden : !loadingError}">
  <!--Error-->
  <h1 class="header-title">GAPMINDER TOOLS</h1>

  <h2>Ops! Something went terribly wrong</h2>
</div>

{% for (var chunk in o.htmlWebpackPlugin.files.js) { %}
<script src="{%=o.htmlWebpackPlugin.files.js[chunk]%}"  charset="utf-8"></script>
{% } %}

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
    a = s.createElement(o), m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-67908993-1', 'auto');
</script>

</body>
</html>
