doctype html
html(lang="en", ng-app='gapminderTools')
  head
    include ./config/base.jade
    meta(http-equiv="refresh" content="0; url=/tools/")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
  body
    a(href="/tools/") Go to Gapminder Tools page
    include ./views/analytics.jade
    script ga('send', 'pageview', { page: 'redirect.html' });