{
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    },
    "sourceType": "module"
  },
  "env": {
    "browser": true
  },
  "rules": {
    // "callback-return": 1,
    // "no-undefined": 1,
    // "no-unused-vars": 1,
    // "consistent-return": 1,
    // "no-inner-declarations": 1,
    //    "prefer-destructuring": [
    //      "error"
    //    ],
    "no-else-return": 1,
    "no-useless-return": 1,
    "no-useless-escape": 1,
    "prefer-spread": 1,
    "no-unmodified-loop-condition": 1,
    "block-scoped-var": 1,
    "no-redeclare": 1,
    "no-var": 1,
    "wrap-iife": [
      "error",
      "inside"
    ],
    "no-useless-call": 1,
    "block-spacing": 1,
    "no-new": 1,
    "object-shorthand": [
      "error",
      "always",
      {
        "avoidQuotes": true
      }
    ],
    "space-infix-ops": [
      "error"
    ],
    "prefer-arrow-callback": [
      "error"
    ],
    "quotes": [
      "error",
      "double",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1,
        "MemberExpression": 1
      }
    ],
    "space-unary-ops": [
      "error",
      {
        "words": true,
        "nonwords": false
      }
    ],
    "space-in-parens": [
      "error"
    ],
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "never",
        "named": "never",
        "asyncArrow": "always"
      }
    ],
    "space-before-blocks": [
      "error",
      "always"
    ],
    "semi": [
      "error"
    ],
    "operator-assignment": [
      "error"
    ],
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "no-multiple-empty-lines": [
      "error"
    ],
    "key-spacing": [
      "error"
    ],
    "keyword-spacing": [
      "error"
    ],
    "comma-spacing": [
      "error"
    ],
    "array-bracket-spacing": [
      "error",
      "never"
    ],
    "no-floating-decimal": 1,
    "no-trailing-spaces": 1,
    "no-debugger": 1,
    "no-dupe-args": 1,
    "no-dupe-keys": 1,
    "no-duplicate-case": 1,
    "no-control-regex": 1,
    "no-empty-character-class": 1,
    "no-empty": 1,
    "no-ex-assign": 1,
    "no-extra-boolean-cast": 1,
    "no-extra-semi": 1,
    "no-func-assign": 1,
    "no-invalid-regexp": 1,
    "no-irregular-whitespace": 1,
    "no-obj-calls": 1,
    "no-regex-spaces": 1,
    "no-sparse-arrays": 1,
    "no-template-curly-in-string": 1,
    "no-unexpected-multiline": 1,
    "no-unreachable": 1,
    "no-unsafe-finally": 1,
    "no-unsafe-negation": 1,
    "use-isnan": 1,
    "valid-typeof": 1,
    "array-callback-return": 1,
    "class-methods-use-this": 1,
    "dot-location": [
      "error",
      "property"
    ],
    "no-case-declarations": 1,
    "no-empty-pattern": 1,
    "no-extra-bind": 1,
    "no-extra-label": 1,
    "no-lone-blocks": 1,
    "no-multi-str": 1,
    "no-new-func": 1,
    "no-new-wrappers": 1,
    "no-octal-escape": 1,
    "no-octal": 1,
    "no-proto": 1,
    "no-self-assign": 1,
    "no-self-compare": 1,
    "no-unused-labels": 1,
    "no-with": 1,
    "no-catch-shadow": 1,
    "no-delete-var": 1,
    "no-label-var": 1,
    "no-restricted-globals": 1,
    "no-shadow-restricted-names": 1,
    "no-undef-init": 1,
    "comma-style": [
      "error"
    ],
    "computed-property-spacing": [
      "error"
    ],
    "eol-last": [
      "error"
    ],
    "func-call-spacing": [
      "error"
    ],
    "func-name-matching": [
      "error"
    ],
    "max-nested-callbacks": [
      "error"
    ],
    "max-depth": [
      "error",
      5
    ],
    "no-array-constructor": 1,
    "no-new-object": 1,
    "no-tabs": 1,
    "no-unneeded-ternary": 1,
    "no-whitespace-before-property": 1,
    "semi-spacing": [
      "error"
    ],
    "template-tag-spacing": [
      "error"
    ],
    "unicode-bom": [
      "error"
    ],
    "arrow-body-style": [
      "error",
      "as-needed"
    ],
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "arrow-spacing": [
      "error"
    ],
    "generator-star-spacing": [
      "error",
      "after"
    ],
    "no-class-assign": 1,
    "no-const-assign": 1,
    "no-dupe-class-members": 1,
    "no-duplicate-imports": [
      "error"
    ],
    "no-new-symbol": 1,
    "no-useless-computed-key": 1,
    "no-useless-constructor": 1,
    "no-useless-rename": 1,
    "prefer-const": [
      "error"
    ],
    "prefer-numeric-literals": 1,
    "require-yield": 1,
    "rest-spread-spacing": [
      "error"
    ],
    "symbol-description": 1,
    "template-curly-spacing": [
      "error"
    ],
    "yield-star-spacing": [
      "error"
    ]
  }
}
