// ****************************************************************************
//
//   Common styles used in various charts
//
// ****************************************************************************

%vzb-chart-wrapper {
  @include position(absolute, 0px);
  overflow: hidden;
}

%vzb-chart-svg {
  @include position(absolute, 0px);
  color: $vzb-color-grey-dark;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
}

%vzb-chart-ticks-small {
  font-size: $vzb-font-size-small;
}

%vzb-chart-ticks-medium {
  font-size: $vzb-font-size-regular;
}

%vzb-chart-ticks-large {
  font-size: $vzb-font-size-medium;
}

%vzb-chart-ticks {
  @extend %vzb-chart-ticks-small;
  fill: currentColor;
  stroke: none;
}

%vzb-chart-axis-title {
  color: $vzb-color-primary-darkest;
  fill: currentColor;
  //cursor: pointer;
    &:hover{
        //text-decoration: underline;
    }
}

%vzb-chart-axis-title-small {
  font-size: $vzb-font-size-regular;
}

%vzb-chart-axis-title-medium {
  font-size: $vzb-font-size-medium;
}

%vzb-chart-axis-title-large {
  font-size: $vzb-font-size-large;
}

%vzb-chart-axis {
  fill: none;
  stroke: $vzb-color-grey;
  color: $vzb-color-grey;
  path, line {
    fill: none;
    stroke: $vzb-color-grey;
    shape-rendering: crispEdges;
  }
  text {
    @extend %vzb-chart-ticks;
  }
}


%vzb-chart-info {
  opacity: 1;    
  text {
    fill: $vzb-color-grey-light;
    pointer-events: none;
    dominant-baseline: middle;
    text-anchor: middle;
  } 
  circle {
    fill: none;
    pointer-events: visible;
    stroke: $vzb-color-grey-light;
    stroke-width: 2;
    cursor: pointer;
  }
  &:hover{ opacity: 1;
    text {fill: $vzb-color-primary;}
    circle {
        fill: $vzb-color-grey-light; 
        stroke: $vzb-color-primary;
    }
  }
}

%vzb-chart-tooltip{
    text{
        pointer-events: none;
        text-anchor: end;
        fill: $vzb-color-black;
    }
    rect{
        @include transition(opacity 200ms linear);
        cursor: pointer;
        pointer-events: none;
        fill: white;
        stroke: $vzb-color-black;
        stroke-width: 1.5px;
    }
}

%vzb-chart-label-shadow{
    fill: white;
    @include opacity(0.5);
    stroke: white;
}
%vzb-chart-label-shadow-small{stroke-width: 2px}
%vzb-chart-label-shadow-medium{stroke-width: 3px}
%vzb-chart-label-shadow-large{stroke-width: 4px}