$fontFamily: 'Arial Rounded MT Bold', Arial, sans-serif;
$colorIMmediumBlue: #607889;
$colorDarkWhite: #F2FAFC;
$colorLightWhite: #FDFDFD;
$colorWhite: #FFFFFF;

$colorGrey: #999999;

$colorBlueDark: #4B98AA;
$colorBlueLight: #F2FAFC;
$colorBlue: #62CCE3; 
$colorRed: #F77481; 
$colorGreen: #B4DE79;

$preloader: url('assets/imgs/preloader.gif');