// ****************************************************************************
//
//   Common Variables
//   variables across tools & components
//
//   -> Naming convention:
//      general -> specific
//      E.g: $vzb-border-color-blue;
//
// ****************************************************************************
// ----------------------------------------------------------------------------
//   Sizes
// ----------------------------------------------------------------------------
$vzb-resolution-medium: 750px;
$vzb-resolution-large: 970px;
$vzb-font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; //'Arial Rounded MT Bold', Arial, 
$vzb-font-family-alt: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
$vzb-font-size-default: 15px;
// ----------------------------------------------------------------------------
//   Colors
//   -> Naming convention:
//   darkest, darker, dark, color, light, lighter, lightest
// ----------------------------------------------------------------------------
// Primary = Low saturated Blue
$vzb-color-primary: #607889;
$vzb-color-primary-dark: #4B98AA;
$vzb-color-primary-lightest: #F2FAFC;
// Grayscale
$vzb-color-white: #FFFFFF;
$vzb-color-grey-darkest: #333333;
$vzb-color-grey-dark: #666666;
$vzb-color-grey: #999999;
$vzb-color-grey-light: #F2FAFC;
$vzb-color-grey-lightest: #FDFDFD;
// Vizabi main colors
$vzb-color-red: #F77481;
$vzb-color-yellow: #E1CE00;
$vzb-color-green: #B4DE79;
$vzb-color-blue: #62CCE3;
$vzb-gapminder-main: #FFCA34;
// ----------------------------------------------------------------------------
//   Loader (spinner)
// ----------------------------------------------------------------------------
$vzb-loader-speed: 0.75s;
$vzb-loader-thickness: 8px;
$vzb-loader-size: 30px;
$vzb-loader-color: #E1E1E1;
$vzb-loader-bgcolor: $vzb-color-white;
// ----------------------------------------------------------------------------
//   Common styles
// ----------------------------------------------------------------------------
.vzb-hidden {
  display: none !important;
}

.vzb-invisible {
  visibility: hidden !important;
}

.vzb-transparent {
  opacity: 0 !important;
}

.vzb-placeholder {
  position: relative;
  background-color: $vzb-color-white;

  &.vzb-loading, &.vzb-loading-data {
    //todo: Make background transparent, but not preloader circles
    &:before {
      content: ' ';
      background-color: $vzb-loader-bgcolor;
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      bottom: 0px;
      right: 0px;
      z-index: 9998;
    }

    &:after {
      @include animation-duration($vzb-loader-speed);
      @include animation-iteration-count(infinite);
      @include animation-name(rotate-forever);
      @include animation-timing-function(linear);
      @include size($vzb-loader-size);
      @include position(absolute, 50% 0 0 50%);
      content: ' ';
      display: inline-block;
      border: $vzb-loader-thickness solid $vzb-loader-color;
      border-right-color: transparent;
      border-radius: 50%;
      margin: -1 * $vzb-loader-size/2;
      z-index: 9999;
    }
  }
  //loading data specifically
  &.vzb-loading-data {
    &:before {
      @include opacity(0.9);
    }
  }
  //loading anything
  &.vzb-loading {
    // * {
    //     visibility: hidden;
    // }
    &:before {
      @include opacity(0.8);
    }
  }

  //loading anything
  &.vzb-force-fullscreen {
    @include position(fixed, 0px 0px 0px 0px);
    display: inline-table;
    width: 100% !important;
    height: 100% !important;
    z-index: 9997;
    margin: 0px;
  }

  .vzb-icon {
    width: 15px;
    height: 15px;
    path {
      fill: $vzb-color-primary;
    }
  }
}
