/*
html5doctor.com Reset Stylesheet v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
*/

/*
MOST OF THE ORIGINAL CODE IS REMOVED FROM THIS FILE (we don't use these properties and tags)
*/

.vzb-placeholder {
  font-size: $vzb-font-size-base;
  font-variant: normal;
  text-align: left;

  div, span, h1, h2, h3, h4, h5, h6, p, a, i, svg, text, g {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    white-space: nowrap;
    @include box-sizing(border-box);
  }

  input, textarea, keygen, select, button {
    font-size: $vzb-font-size-base;
  }
}
