//general styles
.vzb-indicator-display {
    $indicatorColor: $vzb-color-grey;
    color: $indicatorColor;
    padding: 10px 30px;
    font-family: $vzb-font-family;
    overflow: hidden;
    overflow-y: scroll;
}