//general styles
.vzb-indicator-display {
    $indicatorColor: $vzb-color-grey;

    @include absolute(130px, 0, 10px, 0);
    color: $indicatorColor;
    text-align: left;
    padding: 10px 30px;
    font-family: $vzb-font-family;
    overflow: hidden;
    overflow-y: scroll;
}
//large specific styles
&.vzb-large, &.vzb-medium {
    .vzb-indicator-display {
        @include absolute(0, 0, 10px, 50%);
    }
}