//general styles
.vzb-bo-holder {

  height: 20px;
  margin: 0 auto;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -4px;
    width: 100%;
    height: 6px;
    background-color: rgba($vzb-color-primary, 0.3);
    @include border-radius(5px 5px 5px 5px);
  }

  &.vzb-disabled {
    &:before {
      background-color: rgba($vzb-color-grey, 0.2);
    }
    .vzb-bo-slider {
      opacity: 0.5;
    }
  }

  .vzb-bo-slider {
    position: absolute;
    top: 50%;
    margin-top: -3px;
    height: 3px;
    width: 100%;
    -webkit-appearance: none;
    background: transparent;
    outline: none !important;
    border: 0;

    // Slider Handle
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      cursor: pointer;
      @include border-radius(20px);
      @include transition(left 0.1s ease-in-out);
      background-color: $vzb-color-primary;
      top: -12px;
      width: 20px;
      height: 20px;
      border: 3px solid white;
    }
    &::-moz-range-thumb {
      cursor: pointer;
      @include border-radius(20px);
      @include transition(left 0.1s ease-in-out);
      background: $vzb-color-primary;
      top: -12px;
      width: 20px;
      height: 20px;
      border: 3px solid white;
    }

  }
}

//large specific styles
&.vzb-large {
  .vzb-bo-holder {
    //...
  }
}

//medium specific styles
&.vzb-medium {
  .vzb-bo-holder {
    //...
  }
}

//small specific styles
&.vzb-small {
  .vzb-bo-holder {
    //...
  }
}
