
@import '../../tool';

.vzb-tool-bar-chart {
	@extend .vzb-tool;
	
	@import '../../../components/_examples/bar-chart/bar-chart';
	@import '../../../components/_gapminder/buttonlist/buttonlist';
	@import '../../../components/_gapminder/header/header';
	@import '../../../components/_gapminder/timeslider/timeslider';
}