.vzb-dialog-content.vzb-dialog-content-fixed {
  height: 310px;
  max-height: 305px;
  min-width: 140px;
}

.vzb-dialog-title {
  display: inline-block;
  padding: 15px 0 10px 20px;
  vertical-align: top;
}

.vzb-find-filter {
  display: inline-block;
  position: relative;
  padding: 10px;
  max-width: 210px;
}
