&.vzb-buttonlist-dialog {
  &.vzb-dialog-side {
    .vzb-dialog-buttons {
      display: block;
    }

    .vzb-dialog-button.vzb-label-primary {
      visibility: hidden;
    }
  }
}

.vzb-dialog-content {
  flex-grow: 1;
}

.vzb-dialog-title {
  flex-grow: 0;
}

.vzb-dialog-content.vzb-dialog-content-fixed {
  height: 310px;
  max-height: 305px;
  min-width: 140px;
}

.vzb-dialog-title {
  display: inline-block;
  padding: 15px 0 10px 20px;
  vertical-align: top;
  margin-top: 0;
}

.vzb-find-filter {
  display: inline-block;
  position: relative;
  padding: 10px;
  max-width: 210px;
  top: 0;
}
