
.vzb-tool-dialogs {
  .vzb-dialogs-dialog {
    &[data-dlg="zoom"] {
      @import '../../zoombuttonlist/zoombuttonlist';
      &.vzb-moreoptions {
        .vzb-dialog-title {
          margin-bottom: 15px;
          .vzb-dialog-zoom-buttonlist {
            padding-top: 10px;
          }
        }          
      }
      &.vzb-sidebar {
        >.vzb-dialog-modal {
          >.vzb-dialog-title {
            padding-top: 0;
            .vzb-dialog-zoom-buttonlist {
              @include rtl {
                padding-left: 0;
                padding-right: 5px;
              }
              background-color: $vzb-color-primary-lightest;
              padding-left: 5px;
              vertical-align: middle;
            }
          }
        }
        .vzb-panwitharrow-switch,
        .vzb-zoomonscrolling-switch,
        .vzb-adaptminmaxzoom-switch {
          display: none;
        }
  	  }
    }
  }
}

//responsiveness
&.vzb-large {
  &.vzb-dialog-expand-true {
    .vzb-dialogs-dialog {
      &[data-dlg="zoom"] {
        &.vzb-sidebar {
          flex: none;
        }
      }
    }
  }
}
