<div class='vzb-dialog-modal'>
  <span class="thumb-tack-class thumb-tack-class-ico-pin fa" data-dialogtype="label" data-click="pinDialog"></span>
  <span class="thumb-tack-class thumb-tack-class-ico-drag fa" data-dialogtype="label" data-click="dragDialog"></span>
  <div class="vzb-dialog-title"> 
    <%=t ("buttons/zoom") %>
    <div class="vzb-dialog-zoom-buttonlist"></div>
  </div>
      
      
  <div class="vzb-dialog-content">
    <div class="vzb-zoomonscrolling-switch"></div>
    <div class="vzb-adaptminmaxzoom-switch"></div>
  </div>

  <div class="vzb-dialog-buttons">
    <div data-click="closeDialog" class="vzb-dialog-button vzb-label-primary">
      <%=t ("buttons/ok") %>
    </div>
  </div>

</div>
