<div class='vzb-dialog-modal'>
  <span class="thumb-tack-class thumb-tack-class-ico-pin fa" data-dialogtype="moreoptions" data-click="pinDialog"></span>
  <span class="thumb-tack-class thumb-tack-class-ico-drag fa" data-dialogtype="moreoptions" data-click="dragDialog"></span>


  <div class="vzb-dialog-title">
    <%=t ("buttons/more_options") %>
  </div>

  <div class="vzb-dialog-content vzb-dialog-scrollable">
    <div class='vzb-dialog-options-buttonlist'>
    </div>
    <div class="vzb-accordion">
    </div>
  </div>

  <div class="vzb-dialog-buttons">
    <div data-click="closeDialog" class="vzb-dialog-button vzb-label-primary">
      <%=t ("buttons/ok") %>
    </div>
  </div>

</div>