#info-box-wrapper {
  overflow: auto;
  height: 60px;
  line-height: 20px;
  text-align: left;
  color: #0a5f7c;
  @include font-size(12px);

  > div {
    display: none;
    background-color: #edf9fe;
    position: relative;
    padding: 10px 40px 10px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);

    &#info-top5 {
      padding-right: 10px;
    }

    &:last-child {
      border-bottom-width: 0;
    }
  }
}

.info-box-placeholder:first-letter {
  text-transform: capitalize;
}

.info-box-close {
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.3);
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 17px;
  font-weight: 400;
  border-radius: 100%;
  font-size: 10px;
}

#info-top5 {

  .info-box-close {
    display: none;
  }
}

&.medium {
  #info-box-wrapper {
    @include font-size(14px);
  }
}

&.large {
  #info-box-wrapper {
    height: auto;
    @include font-size(16px);

    > div {
      margin-bottom: 10px;
      background-color: #cdeefc;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 5px;
    }
  }
}
