$timesliderHeight: 40px;
$buttonAreaWidth: 50px;
$buttonWidth: 40px;
$buttonBackground: #666666;
$lineColor: #cccccc;

#timeslider {

	@include box-sizing(border-box);
	@include absoluteAll;
	overflow: visible;

	#time-slider-button {
		@include absolute(0px, auto, 0px, 0px);
		width: $buttonAreaWidth;

		.button {
			@include box-sizing(border-box);
			@include border-radius($buttonWidth);
			display: block;
			border: none;
			width: $buttonWidth;
			height: $buttonWidth;
			background: $buttonBackground;
			color: white;
			padding: 10px 15px;
			margin: 5px;
        	@include font-size(18px);

        	&#time-slider-pause {
        		display: none;
        		padding: 10px;
        	}
		}
	}

	#time-slider-area {
		@include absolute(5px, 5px, 5px, $buttonAreaWidth+5px);

		#time-slider {
			@include opacity(0.5);
		    display: block;
		    width: 100%;
		    height: $timesliderHeight;
		    position: absolute;
		    -webkit-transition: opacity 0.3s ease-out;
		     -moz-transition: opacity 0.3s ease-out;
		       -o-transition: opacity 0.3s ease-out;
		          transition: opacity 0.3s ease-out; 

			#time-slider-drag {
			    cursor: pointer;
			    color: $buttonBackground;
			    padding: 25px 10px;
			    position: absolute;
			    font-family: Arial, sans-serif;
			    font-weight: bold;

			    &:before {
				    @include absolute(5px, auto, auto, 5px);
				    content: ' ';
				    display: block;
				    background-color: $buttonBackground;
				    width: $timesliderHeight - 30px;
				    height: $timesliderHeight - 10px;
				}
				&:after {
					@include absolute(-10px, auto, auto, -4px);
		        	@include font-size(13px);
					content: attr(data-year);
				    width: $timesliderHeight - 20px;
				    display: none;
				}
			}

		    &.dragging {
		    	@include opacity(1);

		    	#time-slider-drag:after {
				    display: block;
				}
		    }

		    .time-slider-line {
		    	@include absolute(50%);
			    margin-top: -5px;
			    height: 10px;
			    background-color: $lineColor;
			    display: block;
			    -webkit-transition: height 0.1s ease-out;  /* Chrome 1-25, Safari 3.2+ */
			     -moz-transition: height 0.1s ease-out;  /* Firefox 4-15 */
			       -o-transition: height 0.1s ease-out;  /* Opera 10.50–12.00 */
			          transition: height 0.1s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
			}
		}

	}

	&.playing {
		#time-slider-button {
			#time-slider-play {
	    		display: none;
	    	}
			#time-slider-pause {
	    		display: block;
	    	}
	    }
	    #time-slider-area #time-slider #time-slider-drag:after {
			display: block;
		}
	}

}

&.medium, &.large {

	#timeslider {
		#time-slider-button {
			width: $buttonAreaWidth + 10px;
			.button {
				margin: 15px 10px;
			}
		}
		#time-slider-area {
			@include absolute(15px, 15px, 15px, $buttonAreaWidth+25px);
		}
	}
}