.vzb-stepped-speed-slider {
  position: relative;
  height: $size-timeslider-small;
  margin-top: 5px;

  .vzb-stepped-speed-slider-triangle {
    cursor: pointer;
    fill: $vzb-color-primary;
  }

  svg {
    width: 100%;
  }

  line {
    stroke: $vzb-color-primary;
  }
}
