@import '../../tool';

.vzb-tool-pop-slider {
	@extend .vzb-tool;

	@import '../../../components/_examples/year-display/year-display';
	@import '../../../components/_examples/indicator-display/indicator-display';
	@import '../../../components/_gapminder/timeslider/timeslider';
	
	//overwrite content style
	.vzb-tool-content {
		top: 0px !important;
	}

	.vzb-tool-year {
		text-align: center;
	}

	.vzb-tool-timeslider {
		@include absolute(auto, 20px, 20px, 20px);
		display: block;
		height: 50px;
	}
}