.vzb-tool-dialogs {
  .vzb-dialogs-dialog {
    &[data-dlg="colors"] {
      .vzb-dialog-content {
        min-height: 120px;
      }
      &.vzb-popup {
        .vzb-dialog-content {
          overflow: visible;
        }
      }
    }
  }
}
  
//responsiveness
&.vzb-large {
  &.vzb-dialog-expand-true {
    .vzb-dialogs-dialog {
      &.vzb-sidebar {
        &[data-dlg="colors"] {
          z-index: auto !important;
          flex: none;

          .vzb-dialog-content {
            //max-height: 190px;
            max-height: '';
            min-height: 120px;
          
            .vzb-colorpicker-svg {
              z-index: 10;
            }
          }
      
          .vzb-dialog-title {
            display: inline-block;
            flex-grow: 0;
          }
          
          .vzb-cl-outer {
            .vzb-cl-holder {
              //max-height: 160px;
              //overflow-y: scroll;
              max-height: '';
              overflow-y: hidden;
              overflow-x: hidden;
            }
      
            .vzb-cl-colorlist {
              overflow: visible;
            }
          }
      
          .vzb-caxis-selector {
            flex-grow: 0;
          }
        }
      }
    }
  }
}
