.vzb-buttonlist {
  .vzb-buttonlist-dialog {
    .vzb-dialog-show {
  
      .vzb-show-filter {
        display: block;
        position: relative;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

//responsiveness
&.vzb-large {
  &.vzb-button-expand-true {
    .vzb-buttonlist-dialog {
      &.vzb-dialog-side {
        .vzb-dialog-show {
          flex: auto;

          .vzb-dialog-content.vzb-dialog-content-fixed {
            height: 310px;
            max-height: 305px;
            min-width: 140px;
          }
          
          .vzb-dialog-title {
            display: inline-block;
            padding: 15px 0 10px 20px;
            vertical-align: top;
          }
          
          .vzb-show-filter {
            display: inline-block;
            position: relative;
            padding: 10px;
            max-width: 210px;
          }
        }
      }
    }
  }
}
