.vzb-tool-treemenu {
  width: 100%;
  height: 100%;

  .vzb-treemenu-background {
    background-color: $vzb-color-grey-lightest;
    opacity: .4;
    width: 100%;
    height: 100%;
  }
  .vzb-treemenu-wrap {
    @include box-shadow(0, 8px, 15px, rgba(0, 0, 0, .24));
    @include transition(all 300ms ease-in-out);
    position: absolute;
    border-top: 1px solid #f7f7f7;
    background-color: #fff;
    padding: 0 25px 10px;

    * {
      box-sizing: border-box;
    }
    .vzb-treemenu-close {
      fill: $vzb-color-primary;
      fill-opacity: .7;
      position: absolute;
      right: 10px;
      top: 10px;
      width: 25px;
      height: 25px;
      cursor: pointer;

      &:hover {
        fill-opacity: 1;
      }
    }
    .vzb-treemenu-title {
      color: $vzb-color-primary;
      font-size: $vzb-font-size-medium;
      padding: 25px 25px 10px 5px;
    }
    .vzb-treemenu-scaletypes {
      position: absolute;
      right: 40px;
      top: 30px;
      font-size: $vzb-font-size-small;
      font-family: $vzb-font-family-alt;

      span {
        padding: 2px 5px;
        border: 1px solid $vzb-color-primary-light;
        color: $vzb-color-primary-darkest;
        margin-left: -1px;
        cursor: pointer;
        &:hover {
          background-color: $vzb-color-grey-light;
          color: $vzb-color-primary-strong;
        }
        &:first-child {
          border-radius: 4px 0 0 4px;
        }
        &:last-child {
          border-radius: 0 4px 4px 0;
        }
      }

      .vzb-treemenu-scaletypes-active {
        background-color: $vzb-color-grey-light;
        color: $vzb-color-primary-strong;
        pointer-events: none;
      }
      .vzb-treemenu-scaletypes-disabled {
        color: $vzb-color-grey-light;
        border: 0;
        pointer-events: none;
      }
    }
    .vzb-treemenu-list-wrapper {
      overflow-y: auto;
    }
    .vzb-treemenu-search-wrap {
      padding: 5px;
    }
    .vzb-treemenu-search {
      @include border-radius(4px);
      @include box-sizing(border-box);
      width: 100%;
      display: block;
      border: 1px solid rgba($vzb-color-grey, .4);
      padding: 9px;
      outline: none;
      font-size: $vzb-font-size-small;
      font-family: $vzb-font-family-alt;

      &:focus {
        border: 1px solid rgba($vzb-color-grey, .6);
      }
      + .vzb-treemenu-list {
        position: relative;
        margin-top: 10px;
        left: 0;
      }
    }
    .vzb-treemenu-list,
    .vzb-treemenu-list-top {
      list-style: none;
      padding: 0;
      margin: 0;
      left: 100%;
    }
    .vzb-treemenu-list {
      @include box-shadow(4px, 8px, 15px, rgba(0, 0, 0, .2));
      position: absolute;
      background-color: #fff;
      display: none;
      &.vzb-treemenu-horizontal {
        width: 0;
        border-left: 1px solid $vzb-color-grey-light;
        border-top: 1px solid #f7f7f7;
        &.active {
          top: -1px;
          bottom: 0;
          display: block;
          clear: both;
          left: 100%;
        }
      }
      &.vzb-treemenu-vertical {
        position: relative;
        border: 0;
        background-color: #fff;
        left: 0;
        padding-left: 15px;
        height: 0;
        &.active {
          display: block;
          top: inherit;
          bottom: inherit;
        }
      }
    }
    .vzb-treemenu-list.active,
    .vzb-treemenu-list-top {
      //overflow-y: scroll;
    }
    .vzb-treemenu-list-item {
      padding: 5px 0;
      background-color: $vzb-color-white;
      overflow: hidden;
      white-space: nowrap;

      &:hover {
        background-color: $vzb-color-grey-light;
      }
      &.marquee {
        > .vzb-treemenu-list-item-label {
          text-overflow: inherit;
          overflow: visible;
          animation: marquee 5s linear infinite;
          &::after {
            content: attr(data-content);
            left: 153%;
            position: absolute;
          }
        }
      }
      + .vzb-treemenu-list-item-special {
        margin-top: 15px;
      }
    }
    .vzb-treemenu-list-item-label {
      padding: 5px 25px 5px 5px;
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      position: relative;
      cursor: pointer;
      color: $vzb-color-grey-dark;
      font-size: $vzb-font-size-small;
      font-family: $vzb-font-family-alt;
    }

    .vzb-treemenu-list-top,
    .vzb-treemenu-list {
      > .vzb-treemenu-list-item-children {
        &::before {
          content: '';
          display: block;
          position: absolute;
          right: 5px;
          width: 0;
          height: 0;
          border: 6px solid transparent;
          border-left: 6px solid $vzb-color-grey-dark;
          margin-top: 9px;
          z-index: 1;
        }
        &.marquee:hover > .vzb-treemenu-list-item-label-mask {
          background-color: $vzb-color-grey-light;
        }
        &.marquee > .vzb-treemenu-list-item-label-mask {
          display: block;
          position: absolute;
          width: 23px;
          height: 20px;
          right: 0;
          top: 10px;
          background-color: $vzb-color-white;
        }
      }
    }

    .vzb-treemenu-list-top {
      > .vzb-treemenu-list-item-children::before {
        right: 30px;
      }
    }
  }
}

//marquee animation
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-150%);
  }
}

&.vzb-small {
  .vzb-treemenu-wrap {
    @include position(absolute, 10% null null 10%);
    margin-bottom: $size-button-list;
    width: 80%;
    height: auto;
    min-height: 60%;
    max-height: 80%;

    &.vzb-align-x-center {
      left: 50%;
    }
    .active {
      display: block;
    }
    .vzb-treemenu-list-item {
      padding-bottom: 0;
    }
  }
}

&.vzb-medium {
  .vzb-treemenu-wrap {
    margin-right: $size-button-list;
    margin-bottom: $size-timeslider;

    &.vzb-align-y-top {
      top: 40px;
    }
    &.vzb-align-y-bottom {
      bottom: 55px;
    }
    &.vzb-align-x-left {
      left: 60px;
    }
    &.vzb-align-x-right {
      right: 15px;
    }
    &.vzb-align-x-center {
      left: 50%;
   }

  }
}

&.vzb-large,
&.vzb-presentation {
  .vzb-treemenu-wrap {
    margin-right: $size-button-list;
    margin-bottom: $size-timeslider;

    &.vzb-align-y-top {
      top: 50px;
    }
    &.vzb-align-y-bottom {
      bottom: 60px;
    }
    &.vzb-align-x-left {
      left: 60px;
    }
    &.vzb-align-x-right {
      right: 20px;
    }
    &.vzb-align-x-center {
      left: 50%;
    }
  }
}
