.vzb-tool-bubblechart {
  $vzb-bc-color-bubble: #999999;
  $vzb-bc-color-stroke: #666666;
  $vzb-bc-margin: 10px;
  $vzb-bc-margin-axis: 60px;
  $vzb-bc-color-axis: #999999;
  $vzb-bc-year-size: 300px;
  .vzb-bubblechart {
    @include position(absolute, 0px);
    overflow: hidden;
    .vzb-zoomin {
      cursor: zoom-in;
    }
    .vzb-bubblechart-svg {
      @include position(absolute, 0px);
      width: 100%;
      height: 100%;
      margin: 0;
      overflow: hidden;
      font-family: $vzb-font-family;
      .vzb-bc-zoomRect {
        fill: none;
        stroke: $vzb-bc-color-axis;
      }
      .vzb-bc-trails .vzb-bc-entity {
        @include opacity(0.8);
        stroke: white;
        cursor: pointer;
        line {
          pointer-events: none;
        }
      }
      .vzb-bc-bubbles {
        .vzb-bc-entity {
          stroke: white;
          cursor: pointer;
          pointer-events: visible;
        }
      }
      .vzb-bc-labels .vzb-bc-entity text, .vzb-bc-tooltip text  {
        pointer-events: none;
        text-anchor: end;

        opacity: 0.9;
        fill: $vzb-color-primary;
        &.vzb-bc-label-shadow, &.vzb-bc-tooltip-shadow {
          fill: white;
          @include opacity(0.5);
          stroke: white;
        }
      }
      .vzb-bc-labels .vzb-bc-entity rect {
        @include transition(opacity 200ms linear);
        cursor: pointer;
        opacity: 0.8;
        fill: white;
        stroke: $vzb-color-primary;
      }
      .vzb-bc-labels .vzb-bc-entity text.vzb-bc-label-x {
        @include transition(opacity 200ms linear);
        fill: white;
        text-anchor: middle;
        dominant-baseline: middle;
        pointer-events: none;
      }
      .vzb-bc-labels .vzb-bc-entity circle.vzb-bc-label-x {
        @include transition(opacity 200ms linear);
        cursor: pointer;
        fill: #ff89cd;
        stroke: white;
        stroke-width: 2px;
      }
      .vzb-bc-labels .vzb-bc-entity.vzb-highlighted text {
        fill: $vzb-color-primary;
        opacity: 1.0;
        &.vzb-bc-label-shadow {
          stroke: #fff500;
        }
      }
      .vzb-bc-labels .vzb-bc-entity text:hover {
        opacity: 1.0;
      }
      .vzb-bc-labels .vzb-bc-entity line {
        stroke: $vzb-color-primary;
        opacity: 0.8;
      }
      .vzb-bc-title {
        color: $vzb-color-primary;
        fill: currentColor;
      }
      .vzb-bc-axis {
        path, line {
          fill: none;
          stroke: $vzb-bc-color-axis;
          shape-rendering: crispEdges;
        }
        text {
          fill: $vzb-bc-color-axis;
          @include font-size(15px);
        }
      }
      .vzb-bc-axis-x,
      .vzb-bc-axis-y {
        @extend .vzb-bc-axis;
      }
      .vzb-bc-axis-y-title,
      .vzb-bc-axis-x-title {
        @extend .vzb-bc-title;
      }
      .vzb-bc-axis-s-title,
      .vzb-bc-axis-c-title {
        @extend .vzb-bc-title;
        opacity: 0.3;
      }
      .vzb-bc-projection-x,
      .vzb-bc-projection-y {
        stroke-dasharray: 2 4;
        stroke: #999999;
        opacity: 0;
      }
      .vzb-bc-line {
        fill: none;
        stroke: $vzb-bc-color-axis;
        stroke-width: 1px;
      }
      .vzb-bc-year {
        @include opacity(0.1);
        @include font-size(250px);
        fill: $vzb-bc-color-bubble;
        text-anchor: middle;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        filter: url(#vzb-bc-blur-effect);
      }
      .vzb-axis-value text {
        fill: $vzb-color-primary;
      }
    }
  }
  &.vzb-large {
    .vzb-bubblechart-svg {
      .vzb-bc-bubbles .vzb-bc-entity {
        stroke-opacity: 1.0;
      }
      .vzb-bc-labels text {
        font-size: 1.6em;
        &.vzb-bc-label-shadow {
          stroke-width: 4px
        }
      }
      .vzb-axis-value text {
        font-size: 1.6em;
      }
      .vzb-bc-axis-x text, .vzb-bc-axis-y text {
        font-size: 1.6em;
      }
    }
  }
  &.vzb-medium {
    .vzb-bubblechart-svg {
      .vzb-bc-bubbles .vzb-bc-entity {
        stroke-opacity: 0.8;
      }
      .vzb-bc-labels text, .vzb-bc-tooltip text {
        font-size: 1.4em;
        &.vzb-bc-label-shadow, .vzb-bc-tooltip-shadow {
          stroke-width: 3px
        }
      }
      .vzb-axis-value text {
        font-size: 1.4em;
      }
      .vzb-bc-axis-x text, .vzb-bc-axis-y text {
        font-size: 1.4em;
      }
    }
  }
  &.vzb-small {
    .vzb-bubblechart-svg {
      .vzb-bc-bubbles .vzb-bc-entity {
        stroke-opacity: 0.7;
      }
      .vzb-bc-labels text, .vzb-bc-tooltip text {
        font-size: 0.9em;
        &.vzb-bc-label-shadow, .vzb-bc-tooltip-shadow {
          stroke-width: 2px
        }
      }
      .vzb-axis-value text {
        font-size: 0.9em;
      }
      .vzb-bc-axis-x text, .vzb-bc-axis-y text {
        font-size: 0.9em;
      }
    }
  }
}
