.vzb-tool {
  $vzb-bc-margin: 10px;
  $vzb-bc-margin-axis: 60px;
  $vzb-bc-year-size: 15em;

  .vzb-bubblechart {
    @extend %vzb-chart-wrapper;

    //ie11 support for zoom-in, zoom-out cursors
    //ie11 only:The base URI is considered to be the URI of the document containing the element
    //and not the URI of the style sheet in which the declaration appears.
    .vzb-zoomin .vzb-bc-bubbles-crop,
    .vzb-zoomin .vzb-bc-labels-crop {
      cursor: url('../../assets/cursors/zoom-in.cur'), auto;
      .vzb-bc-entity {
        cursor: url('../../assets/cursors/zoom-in.cur'), auto !important;
      }
    }
    .vzb-zoomout .vzb-bc-bubbles-crop,
    .vzb-zoomout .vzb-bc-labels-crop {
      cursor: url('../../assets/cursors/zoom-out.cur'), auto;
      .vzb-bc-entity {
        cursor: url('../../assets/cursors/zoom-out.cur'), auto !important;
      }
    }

    .vzb-bubblechart-svg {
      @extend %vzb-chart-svg;

      .vzb-bc-bubbles-crop {
        touch-action: none;
      }

      .vzb-bc-labels-crop {
        touch-action: none;
        overflow: visible;
      }

      .vzb-bc-zoom-rect {
        fill: none;
        stroke: $vzb-color-grey;
      }
      .vzb-bc-eventarea {
        pointer-events: all;
        fill: none;
      }

      .vzb-bc-entity .vzb-bc-trailsegment {
        line {
          pointer-events: none;
          stroke-width: 2;
        }
      }

      .vzb-bc-bubbles,
      .vzb-bc-trails {
        .vzb-bc-entity {
          stroke: $vzb-color-black;
          stroke-opacity: .7;
          cursor: pointer;
          pointer-events: visible;
          .vzb-bc-label-line {
            stroke: $vzb-color-grey;
          }
        }
      }

      &.vzb-zoomin .vzb-bc-bubbles-crop,
      &.vzb-zoomin .vzb-bc-labels-crop {
        cursor: zoom-in;
        .vzb-bc-entity {
          cursor: zoom-in !important;
          pointer-events: none !important;
        }
        .vzb-bc-labels .vzb-label-fill {
          pointer-events: none;
        }
      }

      &.vzb-zoomout .vzb-bc-bubbles-crop,
      &.vzb-zoomout .vzb-bc-labels-crop {
        cursor: zoom-out;
        .vzb-bc-entity {
          cursor: zoom-out !important;
          pointer-events: none !important;
        }
        .vzb-bc-labels .vzb-label-fill {
          pointer-events: none;
        }
      }

      .vzb-bc-labels {
        @extend %vzb-chart-tooltip;
        @include rtl {
          text {
            direction: rtl;
            text-anchor: start;
            unicode-bidi: embed;
          }
        }
        .vzb-label-fill {
          pointer-events: visible;
        }
        .vzb-bc-entity {
          .vzb-bc-label-x {
            @include transition(opacity 200ms linear);
            fill: $vzb-color-primary;
            text-anchor: middle;
            dominant-baseline: middle;
            font-size: .9em;
            cursor: pointer;
            stroke: $vzb-color-white;
            stroke-width: 2px;
          }

          .vzb-bc-label-x-icon {
            @include transition(opacity 200ms linear);
            fill: $vzb-color-white;
            //pointer-events: none;
          }

          .vzb-label-glow {
            stroke-width: 8px;
            fill: none;
            opacity: 0;
          }

          &.vzb-highlighted {
            .vzb-bc-label-x {
              pointer-events: visible;
            }
            .vzb-label-glow {
              opacity: .8;
            }
          }
          &.vzb-label-boxremoved {
            &:not(.vzb-highlighted) {
              .vzb-label-fill {
                opacity: 0;
              }
              .vzb-label-glow {
                stroke: none;
              }
            }
          }
        }
      }

      .vzb-bc-bubble-crown {
        .vzb-crown,
        .vzb-crown-glow {
          pointer-events: none;
        }
        .vzb-crown {
          stroke: $vzb-color-black;
        }
        .vzb-crown-glow {
          stroke-width: 6px;
          fill: none;
          opacity: .8;
        }
      }
      .vzb-bc-tooltip {
        @extend %vzb-chart-tooltip;
        @include rtl {
          text {
            direction: rtl;
            text-anchor: start;
            unicode-bidi: embed;
          }
        }
        .vzb-tooltip-glow {
          stroke-width: 8px;
          fill: none;
          opacity: 0;
        }
      }

      .vzb-bc-label-shadow,
      .vzb-bc-tooltip-shadow {
        @extend %vzb-chart-label-shadow;
      }

      .vzb-bc-lines .vzb-bc-entity line {
        stroke: $vzb-color-grey-dark;
        opacity: .8;
      }

      .vzb-bc-axis-x,
      .vzb-bc-axis-y {
        @extend %vzb-chart-axis;
      }
      .vzb-bc-axis-x-title,
      .vzb-bc-axis-y-title {
        @extend %vzb-chart-axis-title;
        @include rtl {
          text {
            direction: rtl;
            unicode-bidi: embed;
          }
        }
      }

      .vzb-bc-axis-s-title,
      .vzb-bc-axis-c-title {
        @extend %vzb-chart-axis-title;
        @include rtl {
          text {
            direction: rtl;
            text-anchor: start;
            unicode-bidi: embed;
          }
        }
        opacity: .3;
      }

      .vzb-bc-axis-x-info,
      .vzb-bc-axis-y-info {
        @extend %vzb-chart-info;
      }

      .vzb-bc-line-equal-xy {
        stroke-dasharray: 4 4;
        stroke: $vzb-color-black;
      }
      
      .vzb-bc-projection-x,
      .vzb-bc-projection-y {
        stroke-dasharray: 4 4;
        stroke: $vzb-color-black;
        opacity: 0;
      }
      .vzb-bc-line {
        fill: none;
        stroke: $vzb-color-grey;
        stroke-width: 1px;
      }
      .vzb-bc-year {
        @include opacity(.3);
        font-size: $vzb-bc-year-size;
        fill: $vzb-color-grey;
        text-anchor: middle;
        -webkit-touch-callout: none;
        user-select: none;
      }
      .vzb-axis-value text {
        fill: $vzb-color-primary;
      }
    }
  }
  &.vzb-large {

    .vzb-bubblechart-svg {

      .vzb-bc-bubbles .vzb-bc-entity {
        stroke-opacity: 1;
      }

      .vzb-bc-label-shadow,
      .vzb-bc-tooltip-shadow {
        @extend %vzb-chart-label-shadow-large;
      }

      .vzb-bc-axis-x-title,
      .vzb-bc-axis-y-title,
      .vzb-bc-axis-s-title,
      .vzb-bc-axis-c-title {
        @extend %vzb-chart-axis-title-large;
      }

      .vzb-bc-labels,
      .vzb-bc-tooltip,
      .vzb-axis-value,
      .vzb-bc-axis-x,
      .vzb-bc-axis-y,
      .vzb-bc-axis-x-info,
      .vzb-bc-axis-y-info {
        @extend %vzb-chart-ticks-large;
      }
    }
  }
  &.vzb-medium {

    .vzb-bubblechart-svg {

      .vzb-bc-bubbles .vzb-bc-entity {
        stroke-opacity: .8;
      }

      .vzb-bc-label-shadow,
      .vzb-bc-tooltip-shadow {
        @extend %vzb-chart-label-shadow-medium;
      }

      .vzb-bc-axis-x-title,
      .vzb-bc-axis-y-title,
      .vzb-bc-axis-s-title,
      .vzb-bc-axis-c-title {
        @extend %vzb-chart-axis-title-medium;
      }

      .vzb-bc-labels,
      .vzb-bc-tooltip,
      .vzb-axis-value,
      .vzb-bc-axis-x,
      .vzb-bc-axis-y,
      .vzb-bc-axis-x-info,
      .vzb-bc-axis-y-info {
        @extend %vzb-chart-ticks-medium;
      }
    }
  }

  &.vzb-small {

    .vzb-bubblechart-svg {

      .vzb-bc-bubbles .vzb-bc-entity {
        stroke-opacity: .7;
      }

      .vzb-bc-label-shadow,
      .vzb-bc-tooltip-shadow {
        @extend %vzb-chart-label-shadow-small;
      }

      .vzb-bc-axis-x-title,
      .vzb-bc-axis-y-title,
      .vzb-bc-axis-s-title,
      .vzb-bc-axis-c-title {
        @extend %vzb-chart-axis-title-small;
      }

      .vzb-bc-labels,
      .vzb-bc-tooltip,
      .vzb-axis-value,
      .vzb-bc-axis-x,
      .vzb-bc-axis-y,
      .vzb-bc-axis-x-info,
      .vzb-bc-axis-y-info {
        @extend %vzb-chart-ticks-small;
      }
    }
  }
  &.vzb-presentation {

    .vzb-bubblechart-svg {

      .vzb-bc-axis-x,
      .vzb-bc-axis-y {
        @extend %vzb-chart-axis-presentation;
        text {
          font-size: $vzb-font-size-larger;
        }
      }

      .vzb-bc-labels {
        font-size: $vzb-font-size-larger;
      }
    }
  }
}
