.vzb-dialog-content {
  max-height: 190px;
  min-height: 120px;

  .vzb-colorpicker-svg {
    z-index: 10;
  }
}

.vzb-dialog-title {
  display: inline-block;
  flex-grow: 0;
}

.vzb-cl-outer {
  .vzb-cl-holder {
    max-height: 160px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .vzb-cl-colorlist {
    overflow: visible;
  }
}

.vzb-caxis-container {
  flex-grow: 0;
  .vzb-ip-holder {
    .vzb-ip-indicator {
      float: right;
    }

    .vzb-ip-scaletype {
      right: 0;
    }
  }
}
