#bar-chart {

    font-size: 12px;

    .axis {
        fill: none;
        stroke: #999999;
        color: #666666;

        text {
            fill: currentColor;
            stroke: none;
        }
    }

    .bar {
        fill: $colorIMmediumBlue;
        stroke: none;
    }
}