.info {
	
	padding-right: 20px;

	.title {
		margin:0;
	}
	p {
		color: #999;
		line-height: 1.8;
		font-size: 14px;
	}

	.category {
		text-transform: uppercase;
		font-size: 12px;
		margin-bottom: 2px;
	}
}