//import bourbon
@import '../../bower_components/bourbon/app/assets/stylesheets/bourbon';

$color-primary: #4A75E6;
$color-grey: #999999;
$color-grey-light: #ECEBE9;

$body-min-width: 250px;
$header-height: 50px;

$small-screen: 700px;
$large-screen: 1000px;

$size-column: 230px;

body {
  @include position(absolute, 0 0 0 0);
  background-color: $color-grey-light;
  font-family: 'Lato', Arial, sans-serif;
  min-width: $body-min-width;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.hidden,
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

.invisible {
	visibility: hidden;
}

@import 'mixins';
@import 'header';
@import 'loader';
@import 'content';
@import 'sidebar';