.vzb-dl-holder {
  .vzb-draggable {
    @include user-select(none);
    margin: auto;
    padding: 5px 0;
    width: 200px;
    > div {
      padding-bottom: 3px;
      opacity: .6;
    }
    [draggable=true] {
      position: relative;
      opacity: 1;
      padding-bottom: 3px;
      &.dragged {
        z-index: 2;
        //pointer-events: none;
        li {
          cursor: move;
          //pointer-events: none;
          background: $vzb-color-grey-light;
          border-width: 1px 3px;
          border-color: $vzb-color-grey-dark;
        }
      }
      li {
        cursor: move;
        background: $vzb-color-primary-lightest;
        border: 1px solid $vzb-color-primary-light;
        &.hover {
          background: $vzb-color-grey-light;
          border-color: $vzb-color-grey-dark;
        }
      }
    }
    li {
      cursor: default;
      height: 12px;
      border-radius: 4px;
      background: $vzb-color-primary-lightest;
      border: 1px solid $vzb-color-primary-light;
      list-style: none;
      padding: 2px 8px 5px 6px;
    }
  }

  .over {
    border: 2px dashed $vzb-color-black;
  }
}
