.vzb-dl-holder {
  .vzb-draggable {
    @include user-select(none);
    margin: auto;
    padding: 0;
    width: 200px;
    li {
      cursor: move;
      background: $vzb-color-primary-lightest;
      border: 1px solid $vzb-color-primary-light;
      height: 12px;
      border-radius: 4px;
      list-style: none;
      margin-bottom: 3px;
      padding: 2px 8px 5px 6px;
      &:hover {
        background: $vzb-color-grey-light;
        border-color: $vzb-color-grey-dark;
      }
    }
  }

  .over {
    border: 2px dashed $vzb-color-black;
  }
}
