.bubble-chart {
    @import '../common';

    text {
      font: 10px sans-serif;
    }

    .dot {
      stroke: #000;
    }

    .axis path, .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    .label {
      fill: #777;
    }

    .year.label {
      font: 500 196px "Helvetica Neue";
      fill: #ddd;
    }

    .year.label.active {
      fill: #aaa;
    }

    .overlay {
      fill: none;
      pointer-events: all;
      cursor: ew-resize;
    }
}
