#bar-rank-wrapper {
    @include absolute(0, 0, 0, 0);
    @include font-size(18px);
    padding-top: 30px;
    font-family: $fontFamily;
    color: #666666;
    overflow: auto;

    #bar-rank-chart-holder {
        position: absolute;
        left: 0;
        right: 0;
        top: 30px;
        bottom: 0;
        overflow: scroll;
    }

    header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: #FFF;
        height: 50px;
        line-height: 50px;

        span {
            float: left;
        }

        .header-name {
            text-align: right;
        }
    }

    .vizabi-tool-viz {
        @include absolute(30px, 0, 0, 0);
    }

    .item-headers {
        fill: $colorWhite;
    }

    .header-title {
        fill: $colorGrey;
        text-transform: capitalize;
    }

    .title {
        color: $colorIMmediumBlue;
        fill: currentColor;
    }
    .axis {
        fill: none;
        stroke: $colorGrey;
        color: $colorGrey;

        text {
            fill: currentColor;
            stroke: none;
        }
    }
    .item {

        &.opaque {
            opacity: .5;
        }

        .bar {
            fill: $colorGreen;
            stroke: none;
        }

        &:nth-child(2n) .bar {
            fill: $colorRed;
        }
        &:nth-child(3n) .bar {
            fill: $colorBlue;
        }    }

    .value-label {
        fill: $colorGrey;
    }
}

&.medium {
    #bar-rank-wrapper {
        @include font-size(15px);

        header {
            height: 40px;
            line-height: 40px;
        }
    }
}

&.small {
    #bar-rank-wrapper {
        @include font-size(12px);

        header {
            height: 30px;
            line-height: 30px;
        }
    }
}
