.vzb-line-chart {
    @include absolute(0px, 0px, 0px, 0px);
    @include font-size(18px);
    font-family: $vzb-font-family;
    color: #666666;
    width: 100%;
    height: 100%;

    .vzb-lc-title {
        color: $vzb-color-primary;
        fill: currentColor;
    }
    .vzb-lc-axis {
        fill: none;
        stroke: #999999;
        color: #999999;
        text {
            fill: currentColor;
            stroke: none;
        }
    }
    .vzb-lc-axis-x, .vzb-lc-axis-y {
        @extend .vzb-lc-axis;
    }
    .vzb-lc-axis-y-title, .vzb-lc-axis-x-title {
        @extend .vzb-lc-title;
    }

    .vzb-lc-line {
        fill: none;
        stroke-width: 11px;
        stroke-linecap: round;
    }
    .vzb-lc-line-shadow {
        fill: none;
        stroke-width: 19px;
        stroke-linecap: round;
    }
    .vzb-lc-label {
        font-size: 1.8em;
    }
}
&.vzb-medium {
    .vzb-line-chart {
        @include font-size(15px);
        .vzb-lc-line {
            stroke-width: 8px;
        }
        .vzb-lc-line-shadow {
            stroke-width: 14px;
        }
        .vzb-lc-label {
            font-size: 1.5em;
        }
    }
}
&.vzb-small {
    .vzb-line-chart {
        @include font-size(12px);
        .vzb-lc-line {
            stroke-width: 5px;
        }
        .vzb-lc-line-shadow {
            stroke-width: 9px;
        }
        .vzb-lc-label {
            font-size: 1.2em;
        }
    }
}