<div class="vzb-line-chart">
	<svg class="vzb-lc-graph">
        <g>
            <line class="vzb-lc-vertical-now"></line>;

            <g class="vzb-lc-lines"></g>
            <line class="vzb-lc-projection-x"></line>;
            <line class="vzb-lc-projection-y"></line>;            
            <g class="vzb-lc-axis-y-title"></g>

            <g class="vzb-lc-axis-x"></g>
            <g class="vzb-lc-axis-y"></g>
            <text class="vzb-lc-year"></text>
        </g>
        
        <filter id="vzb-lc-filter-dropshadow">
          <feOffset result="offOut" in="SourceGraphic" dx="0" dy="2" />
          <feColorMatrix result = "matrixOut" in = "offOut" type = "matrix" 
                         values = "0.3 0.0 0.0 0.0 0.0 
                                   0.0 0.3 0.0 0.0 0.0
                                   0.0 0.0 0.3 0.0 0.0 
                                   1.0 1.0 1.0 1.0 0.0"/>
          <feGaussianBlur result="blurOut" in="matrixOut" stdDeviation="0.8" />
          <feBlend in="SourceGraphic" in2="blurOut" mode="normal" />
        </filter>
        
	</svg>
    <div class="vzb-lc-timeslider"></div>
    <div class="vzb-tooltip vzb-hidden"></div>
</div>
