.vzb-tool-datanotes {
  @include position(absolute, 0 0 null null);
  @include box-shadow(0, 8px, 15px, rgba(0, 0, 0, .24));
  //@include transition(all 300ms ease-in-out);
  z-index: 9998;
  background-color: #fff;
  border-top: 1px solid #f7f7f7;
  padding: 30px 15px 10px 25px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 300px;
  //height: 100%;


  .vzb-data-notes-link {
    font-size: $vzb-font-size-medium;
    margin: 10px 5px 0;
    svg {
      height: 25px;
      margin-bottom: -1px;
      width: 25px;
    }
    div {
      display: inline-block;
      margin-left: 10px;
      text-transform: uppercase;
      white-space: normal;
    }
    path {
      fill: $vzb-color-accent-orange;
    }

    a {
      //color: $vzb-color-accent-orange;
      color: $vzb-color-primary-dark;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

  }

  .vzb-data-notes-body {
    font-size: $vzb-font-size-regular;
    padding: 0 30px 0 5px;
    color: $vzb-color-black;
    white-space: normal;
    line-height: 150%;
    height: 80%;
    overflow: auto;

    a {
      //color: $vzb-color-accent-orange;
      color: $vzb-color-primary-dark;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  .vzb-data-notes-close {
    cursor: pointer;
    fill: $vzb-color-primary;
    fill-opacity: .7;
    height: 25px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 25px;

    &:hover {
      fill-opacity: 1;
    }
  }

  &:not(.vzb-data-notes-pinned) {
    .vzb-data-notes-link {
      display: none;
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 50px; 
      bottom: 0; 
      box-shadow: inset 0 -50px 30px -20px $vzb-color-white;
    }
  }
}

&.vzb-small.vzb-portrait {
  .vzb-tool-datanotes {
    width: 300px;
    max-height: 150px;
    &.vzb-data-notes-pinned {
      max-height: 200px; 
    }
  }    
  .vzb-data-notes-link {
    font-size: $vzb-font-size-regular;
  }

  .vzb-data-notes-title {
    font-size: $vzb-font-size-regular;
  }

  .vzb-data-notes-body {
    font-size: $vzb-font-size-small;
  }
}

&.vzb-small.vzb-landscape {
  .vzb-tool-datanotes {
    width: 300px;
    max-height: 150px;
    &.vzb-data-notes-pinned {
      max-height: 200px; 
    }
  }    
  .vzb-data-notes-link {
    font-size: $vzb-font-size-regular;
  }

  .vzb-data-notes-title {
    font-size: $vzb-font-size-regular;
  }

  .vzb-data-notes-body {
    font-size: $vzb-font-size-small;
  }
}

&.vzb-medium {
  .vzb-tool-datanotes {
    width: 350px;
    max-height: 175px;
    &.vzb-data-notes-pinned {
      max-height: 300px; 
    }
  }    
  .vzb-data-notes-link {
    font-size: $vzb-font-size-medium;
  }

  .vzb-data-notes-title {
    font-size: $vzb-font-size-medium;
  }

  .vzb-data-notes-body {
    font-size: $vzb-font-size-small;
  }
}

&.vzb-large {
  .vzb-tool-datanotes {
    width: 400px;
    max-height: 200px;
    &.vzb-data-notes-pinned {
      max-height: 400px; 
    }
  }    
  .vzb-data-notes-link {
    font-size: $vzb-font-size-medium;
  }
  
  .vzb-data-notes-title {
    font-size: $vzb-font-size-medium;
  }
  
  .vzb-data-notes-body {
    font-size: $vzb-font-size-regular;
  }
}
