.vzb-tool {
  visibility: visible !important;
  $vzb-mc-margin: 10px;
  $vzb-mc-margin-axis: 60px;
  $vzb-mc-year-size: 15em;

  .vzb-mountainchart {
    @extend %vzb-chart-wrapper;

    .vzb-mountainchart-svg {
      @extend %vzb-chart-svg;

      .vzb-mc-eventarea {
        fill: none;
        pointer-events: all;
      }

      .vzb-mc-mountain {
        stroke: $vzb-color-white;
        stroke-opacity: .5;
        stroke-width: 1px;
        cursor: pointer;
        &.vzb-selected {
          stroke: #000;
        }
      }

      .vzb-mc-probe text {
        dominant-baseline: hanging;
        fill: $vzb-color-primary;
        pointer-events: none;
        &.vzb-mc-probe-extremepoverty {
          font-variant: small-caps;
          letter-spacing: .15em;
          opacity: .7;
        }
      }

      .vzb-mc-probe .vzb-mc-probe-value-ul,
      .vzb-mc-probe .vzb-mc-probe-value-dl {
        text-anchor: end;
      }

      .vzb-mc-probe .vzb-mc-probe-value-ur,
      .vzb-mc-probe .vzb-mc-probe-value-dr {
        text-anchor: start;
      }

      .vzb-mc-probe .vzb-shadow {
        @extend %vzb-chart-label-shadow;
      }

      .vzb-mc-probe line {
        stroke: $vzb-color-grey;
        stroke-dasharray: 5 5;
        pointer-events: none;
      }

      .vzb-mc-mountains-labels text,
      .vzb-mc-mountains-labels circle {
        cursor: pointer;
        fill: $vzb-color-primary;
      }

      .vzb-mc-mountains-labels .vzb-mc-label-text {
        @include rtl {
          direction: rtl;
          unicode-bidi: embed;
        }
      }

      .vzb-mc-mountains-labels .vzb-mc-label-shadow {
        @extend %vzb-chart-label-shadow;
      }

      .vzb-mc-mountains-labels .vzb-highlight .vzb-mc-label-shadow {
        stroke: $vzb-color-accent-yellow;
      }

      .vzb-mc-mountains-labels .vzb-mc-label .vzb-mc-label-x-text {
        @include transition(opacity 200ms linear);
        cursor: pointer;
        fill: $vzb-color-primary;
        text-anchor: middle;
        dominant-baseline: middle;
        pointer-events: none;
        font-size: .9em;
        stroke: none;
        &.vzb-revert-color {
          fill: $vzb-color-primary;
        }
      }

      .vzb-mc-mountains-labels .vzb-mc-label .vzb-mc-label-x-icon {
        @include transition(opacity 200ms linear);
        fill: $vzb-color-white;
        pointer-events: none;
      }

      .vzb-mc-mountains-labels .vzb-mc-label .vzb-mc-label-x {
        @include transition(opacity 200ms linear);
        cursor: pointer;
        pointer-events: all;
        fill: $vzb-color-primary;
        stroke: $vzb-color-white;
        stroke-width: 2px;
        &.vzb-revert-color {
          fill: $vzb-color-white;
          stroke: $vzb-color-primary;
        }
      }

      .vzb-mc-axis-x,
      .vzb-mc-axis-y {
        @extend %vzb-chart-axis;
        pointer-events: none;
      }

      .vzb-mc-axis-y-title {
        @extend %vzb-chart-axis-title;
        @include rtl {
          text {
            direction: rtl;
            unicode-bidi: embed;
          }
        }
        pointer-events: none;
      }

      .vzb-mc-axis-x-title {
        @extend %vzb-chart-axis-title;
        text-anchor: end;
        pointer-events: none;
      }

      .vzb-mc-axis-info {
        @extend %vzb-chart-info;
      }

      .vzb-mc-line {
        fill: none;
        stroke: $vzb-color-grey;
        stroke-width: 1px;
      }

      .vzb-mc-year {
        @include opacity(.3);
        fill: $vzb-color-primary;
        text-anchor: end;
        -webkit-touch-callout: none;
        user-select: none;
        pointer-events: none;
      }

      .vzb-mc-tooltip {
        @extend %vzb-chart-tooltip;
        text {
          @include rtl {
            direction: rtl;
            unicode-bidi: embed;
          }
          text-anchor: middle;
        }
      }
    }
  }
  &.vzb-large {

    .vzb-mountainchart {

      .vzb-mc-axis-x-title,
      .vzb-mc-axis-y-title {
        @extend %vzb-chart-axis-title-large;
      }

      .vzb-shadow,
      .vzb-mc-label-shadow {
        @extend %vzb-chart-label-shadow-large;
      }

      .vzb-mc-axis-x,
      .vzb-mc-mountains-labels,
      .vzb-mc-probe,
      .vzb-mc-tooltip,
      .vzb-mc-axis-info {
        @extend %vzb-chart-ticks-large;
      }
    }
  }

  &.vzb-medium {

    .vzb-mountainchart {

      .vzb-mc-axis-x-title,
      .vzb-mc-axis-y-title {
        @extend %vzb-chart-axis-title-medium;
      }

      .vzb-shadow,
      .vzb-mc-label-shadow {
        @extend %vzb-chart-label-shadow-medium;
      }

      .vzb-mc-axis-x,
      .vzb-mc-mountains-labels,
      .vzb-mc-probe,
      .vzb-mc-tooltip,
      .vzb-mc-axis-info {
        @extend %vzb-chart-ticks-medium;
      }
    }
  }
  &.vzb-small {

    .vzb-mountainchart {

      .vzb-mc-axis-x-title,
      .vzb-mc-axis-y-title {
        @extend %vzb-chart-axis-title-small;
      }

      .vzb-shadow,
      .vzb-mc-label-shadow {
        @extend %vzb-chart-label-shadow-small;
      }

      .vzb-mc-axis-x,
      .vzb-mc-mountains-labels,
      .vzb-mc-probe,
      .vzb-mc-tooltip,
      .vzb-mc-axis-info {
        @extend %vzb-chart-ticks-small;
      }
    }
  }
  &.vzb-presentation {

    .vzb-mountainchart {

      .vzb-mc-axis-x,
      .vzb-mc-axis-y,
      .vzb-mc-probe,
      .vzb-mc-mountains-labels,
      .vzb-mc-tooltip {
        text {
          font-size: $vzb-font-size-larger;
        }
      }

      .vzb-mc-labels {
        font-size: $vzb-font-size-larger;
      }
    }

    &.vzb-medium {
      .vzb-mc-probe text {
        font-size: $vzb-font-size-medium;
      }
    }
  }
}
