.vzb-tool-mountainchart {
    visibility: visible !important;
    $vzb-mc-margin: 10px;
    $vzb-mc-margin-axis: 60px;
    $vzb-mc-year-size: 15em;
    .vzb-mountainchart {
        @extend %vzb-chart-wrapper;
        .vzb-mountainchart-svg {
            @extend %vzb-chart-svg;
            .vzb-mc-eventarea {
                fill: none;
                pointer-events: all;
            }
            .vzb-mc-mountain {
                stroke: white;
                stroke-opacity: 0.5;
                stroke-width: 1px;
                cursor: pointer;
            }
            .vzb-mc-povertyline text {
                dominant-baseline: hanging;
                fill: $vzb-color-primary;
                pointer-events: none;
                &.vzb-mc-povertyline-extremepoverty{
                    font-variant: small-caps;
                    letter-spacing: 0.15em;
                    opacity: 0.7;
                }
            }
            .vzb-mc-povertyline text.vzb-mc-povertyline-valueUL,
            .vzb-mc-povertyline text.vzb-mc-povertyline-valueDL {
                text-anchor: end;
            }
            .vzb-mc-povertyline text.vzb-mc-povertyline-valueUR,
            .vzb-mc-povertyline text.vzb-mc-povertyline-valueDR {
                text-anchor: start;
            }
            .vzb-mc-povertyline text.vzb-shadow {
                @extend %vzb-chart-label-shadow;
            }
            .vzb-mc-povertyline line {
                stroke: $vzb-color-grey;
                stroke-dasharray: 5 5;
                pointer-events: none;
            }
            .vzb-mc-mountains-labels text,
            .vzb-mc-mountains-labels circle {
                cursor: pointer;
                fill: $vzb-color-primary;
            }
            .vzb-mc-mountains-labels text.vzb-mc-label-shadow {
                @extend %vzb-chart-label-shadow;
            }
            .vzb-mc-mountains-labels .vzb-highlight text.vzb-mc-label-shadow {
                stroke: yellow;
            }
            .vzb-mc-axis-x,
            .vzb-mc-axis-y {
                @extend %vzb-chart-axis;
                pointer-events: none;
            }
            .vzb-mc-axis-y-title {
                @extend %vzb-chart-axis-title;
                pointer-events: none;
            }
            .vzb-mc-axis-x-title {
                @extend %vzb-chart-axis-title;
                text-anchor: end;
                pointer-events: none;
            }
            .vzb-mc-axis-info {
                @extend %vzb-chart-info;
            }
            .vzb-mc-line {
                fill: none;
                stroke: $vzb-color-grey;
                stroke-width: 1px;
            }
            .vzb-mc-year {
                @include opacity(0.1);
                fill: $vzb-color-grey;
                text-anchor: middle;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                pointer-events: none;
            }
            
            
            .vzb-mc-tooltip {
                @extend %vzb-chart-tooltip
            }

            
            
            
        }
    }
    &.vzb-large {
        .vzb-mountainchart {
            .vzb-mc-axis-x-title, .vzb-mc-axis-y-title {
                @extend %vzb-chart-axis-title-large;
            }
            .vzb-shadow, .vzb-mc-label-shadow{
                @extend %vzb-chart-label-shadow-large;
            }
            .vzb-mc-axis-x,
            .vzb-mc-mountains-labels,
            .vzb-mc-povertyline,
            .vzb-mc-tooltip {
                @extend %vzb-chart-ticks-large;
            }
        }
    }
    &.vzb-medium {
        .vzb-mountainchart {
            .vzb-mc-axis-x-title, .vzb-mc-axis-y-title {
                @extend %vzb-chart-axis-title-medium;
            }
            .vzb-shadow, .vzb-mc-label-shadow{
                @extend %vzb-chart-label-shadow-medium;
            }
            .vzb-mc-axis-x,
            .vzb-mc-mountains-labels,
            .vzb-mc-povertyline,
            .vzb-mc-tooltip {
                @extend %vzb-chart-ticks-medium;
            }
        }
    }
    &.vzb-small {
        .vzb-mountainchart {
            .vzb-mc-axis-x-title, .vzb-mc-axis-y-title {
                @extend %vzb-chart-axis-title-small;
            }
            .vzb-shadow, .vzb-mc-label-shadow{
                @extend %vzb-chart-label-shadow-small;
            }
            .vzb-mc-axis-x,
            .vzb-mc-mountains-labels,
            .vzb-mc-povertyline,
            .vzb-mc-tooltip {
                @extend %vzb-chart-ticks-small;
            }
        }
    }
}