li.nav-expandable
  .nav-expandable-item(ng-repeat='item in items')
    a.nav-toggle-expanded(href='{{ item.url }}', ng-click='urlMgr.redirectExternal(item.url, $event)') {{ item.menu_label }}
    .nav-expanded(ng-show='item.children', ng-mouseenter='onHover($event)', ng-mouseleave='onBlur($event)')
      .nav-expanded-columns.nav-expanded-columns-2.nav-expanded-columns-icons
        .nav-expanded-columns-inner
          ul
            li.expanded-column-item(ng-repeat='child in item.children')
              a(href='{{ child.url }}', ng-click='urlMgr.redirectExternal(child.url, $event)')
                .column-item-icon
                  img(ng-src='{{ createIconUrl(child.icon_url) }}', ng-if='hasIcon(child)')
                .column-item-info
                  .column-item-heading {{ child.menu_label }}
                  .column-item-description {{ child.caption }}