.more
  .related
    h2.heading-2 Related
    ul.related-items
      li.related-item(ng-repeat="(key, related) in relatedItems")
        a(href="{{related.link}}")
          div.related-item-thumbnail
            img(src="{{related.image}}")
          div.related-item-info
            span.title {{related.title}}
            span.subtitle {{related.subtitle}}
  .about
    h2.heading-2 See also
    div.menu
    ul.menu-primary
      li.menu-item(ng-repeat="(key, tool) in tools")
        a(ng-hide="activeTool == key", ng-href="{{key}}")
          span.title {{tool.title}}
          img.image(src="{{tool.image}}")

