#filter-wrapper {
  position: relative;
  text-align: left;
  @include font-size(12px);


  .ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  input {
    @include font-size(12px);
    display: block;
    width: 100%;
    text-indent: 10px;
    border: none;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
  }

  .ui-menu {
    position: absolute;
    right: 0;
    max-height: 400px;
    overflow: auto;
    background: #fff;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid #EEE;

    a {
      display: block;
      padding: 5px 10px;
    }

    .ui-state-focus,
    .ui-state-active {
      background: #ccc;
      color: #fff;
    }
  }
}

&.large {
    #filter-wrapper {
      @include font-size(16px);
        input {
          font-size: 16px;
        }
    }
}
