<div class='vzb-dialog-modal'>
    <span class="thumb-tack-class thumb-tack-class-ico-pin fa" data-dialogtype="stack" data-click="pinDialog"></span>
    <span class="thumb-tack-class thumb-tack-class-ico-drag fa" data-dialogtype="stack" data-click="dragDialog"></span>
    <div class="vzb-dialog-title"><%=t ("buttons/stack") %></div>
        
    <div class="vzb-dialog-content vzb-dialog-scrollable">
        
        <!--p class="vzb-dialog-sublabel"> <%=t ( "hints/mount/howtostack") %></p-->
        <form class="vzb-howtostack vzb-dialog-paragraph">
            <label> <input type="radio" name="stack" value="none"> <%=t ("mount/stacking/none") %> </label>
            <label> <input type="radio" name="stack" value="bycolor"> <%=t ("mount/stacking/color") %> </label>
            <label> <input type="radio" name="stack" value="all"> <%=t ("mount/stacking/world") %> </label>
        </form>
        
        <form class="vzb-howtomerge vzb-dialog-paragraph">
            <p class="vzb-dialog-sublabel"> <%=t ("hints/mount/howtomerge") %> </p>
            <label> <input type="radio" name="merge" value="none"> <%=t ("mount/merging/none") %> </label>
            <label> <input type="radio" name="merge" value="grouped"> <%=t ("mount/merging/color") %> </label>
            <label> <input type="radio" name="merge" value="stacked"> <%=t ("mount/merging/world") %> </label>
        </form>
        
        <form class="vzb-manual-sorting">
            <p class="vzb-dialog-sublabel"> <%=t ("mount/manualSorting") %> </p>
            <div class="vzb-dialog-draggablelist vzb-dialog-control"></div>
        </form>
                
    </div>

    <div class="vzb-dialog-buttons">
        <div data-click="closeDialog" class="vzb-dialog-button vzb-label-primary"><%=t ("buttons/ok") %></div>
    </div>

</div>