.card
  p GW Color Picker
.card
  p GW Country Selector
.card
  p Size Picker
  input(type="range", ng-model="sizeValue", ng-change="changeSize()")
.card
  p Example: Hover country
  p {{hoveredCountry}}
.card
  p Example: Time
  p {{time}}