.loader-wrapper(ng-class='{"hidden" : started}')
  .loader
.last-update(ng-class='{"hidden" : !loadingError}', class='error') Ops! Server is down.
.content
  .column.left.info#info(ng-class='{"hidden" : !started}')
    include ./sidebar.jade
  .column.center#vizabi-placeholder
  .column.right.control#control(ng-class='{"hidden" : !started}')
    include ./controls.jade