button.btn Reset
button.btn Open Graph menu
p.category Global Trends
h2.title Wealth & Health of Nations
p This graph shows how long people live and how much money they earn. Click the play button to see how countries have developed since 1800. 
p
  button.btn.block.primary Share
