//general styles
.vzb-bs-holder {

  $vzb-bs-width: 240px;

  width: $vzb-bs-width;
  margin: 0 auto;
  position: relative;
  //height: 116px;
  
  .vzb-bs-svg {
    margin: 0 auto;
    display: block;
    position: relative;
  }

  .vzb-bs-slider { 

    .vzb-bs-slider-thumb-arc {
      fill: none;
      pointer-events: none; 
      stroke: rgba($vzb-color-primary, 1);
      stroke-width: 2px;
      stroke-linejoin: round;
    }
        
    .vzb-bs-slider-extent {
      fill-opacity: .125;
      cursor: col-resize !important;
    }
  
    .vzb-bs-slider-thumb-label {
      direction: ltr;
      pointer-events: none; 	
    }
  
    .vzb-bs-slider-thumb-badge {
      fill: rgba($vzb-color-primary, 1);
      stroke: $vzb-color-white;
      stroke-width: 2px;
      stroke-linejoin: round;
      stroke-opacity: 1;
    }
    
    .background {
      fill-opacity: .1;
      shape-rendering: crispEdges;
      cursor: pointer !important;
    }
  }
}

//large specific styles
&.vzb-large,
&.vzb-presentation {
  .vzb-bs-holder {
    //...
    height: 150px;
  }
}

//medium specific styles
&.vzb-medium {
  .vzb-bs-holder {
    //...
    height: 120px;
  }
}

//small specific styles
&.vzb-small {
  .vzb-bs-holder {
    //...
    height: 90px;
  }
}
