//general styles
.vzb-bs-holder {

  $vzb-bs-width: 200px;

  width: $vzb-bs-width;
  height: 110px;
  margin: 0 auto;
  position: relative;

  .vzb-bs-slider { 
    .vzb-bs-slider-thumb-arc {
      fill: none;
      pointer-events: none; 
      stroke: rgba($vzb-color-primary, 1);
      stroke-width: 2px;
      stroke-linejoin: round;
    }
        
    .vzb-bs-slider-extent {
      fill-opacity: .125;
    }
  
    .vzb-bs-slider-thumb-label {
      pointer-events: none; 	
    }
  
    .vzb-bs-slider-thumb-badge {
      fill: rgba($vzb-color-primary, 1);
      stroke: $vzb-color-white;
      stroke-width: 4px;
      stroke-opacity: 1;
    }
    
    .background {
      fill-opacity: .1;
      shape-rendering: crispEdges;
      visibility: visible !important;
      cursor: pointer !important;
    }
  }
}

//large specific styles
&.vzb-large {
  .vzb-bs-holder {
    //...
  }
}

//medium specific styles
&.vzb-medium {
  .vzb-bs-holder {
    //...
  }
}

//small specific styles
&.vzb-small {
  .vzb-bs-holder {
    //...

  }
}
