//general styles
.vzb-ss-holder {
  height: 20px;
  margin: 0 auto;
  position: relative;

  &::before {
    @include rtl {
      right: 0;
    }
    @include border-radius(5px 5px 5px 5px);
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -3px;
    width: 100%;
    height: 6px;
    background-color: rgba($vzb-color-primary, .3);
  }

  &.vzb-disabled {
    &::before {
      background-color: rgba($vzb-color-grey, .2);
    }
    .vzb-ss-slider-normal, 
    .vzb-ss-slider-small {
      opacity: .5;
    }
  }

  .vzb-ss-slider-normal {
    @include rtl {
      left: 0 !important;
    }
    position: absolute;
    top: 50%;
    margin-top: -10px;
    //height: 3px;
    width: 100%;
    -webkit-appearance: none;
    background: transparent;
    outline: none !important;
    border: 0;
    padding: 0;
    font-size: 15px;
    max-height: 100%;

    // Slider Handle
    &::-webkit-slider-thumb {
      @include border-radius(20px);
      @include transition(left .1s ease-in-out);
      -webkit-appearance: none;
      cursor: pointer;
      background-color: $vzb-color-primary;
      //top: -12px;
      width: 20px;
      height: 20px;
      border: 3px solid $vzb-color-white;
    }
    &::-moz-range-thumb {
      @include border-radius(14px);
      @include transition(left .1s ease-in-out);
      cursor: pointer;
      background: $vzb-color-primary;
      //top: -12px;
      width: 14px;
      height: 14px;
      border: 3px solid $vzb-color-white;
    }
    &::-ms-thumb {
      @include border-radius(14px);
      @include transition(left .1s ease-in-out);
      cursor: pointer;
      background: $vzb-color-primary;
      height: 14px;
      width: 14px;
      border: 3px solid $vzb-color-white;
    }
  }

  .vzb-ss-slider-small {
    @extend .vzb-ss-slider-normal;
    &::-webkit-slider-thumb {
      width: 15px;
      height: 15px;
    }
    &::-moz-range-thumb {
      width: 9px;
      height: 9px;
    }
  }
}

//large specific styles
&.vzb-large {
  .vzb-ss-holder {
    //...
  }
}

//medium specific styles
&.vzb-medium {
  .vzb-ss-holder {
    //...
  }
}

//small specific styles
&.vzb-small {
  .vzb-ss-holder {
    //...
  }
}
