$vzb-button-width: 60px;
$vzb-button-width-expand: 58px;
$vzb-button-size: 26px;
$vzb-button-radius: $vzb-button-size + 10;
$vzb-button-bg: $vzb-color-white;
$vzb-button-more-bg: $vzb-color-grey-lightest;
$vzb-button-color: $vzb-color-primary-dark;
$vzb-button-color-title: $vzb-color-primary-light;
$vzb-button-color-title-active: $vzb-button-color;
$vzb-button-color-border: #cce6ed;


.vzb-tool-buttonlist,
.vzb-dialog-zoom-buttonlist,
.vzb-dialog-options-buttonlist {
  .vzb-buttonlist-btn {
    outline: none;
    background: none;
    border: 0;
    text-align: center;
    display: inline-block;
    padding: 5px 4px;
    width: $vzb-button-width;

    > .vzb-buttonlist-btn-icon {
      @include border-radius($vzb-button-radius);
      transition: 100ms ease-in;
      cursor: pointer;
      background-color: $vzb-button-bg;
      border: 1px solid $vzb-button-color-border;
      color: $vzb-button-color;
      display: inline-block;
      font-size: $vzb-font-size-medium;
      height: $vzb-button-size;
      line-height: 12px;
      padding: 5px;
      text-align: center;
      width: $vzb-button-size;

      // border: 1px solid $vzb-button-color-border;
      .vzb-icon {
        height: 14px;
        width: 14px;
        vertical-align: top;

        path,
        text {
          fill: $vzb-button-color;
        }
      }
    }
    > .vzb-buttonlist-btn-title {
      color: $vzb-button-color-title;
      display: block;
      font-size: $vzb-font-size-tiny;
      padding-top: 1px;
      text-align: center;
      text-transform: uppercase;
    }

    &.vzb-buttonlist-btn-more > .btn-icon {
      background-color: $vzb-button-more-bg;
    }

    &.vzb-active,
    &.vzb-active-locked {
      > .vzb-buttonlist-btn-icon {
        background-color: $vzb-button-color;
        border: 1px solid $vzb-button-color;
        color: $vzb-button-bg;

        .vzb-icon {
          path,
          text {
            fill: $vzb-button-bg;
          }
        }
      }

      > .vzb-buttonlist-btn-title {
        color: $vzb-button-color-title-active;
      }
    }

    &.vzb-unavailable {
      pointer-events: none;
      > .vzb-buttonlist-btn-icon {
        border: 1px solid $vzb-button-color-border;
        opacity: 0.4;
      }

      > .vzb-buttonlist-btn-title {
        opacity: 0.4;
      }
    }
  }
}

//responsiveness

&.vzb-small {
  .vzb-buttonlist-btn {
    &[data-btn="presentation"] {
      pointer-events: none;

      > .vzb-buttonlist-btn-icon {
        background-color: rgba($vzb-color-grey-lightest, 0.5);

        .vzb-icon {
          path {
            fill: rgba($vzb-color-primary-light, 0.4);
          }
        }
      }

      > .vzb-buttonlist-btn-title {
        color: rgba($vzb-color-primary-light, 0.4);
      }
    }
  }
  &.vzb-portrait {
    .vzb-tool-buttonlist {
      .vzb-buttonlist-btn {
        margin-bottom: 20px;
        width: $vzb-button-width;
      }
    }
  }
}

&.vzb-landscape,
&.vzb-medium,
&.vzb-large {
  .vzb-tool-buttonlist {
    .vzb-buttonlist-btn {
      @include rtl {
        margin-left: 20px;
        margin-right: 0;
      }
      margin-right: 20px;
      width: $vzb-button-width;
      > .vzb-btn-icon {
        // @include font-size(23px);
        font-size: $vzb-font-size-medium;
        height: $vzb-button-size + 10;
        padding: 9px;
        width: $vzb-button-size + 10;
      }
      > .vzb-buttonlist-btn-title {
        font-size: $vzb-font-size-tiny;
        padding-top: 2px;
      }
    }
  }
}

&.vzb-small,
&.vzb-medium {
  .vzb-tool-sidebar .vzb-tool-buttonlist .vzb-buttonlist-btn[data-btn="dialogexpand"] {
    display: none;  
  }
}

&.vzb-large {
  .vzb-tool-sidebar .vzb-tool-buttonlist .vzb-buttonlist-btn {
    &[data-btn="dialogexpand"] {
      @include rtl {
        left: 54px;
        right: auto;
        .vzb-buttonlist-btn-icon .vzb-icon {
          transform: rotateY(180deg) scaleY(1.4);
        }
      }
      position: absolute;
      top: calc(50% - 140px);
      height: 200px;
      width: 13px;
      padding: 0;
      right: 54px;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      cursor: pointer;

      .vzb-buttonlist-btn-icon {
        background-color: $vzb-color-primary-lightest;
        transition: none;
        border-right-width: 0;
        border-radius: 6px;
        padding: 0;
        margin: 0;
        display: flex;
        flex: 0 0 200px;
        width: 0;
        height: auto;
        align-items: center;
        justify-content: center;

        .vzb-icon {
          display: none;
          flex: 0 0 9px;
          align-self: center;
          opacity: 0.5;
          transform: scaleY(1.4);
          stroke: $vzb-color-white;
          stroke-width: 30px;
        }
      }

      &:hover {
        top: 20px;
        bottom: 100px;
        height: auto;
        .vzb-buttonlist-btn-icon {
          width: inherit;
          border-right-width: 1px;
          &::before {
            content: "";
            position: absolute;
            height: calc(50% - 100px);
            width: 1px;
            transform-origin: top;
            transform: scaleY(-1);
            animation: expand 0.2s linear;
            background-color: $vzb-button-color-border;
            align-self: flex-start;
          }
          &::after {
            content: "";
            position: absolute;
            height: calc(50% - 100px);
            width: 1px;
            transform-origin: bottom;
            transform: scaleY(-1);
            animation: expand 0.2s linear;
            background-color: $vzb-button-color-border;
            align-self: flex-end;
          }
          .vzb-icon {
            display: block;
          }
        }
      }

      @keyframes expand {
        0% {
          transform: scaleY(0);
        }
      }

      .vzb-buttonlist-btn-title {
        display: none;
      }
    }
  }

  &.vzb-dialog-expand-true {
    .vzb-tool-buttonlist {
      .vzb-buttonlist-btn {
        @include rtl {
          margin-left: 0;
        }
        margin-right: 0;
        width: $vzb-button-width-expand;
        &.vzb-dialog-side-btn {
          display: none;
        }
        &[data-btn="dialogexpand"] {
          @include rtl {
            left: 284px;
            right: auto;
            .vzb-buttonlist-btn-icon .vzb-icon {
              transform: scaleY(1.4);
            }
          }
          right: 284px;
          .vzb-buttonlist-btn-icon .vzb-icon {
            transform: rotateY(180deg) scaleY(1.4);
          }
        }
      }
    }
  }
}
