$vzb-button-width: 60px;
$vzb-button-width-expand: 58px;
$vzb-button-size: 26px;
$vzb-button-radius: $vzb-button-size + 10;
$vzb-button-bg: $vzb-color-white;
$vzb-button-more-bg: $vzb-color-grey-lightest;
$vzb-button-color: $vzb-color-primary-dark;
$vzb-button-color-title: $vzb-color-primary-light;
$vzb-button-color-title-active: $vzb-button-color;
$vzb-button-color-border: #cce6ed;


.vzb-tool-buttonlist,
.vzb-dialog-zoom-buttonlist,
.vzb-dialog-options-buttonlist {
  .vzb-buttonlist-btn {
    outline: none;
    background: none;
    border: 0;
    text-align: center;
    display: inline-block;
    padding: 5px 4px;
    width: $vzb-button-width;

    > .vzb-buttonlist-btn-icon {
      @include transition(all 100ms ease-in);
      @include border-radius($vzb-button-radius);
      cursor: pointer;
      background-color: $vzb-button-bg;
      border: 1px solid $vzb-button-color-border;
      color: $vzb-button-color;
      display: inline-block;
      font-size: $vzb-font-size-medium;
      height: $vzb-button-size;
      line-height: 12px;
      padding: 5px;
      text-align: center;
      width: $vzb-button-size;

      // border: 1px solid $vzb-button-color-border;
      .vzb-icon {
        height: 14px;
        width: 14px;
        vertical-align: top;

        path,
        text {
          fill: $vzb-button-color;
        }
      }
    }
    > .vzb-buttonlist-btn-title {
      color: $vzb-button-color-title;
      display: block;
      font-size: $vzb-font-size-tiny;
      padding-top: 1px;
      text-align: center;
      text-transform: uppercase;
    }

    &.vzb-buttonlist-btn-more > .btn-icon {
      background-color: $vzb-button-more-bg;
    }

    &.vzb-active,
    &.vzb-active-locked {
      > .vzb-buttonlist-btn-icon {
        background-color: $vzb-button-color;
        border: 1px solid $vzb-button-color;
        color: $vzb-button-bg;

        .vzb-icon {
          path,
          text {
            fill: $vzb-button-bg;
          }
        }
      }

      > .vzb-buttonlist-btn-title {
        color: $vzb-button-color-title-active;
      }
    }

    &.vzb-unavailable {
      > .vzb-buttonlist-btn-icon {
        border: 1px solid $vzb-button-color-border;
        opacity: .4;
      }

      > .vzb-buttonlist-btn-title {
        opacity: .4;
      }
    }
  }
}

//responsiveness

&.vzb-small {
  .vzb-buttonlist-btn {
    &[data-btn="presentation"] {
      pointer-events: none;

      > .vzb-buttonlist-btn-icon {
        background-color: rgba($vzb-color-grey-lightest, .5);

        .vzb-icon {
          path {
            fill: rgba($vzb-color-primary-light, .4);
          }
        }
      }

      > .vzb-buttonlist-btn-title {
        color: rgba($vzb-color-primary-light, .4);
      }
    }
  }
  &.vzb-portrait {
    .vzb-tool-buttonlist {
      .vzb-buttonlist-btn {
        margin-bottom: 20px;
        width: $vzb-button-width;
      }
    }
  }
}

&.vzb-landscape,
&.vzb-medium,
&.vzb-large {
  .vzb-tool-buttonlist {
    .vzb-buttonlist-btn {
      @include rtl {
        margin-left: 20px;
        margin-right: 0;
      }
      margin-right: 20px;
      width: $vzb-button-width;
      > .vzb-btn-icon {
        // @include font-size(23px);
        font-size: $vzb-font-size-medium;
        height: $vzb-button-size + 10;
        padding: 9px;
        width: $vzb-button-size + 10;
      }
      > .vzb-buttonlist-btn-title {
        font-size: $vzb-font-size-tiny;
        padding-top: 2px;
      }
    }
  }
}

&.vzb-large {
  &.vzb-dialog-expand-true {
    .vzb-tool-buttonlist {
      .vzb-buttonlist-btn {
        @include rtl {
          margin-left: 0;
        }
        margin-right: 0;
        width: $vzb-button-width-expand;
        &.vzb-dialog-side-btn {
          display: none;
        }
      }
    }
  }
}
