$vzb-button-width: 60px;
$vzb-button-expand-width: 290px;
$vzb-button-size: 26px;
$vzb-button-radius: $vzb-button-size + 10;
$vzb-button-bg: $vzb-color-white;
$vzb-button-more-bg: $vzb-color-grey-lightest;
$vzb-button-color: $vzb-color-primary-dark;
$vzb-button-color-title: $vzb-color-primary-light;
$vzb-button-color-title-active: $vzb-button-color;
$vzb-button-color-border: #cce6ed;
$vzb-dialog-content-height: 250px;


.vzb-buttonlist {
  @include position(absolute, 0);
  overflow: visible;
  text-align: center;

  input,
  textarea,
  keygen,
  select,
  button {
    font-family: $vzb-font-family;
  }

  .vzb-buttonlist-container-buttons {
    @include position(absolute, 0);
    &:-webkit-scrollbar {
      display: none;
    }
  }


  .vzb-buttonlist-btn {
    outline: none;
    background: none;
    border: 0;
    text-align: center;
    display: inline-block;
    padding: 5px;
    width: $vzb-button-width;
    
    > .vzb-buttonlist-btn-icon {

      @include transition(all 100ms ease-in);
      @include border-radius($vzb-button-radius);
      cursor: pointer;
      background-color: $vzb-button-bg;
      border: 1px solid $vzb-button-color-border;
      color: $vzb-button-color;
      display: inline-block;
      font-size: $vzb-font-size-medium;
      height: $vzb-button-size;
      line-height: 12px;
      padding: 5px;
      text-align: center;
      width: $vzb-button-size;
      
      // border: 1px solid $vzb-button-color-border;
      .vzb-icon {
        height: 14px;
        width: 14px;
        vertical-align: top;
        path {
          fill: $vzb-button-color;
        }
      }
    }
    > .vzb-buttonlist-btn-title {
      color: $vzb-button-color-title;
      display: block;
      font-size: $vzb-font-size-tiny;
      padding-top: 1px;
      text-align: center;
      text-transform: uppercase;
    }
    &.vzb-buttonlist-btn-more > .btn-icon {
      background-color: $vzb-button-more-bg;
    }
    &.vzb-active,
    &.vzb-active-locked {
      > .vzb-buttonlist-btn-icon {
        background-color: $vzb-button-color;
        border: 1px solid $vzb-button-color;
        color: $vzb-button-bg;

        .vzb-icon path {
          fill: $vzb-button-bg;
        }
      }
      > .vzb-buttonlist-btn-title {
        color: $vzb-button-color-title-active;
      }
    }
    &.vzb-unavailable {
      > .vzb-buttonlist-btn-icon {
        border: 1px solid $vzb-button-color-border;
        opacity: .4;
      }
      > .vzb-buttonlist-btn-title {
        opacity: .4;
      }
    }
  }

  @import 'dialogs/dialog';
    
  @import '../bubblesize/bubblesize';
  @import '../indicatorpicker/indicatorpicker';
  @import '../minmaxinputs/minmaxinputs';
  @import '../simpleslider/simpleslider';
  @import '../colorlegend/colorlegend';
  @import '../simplecheckbox/simplecheckbox';
  @import '../draggablelist/draggablelist';

}

//responsiveness
&.vzb-landscape,
&.vzb-large,
&.vzb-medium {
  .vzb-buttonlist {
    .vzb-buttonlist-dialog {
      @include position(absolute, -2000px 40px auto -130px);
      &.vzb-active {
        @include position(absolute, 20px 40px auto -130px);
      }
    }
  }
}

&.vzb-small {
  .vzb-presentationmode-switch {
    pointer-events: none;
    .vzb-dialog-checkbox {
      input[type=checkbox] + label {
        background-color: $vzb-color-grey;
        border: 1px solid rgba($vzb-color-grey-dark, .5);
      }
      input[type=checkbox] + label::after {
        @include opacity(0);
      }
    }    
  }
  .vzb-buttonlist-btn {
    &[data-btn="presentation"] {
      pointer-events: none;
      > .vzb-buttonlist-btn-icon {
        border: 1px solid rgba($vzb-color-grey-dark, .5);
        background-color: $vzb-color-grey;
        .vzb-icon {
          path {
            fill: $vzb-color-grey-dark;
          }
        }
      }
      > .vzb-buttonlist-btn-title {
        color: $vzb-color-grey;
      }
    }
  }
  &.vzb-portrait {
    .vzb-buttonlist {
      .vzb-buttonlist-btn {
        margin-bottom: 20px;
        width: $vzb-button-width;
      }
      .vzb-buttonlist-dialog {
        .vzb-dialog-content.vzb-dialog-content-fixed {
          max-height: $vzb-dialog-content-height - 50px;
        }
      }
    }
  }
  &.vzb-landscape {
    .vzb-buttonlist-dialog {
      @include position(absolute, -2000px 40px auto -130px);
      .vzb-dialog-content,
      .vzb-dialog-content.vzb-dialog-content-fixed {
        max-height: $vzb-dialog-content-height - 100px !important;
      }
      .vzb-dialog-buttons {
        padding: 5px 25px 6px;
      }
      .vzb-dialog-title {
        padding: 30px 25px 10px;
      }
      &[data-btn='find'] {
        .vzb-find-filter {
          top: 20px;
        }
      }
    }
  }
}
&.vzb-landscape,
&.vzb-medium,
&.vzb-large {
  .vzb-buttonlist {
    .vzb-buttonlist-btn {
      margin-right: 20px;
      width: $vzb-button-width;
      > .vzb-btn-icon {
        // @include font-size(23px);
        font-size: $vzb-font-size-medium;
        height: $vzb-button-size + 10;
        padding: 9px;
        width: $vzb-button-size + 10;
      }
      > .vzb-buttonlist-btn-title {
        font-size: $vzb-font-size-tiny;
        padding-top: 2px;
      }
    }
  }
  .vzb-buttonlist-container-buttons {
    margin-right: -20px;
  }
}

&.vzb-large {
  &.vzb-button-expand-true {
    .vzb-tool-stage {
      right: $vzb-button-expand-width;
    }
    .vzb-tool-buttonlist {
      width: $vzb-button-expand-width;

      .vzb-buttonlist {
        display: flex;
        flex-direction: column;
      }

      .vzb-buttonlist-container-dialogs {
        display: flex;
        flex-direction: column;
        flex: auto;
        overflow-x: hidden;
        overflow-y: auto;
      }

      .vzb-buttonlist-container-buttons {
        position: relative;
        padding: 10px 0;
        margin-right: -10px;
        flex: none;
      }

      .vzb-buttonlist-btn {
        margin-right: 0;
        &.vzb-dialog-side-btn {
          display: none;
        }
      }

      .vzb-buttonlist-dialog {
        &.vzb-dialog-side {
          visibility: visible;
          display: block;
          margin: 5px;
          position: static;
          box-shadow: none;
          background-color: $vzb-color-primary-lightest;
          border-bottom: 1px solid rgba(200, 200, 200, .4);
          z-index: initial;

          .vzb-dialog-buttons {
            display: none;
            padding: 5px 25px;
          }

          .vzb-dialog-modal {
            flex: auto;
            display: flex;
            flex-direction: column;
            overflow: hidden;

            .thumb-tack-class {

              &.thumb-tack-class-ico-pin,
              &.thumb-tack-class-ico-drag {
                display: none;
              }

            }
          }

          .vzb-dialog-title {
            padding: 5px 25px;
          }

          .vzb-dialog-button {
            position: relative;
          }

          &[data-btn="find"] {
            display: flex;
            flex-direction: column;
            flex: auto;
            @import 'dialogs/find/find';

            .vzb-dialog-content-fixed {
              min-height: 0;
              max-height: initial;
              height: auto;
              margin-top: 10px;
            }
          }

          &[data-btn="show"] {
            flex: auto;
            @import 'dialogs/show/show';
          }

          &[data-btn="colors"] {
            flex: none;
            @import 'dialogs/colors/colors';

            .vzb-dialog-content {
              max-height: initial;
            }
            .vzb-cl-outer {
              .vzb-cl-holder {
                max-height: initial;
                overflow-y: hidden;
              }
            }
          }

          &[data-btn="size"] {
            flex: none;
            @import 'dialogs/size/size';
          }

          &[data-btn="stack"] {
            flex: none;

            .vzb-dl-holder .vzb-draggable {
              height: initial;
            }
          }
        }
      }
    }
  }
}
