$buttonWidth: 50px;
$buttonSize: 23px;
$buttonRadius: $buttonSize + 10;
$buttonBackground: #999999;
$buttonMoreBackground: #CCCCCC;
$buttonColor: #ffffff;
$buttonTitleColor: $buttonBackground;

#buttonlist {
	@include box-sizing(border-box);
	@include absoluteAll;
	overflow: hidden;
	text-align: center;
	text-overflow: clip;
	.button {

		outline: none;
		@include box-sizing(border-box);
		background: none;
		border: 0px;
		text-align: center;
		display: inline-block;
		padding: 5px;
	    cursor: pointer;
	    width: $buttonWidth;

		&>.icon {
			@include box-sizing(border-box);
		    @include border-radius($buttonRadius);
        	@include font-size(12px);
			text-align: center;
		    display:inline-block;
		    border: none;
		    background-color: $buttonBackground;
		    color: $buttonColor;
		    width: $buttonSize;
		    height: $buttonSize;
			padding: 5px;
        }
        &>.title {
        	padding-top: 2px;
			text-align: center;
        	display:block;
        	color: $buttonTitleColor;
        	text-transform: uppercase;
        	@include font-size(10px);
        }

		&#button-more > .icon{
			background-color: $buttonMoreBackground;
		}

        &.hidden {
        	display: none;
        }
	}

}


//responsiveness
&.small.portrait {
	#buttonlist {
		.button {
			width: $buttonWidth + 8;
		}
	}
}

&.medium, &.large {
	#buttonlist {
		.button {
			width: $buttonWidth + 10;
			&>.icon {
				font-size: 15px;
				padding: 8px;
				width: $buttonSize + 10;
		        height: $buttonSize + 10;
			}
		}
	}
}