.vzb-dialog-content {
  max-height: 190px;
  min-height: 120px;
}

.vzb-dialog-buttons {
  display: none;
}

.vzb-dialog-title {
  display: inline-block;
}

.vzb-saxis-container {
  display: inline-block;
  margin: 0 0 5px 10px;
}



