extends ./_layouts/default.jade

block variables
  - var title = "Stacked Age Pyramid"
  - var description = "This page shows the current version of Gapminder's stacked age pyramid chart."
  - var tool = "AgePyramid"
  - var source_code = "https://github.com/Gapminder/vizabi/tree/develop/src/tools/agepyramid"
  - var chart_buttons = "['colors', 'fullscreen']"
  - var chart_dialogs = "{'popup': ['colors']}"