extends ./_layouts/default.pug

block variables
  - var title = "Stacked Age Pyramid"
  - var menu_title = "Age Pyramid"
  - var description = "This page shows the current version of Gapminder's stacked age pyramid chart."
  - var tool = "AgePyramid"
  - var source_code = "https://github.com/Gapminder/vizabi/tree/develop/src/tools/agepyramid"
