extends ./_layouts/default.jade

block variables
  - var title = "Axis Labeler"
  - var description = "This page serves as a test for scales and axis labeler"
  - var tool = "AxisLabeler"
  - var source_code = "http://vizabi.org/blog/2015/07/17/create-your-tool/"
