extends ./_layouts/default.pug

block variables
  - var title = "Bar Chart"
  - var description = "This page shows the current version of Gapminder's bar chart."
  - var tool = "BarChart"
  - var tool_config = "BarChart-custom"
  - var source_code = "https://github.com/Gapminder/vizabi/tree/develop/src/tools/barchart"
  - var chart_data = "{ reader: 'waffle', path: 'https://waffle-server-dev.gapminderdev.org/api/ddf' }"
