extends ./_layouts/default.pug

block variables
  - var title = "Bar Chart"
  - var description = "This page shows the current version of Gapminder's bar chart."
  - var tool = "BarChart"
  - var source_code = "https://github.com/Gapminder/vizabi/tree/develop/src/tools/barchart"
