extends ./_layouts/default.pug

block variables
  - var title = "Bar Rank Chart"
  - var description = "This page shows the current version of Gapminder's bar rank chart."
  - var tool = "BarRankChart"
  - var source_code = "https://github.com/Gapminder/vizabi/tree/develop/src/tools/barrankchart"
