extends ./_layouts/default.pug

block variables
  - var title = "Bar Rank Chart"
  - var description = "This page shows the current version of Gapminder's bar rank chart."
  - var tool = "BarRankChart"
  - var source_code = "https://github.com/Gapminder/vizabi/tree/develop/src/tools/barrankchart"
  - var chart_data = "{ reader: 'waffle', path: 'https://waffle-server-dev.gapminderdev.org/api/ddf' }"
  - var chart_locale = "{}"
