extends ./_layouts/default.pug

block variables
  - var title = "Bubble Chart"
  - var description = "This page shows the current version of Gapminder's bubble chart."
  - var tool = "BubbleChart"
  - var tool_config = "BubbleChart-gapminder"
  - var source_code = "https://github.com/Gapminder/vizabi/tree/develop/src/tools/bubblechart"
