extends ./_layouts/default.jade

block variables
  - var title = "Bubble Map"
  - var description = "This page shows the current version of Gapminder's bubble map."
  - var tool = "BubbleMap"
  - var source_code = "https://github.com/Gapminder/vizabi/tree/develop/src/tools/bubblemap"
  - var chart_buttons = "['colors', 'find', 'size', 'fullscreen', 'presentation']"
  - var chart_buttons_expand = "['colors', 'find']"