extends ./_layouts/default.jade

block variables
  - var title = "Bubble Map Chart"
  - var description = "This page shows the current version of Gapminder's bubble map chart."
  - var tool = "BubbleMapChart"
  - var source_code = "https://github.com/Gapminder/vizabi/tree/develop/src/tools/bubblemapchart"
  - var chart_buttons = "['axes', 'colors', 'fullscreen']"
  - var chart_buttons_expand = "[]"