extends ./_layouts/default.jade

block variables
  - var title = "Bubble Chart"
  - var description = "This page shows the current version of Gapminder's bubble chart."
  - var tool = "BubbleChart"
  - var source_code = "https://github.com/Gapminder/vizabi/tree/develop/src/tools/bubblechart"
  - var chart_buttons = "['colors', 'find', 'trails', 'lock', 'size', 'moreoptions', 'fullscreen']"
  - var chart_dialogs = "{'popup': ['colors', 'find', 'size', 'moreoptions'], 'sidebar': ['colors', 'find', 'size'], 'moreoptions': ['opacity', 'speed', 'axes', 'size', 'colors', 'presentation', 'about']}"
  
