extends ./_layouts/default.pug

block variables
  - var title = "Bubble Map"
  - var description = "This page shows the current version of Gapminder's bubble map."
  - var tool = "BubbleMap"
  - var source_code = "https://github.com/Gapminder/vizabi/tree/develop/src/tools/bubblemap"
