extends ./_layouts/default.jade

block variables
  - var title = "Bubble Chart"
  - var description = "This page shows the current version of Gapminder's bubble chart."
  - var tool = "BubbleChart"
  - var source_code = "https://github.com/Gapminder/vizabi/tree/develop/src/tools/bubblechart"
  - var chart_buttons = "['colors', 'find', 'size', 'trails', 'lock', 'moreoptions', 'fullscreen', 'print']"
  - var chart_buttons_expand = "['colors', 'find']"
