extends ./_layouts/default.pug

block variables
  - var title = "Cartogram"
  - var description = "This page shows the current version of Gapminder's cartogram chart."
  - var tool = "Cartogram"
  - var source_code = "https://github.com/Gapminder/vizabi/tree/develop/src/tools/cartogram"
  - var chart_data = "{ reader: 'csv', path: 'data/zaf/waffles/ddf--datapoints--piped_water_percentage--electricity_lighting_percentage--by--year--municipality.csv' }"
  - var chart_locale = "{}"
