extends ./_layouts/default.pug

block variables
  - var title = "Cartogram"
  - var description = "This page shows the current version of Gapminder's cartogram chart."
  - var tool = "Cartogram"
  - var source_code = "https://github.com/Gapminder/vizabi/tree/develop/src/tools/cartogram"
