extends ./_layouts/default.jade

block variables
  - var title = "Donut chart"
  - var description = "This page gives a demo of a donut chart"
  - var tool = "DonutChart"
  - var source_code = "http://vizabi.org/blog/2015/07/17/create-your-tool/"
