extends ./_layouts/default.pug

block variables
  - var title = "Joint of a cartogram and a line"
  - var menu_title = "Cartogram + Line"
  - var description = "This page shows the example of two charts joint together, using one model and one time slider."
  - var tool = "JOINTCartogramLine"
  - var source_code = "https://github.com/Gapminder/vizabi/tree/develop/src/tools/joint_cartogramline"
