extends ./_layouts/default.pug

block variables
  - var title = "Bubble Map (Google)"
  - var description = "This page shows the current version of Gapminder's bubble map."
  - var tool = "LBubbleMap"
  - var tool_config = "LBubbleMap"
  - var source_code = "https://github.com/Gapminder/vizabi/tree/develop/src/tools/bubblemap"
