extends ./_layouts/default.pug

block variables
  - var title = "Line Chart"
  - var description = "This page shows the current version of Gapminder's line chart."
  - var tool = "LineChart"
  - var source_code = "https://github.com/Gapminder/vizabi/tree/develop/src/tools/linechart"
  - var chart_buttons = "['colors', 'find', 'show', 'moreoptions', 'fullscreen', 'presentation']"
  - var chart_dialogs = "{'popup': ['colors', 'find', 'show', 'moreoptions'], 'sidebar': ['colors', 'show'], 'moreoptions': ['opacity', 'speed', 'axes', 'colors', 'presentation', 'about']}"
