extends ./_layouts/default.jade

block variables
  - var title = "Pop By Age"
  - var description = "This page shows the current version of Gapminder's pop by age chart."
  - var tool = "PopByAge"
  - var source_code = "https://github.com/Gapminder/vizabi/tree/develop/src/tools/popbyage"
  - var chart_buttons = "['colors', 'fullscreen']"
  - var chart_buttons_expand = "[]"