extends ./_layouts/default.pug

block variables
  - var title = "Sankey Diagram"
  - var description = "This page shows the current version of Gapminder's Sankey Diagram."
  - var tool = "SankeyDiagram"
  - var tool_config = "SankeyDiagram"
  - var source_code = "https://github.com/Gapminder/vizabi/tree/develop/src/tools/sankeydiagram"
  - var chart_data = "{ reader: 'waffle', path: 'https://waffle-server-dev.gapminderdev.org/api/ddf' }"
