.vzb-tool-no-ts-one-model {
    @include position(absolute, 0px);
    padding: 30px;

    .vzb-year-display-wrapper {
        position: relative;
        text-align: center;
    }
    h2 {
        font-family: $vzb-font-family;
        color: $vzb-color-primary;
        margin: 0px;
    }
    p {
        font-size: 14px;
        line-height: 1.5em;
    }
    pre {
        background: $vzb-color-grey-light;
        padding: 15px;
        color: $vzb-color-grey-dark;
    }
    @import'../../../components/_examples/year-display/year-display';
}
