.vzb-buttonlist {
  .vzb-buttonlist-dialog {
    &[data-btn='moreoptions'] {
      .vzb-dialog-content {
        &.vzb-accordion {
          padding: 0 0 5px;
          .vzb-accordion-section { 
            overflow: hidden;
            max-height: 41px;
            padding-bottom: 20px;
            > * {
              margin-left: 20px;
              margin-right: 20px;
            }
            &.vzb-accordion-active {
              max-height: 500px;
              transition: all .3s ease-in-out;
              .vzb-accordion-section-title::after {
                @include rotate(135deg);
                content: '';
                position: absolute;
                top: 18px;
                right: 20px;
                width: 5px;
                height: 5px;
                border-right: 1px solid $vzb-color-primary;
                border-top: 1px solid $vzb-color-primary;            
              }
            }
            .vzb-accordion-section-title {
              display: block;
              position: relative;
              height: 40px;
              padding: 10px 15px 10px 10px;
              margin: 0 0 25px;
              background-color: $vzb-color-primary-lightest;
              cursor: pointer;
              color: $vzb-color-primary;
              font-family: $vzb-font-family-alt;
              font-size: 1.1em; 
              text-transform: uppercase;
  
              &::after {
                @include rotate(45deg);
                content: '';
                position: absolute;
                top: 18px;
                right: 20px;
                width: 5px;
                height: 5px;
                border-right: 1px solid $vzb-color-primary;
                border-top: 1px solid $vzb-color-primary;
              }
            }
          }
        }
      }
  
      .vzb-dialog-sublabel {
        display: inline-block;
  
        &.saxis-label {
          float: left;
        }
      }
  
      .vzb-clegend-container {
        padding: 0;
        .vzb-cl-outer .vzb-cl-colorlist {
          overflow: hidden;
        }
      }
    }
  }
}
