//responsiveness
&.vzb-large {
  &.vzb-dialog-expand-true {
    .vzb-dialogs-dialog {
      &.vzb-dialog-side {
        &[data-btn="size"] {
          flex: none;

          .vzb-dialog-content {
            max-height: 190px;
            min-height: 120px;
          }
          
          .vzb-dialog-title {
            display: inline-block;
          }
          
          .vzb-saxis-selector {
            display: inline-block;
            margin: 0 0 5px 10px;
          }
        }
      }
    }
  }
}
