<div class='vzb-dialog-modal'>
  <span class="thumb-tack-class thumb-tack-class-ico-pin fa" data-dialogtype="size" data-click="pinDialog"></span>
  <span class="thumb-tack-class thumb-tack-class-ico-drag fa" data-dialogtype="size" data-click="dragDialog"></span>
  <div class="vzb-dialog-title"> 
      <%=t ("buttons/size") %>
      <span class="vzb-saxis-selector"></span>
  </div>
      
      
  <div class="vzb-dialog-content">
    <div class="vzb-dialog-bubblesize"></div>
  </div>

  <div class="vzb-dialog-buttons">
    <div data-click="closeDialog" class="vzb-dialog-button vzb-label-primary">
      <%=t ("buttons/ok") %>
    </div>
  </div>

</div>
