<div class="vzb-timeslider vzb-ts-loading">
  <div class="vzb-ts-slider-wrapper">
    <svg class="vzb-ts-slider">
      <g>
        <g class="vzb-ts-slider-axis"></g>
        <g class="vzb-ts-slider-slide">
          <circle class="vzb-ts-slider-handle"></circle>
          <text class="vzb-ts-slider-value"></text>
        </g>
      </g>
      </svg>
      <svg class="vzb-ts-delay-slider">
        <g>
          <g class="vzb-ts-delay-slider-axis"></g>
          <g class="vzb-ts-delay-slider-slide">
            <circle class="vzb-ts-delay-slider-handle"></circle>
            <text class="vzb-ts-delay-slider-value"></text>
          </g>
        </g>
        </svg>
  </div>

  <!-- SVG VIZABI ICONS
       source: https://github.com/encharm/Font-Awesome-SVG-PNG/ -->
  <div class="vzb-ts-btns">
    <button class="vzb-ts-btn-loading vzb-ts-btn">
      <div class='vzb-loader'></div>
    </button>
    <button class="vzb-ts-btn-play vzb-ts-btn">
      <svg class="vzb-icon vzb-icon-play" viewBox="0 0 48 48"
           xmlns="http://www.w3.org/2000/svg">
        <path xmlns="http://www.w3.org/2000/svg" d="M24 4C12.95 4 4 12.95 4 24s8.95 20 20 20 20-8.95 20-20S35.05 4 24 4zm-4 29V15l12 9-12 9z"/>
      </svg>
    </button>
    <button class="vzb-ts-btn-pause vzb-ts-btn">
      <svg class="vzb-icon vzb-icon-pause" viewBox="0 0 48 48"
           xmlns="http://www.w3.org/2000/svg">
        <path xmlns="http://www.w3.org/2000/svg" d="M24 4C12.95 4 4 12.95 4 24s8.95 20 20 20 20-8.95 20-20S35.05 4 24 4zm-2 28h-4V16h4v16zm8 0h-4V16h4v16z"/>
      </svg>
    </button>
  </div>
</div>
