$vzb-bc-color-bubble:#999999;
$vzb-bc-color-stroke:#666666;
$vzb-bc-margin:10px;
$vzb-bc-margin-axis:60px;
$vzb-bc-color-axis:#999999;
$vzb-bc-year-size:300px;

.vzb-axis-labeler {
    border-bottom: 1px solid #ccc;
    @include absoluteAll;
    overflow: hidden;
}

.vzb-axis-labeler-svg {
    @include absoluteAll;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: $vzb-font-family;

    .vzb-bc-axis {
        path, line {
            fill: none;
            stroke: $vzb-bc-color-axis;
            shape-rendering: crispEdges;
        }
        text {
            fill: $vzb-bc-color-axis;
            @include font-size(15px);
        }
    }
    .vzb-bc-axis-x, .vzb-bc-axis-y {
        @extend .vzb-bc-axis;
    }
    .vzb-bc-line {
        fill: none;
        stroke: $vzb-bc-color-axis;
        stroke-width: 1px;
    }

}
&.vzb-medium {
    .vzb-axis-labeler {
        .vzb-bc-year {
            @include font-size($vzb-bc-year-size / 3 * 2);
        }
    }
}
&.vzb-small {
    .vzb-axis-labeler {
        .vzb-bc-axis-x text, .vzb-bc-axis-y text {
            @include font-size(14px);
        }
        .vzb-bc-year {
            @include font-size($vzb-bc-year-size / 3);
        }
    }
}
