<div class="vzb-bubble-chart">
    <svg class="vzb-bubble-chart-svg">
        <g class="vzb-bc-graph">
            <text class="vzb-bc-year"></text>

            <g class="vzb-bc-bubbles"></g>
            <g class="vzb-bc-bubbles-labels"></g>

            <text class="vzb-bc-axis-y-title"></text>
            <text class="vzb-bc-axis-x-title"></text>

            <g class="vzb-bc-axis-x"></g>
            <g class="vzb-bc-axis-y"></g>

            <g class="vzb-bc-axis-labels">
                <!-- <text id="x_label">Lifespan</text>
			<text id="y_label">Lifespan</text> -->
            </g>
        </g>
    </svg>
    <!-- This could possibly be another component -->
    <div class="vzb-tooltip vzb-hidden"></div>
</div>
