.vzb-tool {

  .vzb-tool-stage {
    bottom: 0;
  }

  .vzb-lc-timeslider {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .vzb-linechart {
    @extend %vzb-chart-wrapper;

    .vzb-linechart-svg {
      @extend %vzb-chart-svg;

      .vzb-lc-axis-x,
      .vzb-lc-axis-y {
        @extend %vzb-chart-axis;
      }

      .vzb-lc-axis-y-title,
      .vzb-lc-axis-x-title {
        @extend %vzb-chart-axis-title;
      }
      .vzb-lc-axis-y-info {
        @extend %vzb-chart-info;
      }
      .vzb-lc-vertical-now,
      .vzb-lc-projection-x,
      .vzb-lc-projection-y {
        stroke-dasharray: 2 4;
        stroke: $vzb-color-grey;
        opacity: 0;
      }
      .vzb-lc-line {
        fill: none;
        stroke-linecap: round;
        //filter:url(#vzb-lc-filter-dropshadow);
      }

      .vzb-lc-line-shadow {
        fill: none;
        stroke-linecap: round;
      }

      .vzb-lc-circle {
        stroke: #000;
      }

      .vzb-lc-axis-value {
        @extend %vzb-chart-ticks;
      }

      .vzb-lc-entity {
        opacity: .9;

        &.vzb-hovered {
          opacity: .9;
        }

        &.vzb-dimmed {
          opacity: .3;
        }

        &.vzb-selected {
          opacity: 1;
        }
      }
    }

  }
  &.vzb-large {

    .vzb-linechart {
      .vzb-lc-line {
        stroke-width: 8px;
      }

      .vzb-lc-line-shadow {
        stroke-width: 11px;
      }

      .vzb-lc-circle {
        stroke-width: 3px;
      }

      .vzb-lc-axis-y-title,
      .vzb-lc-axis-x-title {
        @extend %vzb-chart-axis-title-large;
      }

      .vzb-lc-labelname,
      .vzb-lc-label-value,
      .vzb-lc-axis-x,
      .vzb-lc-axis-y,
      .vzb-lc-axis-value {
        @extend %vzb-chart-ticks-large;
      }
    }
  }

  &.vzb-medium {

    .vzb-linechart {

      .vzb-lc-line {
        stroke-width: 6px;
      }

      .vzb-lc-line-shadow {
        stroke-width: 8px;
      }

      .vzb-lc-circle {
        stroke-width: 3px;
      }

      .vzb-lc-axis-y-title,
      .vzb-lc-axis-x-title {
        @extend %vzb-chart-axis-title-medium;
      }

      .vzb-lc-labelname,
      .vzb-lc-label-value,
      .vzb-lc-axis-x,
      .vzb-lc-axis-y,
      .vzb-lc-axis-value {
        @extend %vzb-chart-ticks-medium;
      }
    }
  }

  &.vzb-small {

    .vzb-linechart {

      .vzb-lc-line {
        stroke-width: 5px;
      }

      .vzb-lc-line-shadow {
        stroke-width: 7px;
      }

      .vzb-lc-circle {
        stroke-width: 2px;
      }

      .vzb-lc-axis-y-title,
      .vzb-lc-axis-x-title {
        @extend %vzb-chart-axis-title-small;
      }

      .vzb-lc-labelname,
      .vzb-lc-label-value,
      .vzb-lc-axis-x,
      .vzb-lc-axis-y,
      .vzb-lc-axis-value {
        @extend %vzb-chart-ticks-small;
      }
    }
  }
  &.vzb-presentation {

    .vzb-linechart {

      .vzb-lc-axis-x,
      .vzb-lc-axis-y {
        @extend %vzb-chart-axis-presentation;
        text {
          font-size: $vzb-font-size-larger;
        }
      }

      .vzb-lc-labels {
        font-size: $vzb-font-size-larger;
      }
    }
  }

}
