$vzb-button-width: 50px;
$vzb-button-size: 26px;
$vzb-button-radius: $vzb-button-size + 10;
$vzb-button-bg: #ffffff;
$vzb-button-more-bg: $vzb-color-grey-lightest;
$vzb-button-color: $vzb-color-primary-dark;
$vzb-button-color-title: #9FBBC1;
$vzb-button-color-title-active: $vzb-button-color;
$vzb-button-color-border: #DBE8EB;
.vzb-buttonlist {

    @import '../bubble-size/bubble-size';

    @include box-sizing(border-box);
    @include absoluteAll;
    text-align: center;
    .vzb-buttonlist-btn {
        outline: none;
        @include box-sizing(border-box);
        background: none;
        border: 0px;
        text-align: center;
        display: inline-block;
        padding: 5px;
        cursor: pointer;
        width: $vzb-button-width;
        &>.vzb-buttonlist-btn-icon {
            @include transition(all, 100ms, ease-in);
            @include box-sizing(border-box);
            @include border-radius($vzb-button-radius);
            @include font-size(16px);
            text-align: center;
            display: inline-block;
            border: none;
            background-color: $vzb-button-bg;
            color: $vzb-button-color;
            width: $vzb-button-size;
            height: $vzb-button-size;
            padding: 5px;
            // border: 1px solid $vzb-button-color-border;
        }
        &>.vzb-buttonlist-btn-title, &>.vzb-buttonlist-btn-title span{
            @include font-size(9px);
            padding-top: 2px;
            text-align: center;
            display: block;
            color: $vzb-button-color-title;
            font-family: $vzb-font-family;
            text-transform: uppercase;
        }
        &.vzb-buttonlist-btn-more > .btn-icon {
            background-color: $vzb-button-more-bg;
        }
        &.vzb-active {
            &>.vzb-buttonlist-btn-icon {
                color: $vzb-button-bg;
                background-color: $vzb-button-color;
            }
            &>.vzb-buttonlist-btn-title {
                color: $vzb-button-color-title-active;
            }
        }
    }
    .vzb-buttonlist-dialog {
        @include box-shadow(0, 8px, 15px, rgba(0, 0, 0, 0.24));
        @include box-sizing(border-box);
        @include transition(all, 300ms, ease-in-out);
        @include absolute(auto, auto, -450px, 50%);
        border-top: 1px solid #f7f7f7;
        width: 280px;
        margin-left: -140px;
        z-index: -2;
        vertical-align: top;
        background-color: #fff;
        text-align: left;
        font-size: 0.9em;
        display: block;
        &.vzb-active {
            @include absolute(auto, auto, 45px, 50%);
            z-index: 20;
        }
        .vzb-dialog-title {
            color: $vzb-color-primary;
            font-size: 1.3em;
            font-family: $vzb-font-family;
            padding: 25px 25px 10px 25px;
        }
        .vzb-dialog-content {
            color: $vzb-color-grey-dark;
            padding: 0px 25px 10px 25px;
            max-height: 250px;
            overflow: hidden;
            overflow-y: auto;
        }
        .vzb-dialog-buttons {
            text-align: right;
            padding: 15px 25px 20px 25px;
        }
        .vzb-dialog-button {
            cursor: pointer;
            padding: 10px;
            display: inline-block;
            color: $vzb-color-grey;
            font-family: $vzb-font-family;
            font-size: 0.8em;
            text-align: center;
            &.vzb-label-primary {
                color: $vzb-color-primary;
                font-weight: bold;
            }
            &:hover {
                color: $vzb-color-primary-dark;
            }
        }
    }
}
//responsiveness
&.vzb-landscape, &.vzb-large {
    .vzb-buttonlist {
        .vzb-buttonlist-dialog {
            @include absolute(-500px, 40px);
            &.vzb-active {
                @include absolute(-20px, 40px);
            }
        }
    }
}
&.vzb-small.vzb-portrait {
    .vzb-buttonlist {
        .vzb-buttonlist-btn {
            width: $vzb-button-width + 3;
        }
    }
}
&.vzb-medium, &.vzb-large {
    .vzb-buttonlist {
        .vzb-buttonlist-btn {
            width: $vzb-button-width + 10;
            &>.vzb-btn-icon {
                @include font-size(18px);
                padding: 9px;
                width: $vzb-button-size + 10;
                height: $vzb-button-size + 10;
            }
        }
    }
}