$buttonWidth: 50px;
$buttonSize: 26px;
$buttonRadius: $buttonSize + 10;
$buttonBackground: #ffffff;
$buttonMoreBackground: $vzb-color-grey-lightest;
$buttonColor: $vzb-color-primary-dark;
$buttonTitleColor: $buttonColor;
$buttonBorderColor: #DBE8EB;

#buttonlist {
	@include box-sizing(border-box);
	@include absoluteAll;
	overflow: hidden;
	text-align: center;
	text-overflow: clip;
	.button {

		outline: none;
		@include box-sizing(border-box);
		background: none;
		border: 0px;
		text-align: center;
		display: inline-block;
		padding: 5px;
	    cursor: pointer;
	    width: $buttonWidth;

		&>.icon {
			@include box-sizing(border-box);
		    @include border-radius($buttonRadius);
        	@include font-size(16px);
			text-align: center;
		    display:inline-block;
		    border: none;
		    background-color: $buttonBackground;
		    color: $buttonColor;
		    width: $buttonSize;
		    height: $buttonSize;
			padding: 5px;
			// border: 1px solid $buttonBorderColor;
        }
        &>.title {
        	padding-top: 2px;
			text-align: center;
        	display:block;
        	color: $buttonTitleColor;
        	text-transform: uppercase;
        	@include font-size(10px);
        }

		&#button-more > .icon{
			background-color: $buttonMoreBackground;
		}

        &.hidden {
        	display: none;
        }
	}

}


//responsiveness
&.small.portrait {
	#buttonlist {
		.button {
			width: $buttonWidth + 8;
		}
	}
}

&.medium, &.large {
	#buttonlist {
		.button {
			width: $buttonWidth + 10;
			&>.icon {
				@include font-size(18px);
				padding: 9px;
				width: $buttonSize + 10;
		        height: $buttonSize + 10;
			}
		}
	}
}