//general styles
#population-bar-chart {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    //...
    .graph {
        
    }
    .axis {
        fill: none;
        stroke: #999999;
        color: #999999;
        text {
            fill: currentColor;
            stroke: none;
        }
    }
    .line {
        fill: none;
        stroke-width: 11px;
    }
    .line-shadow {
        fill: none;
        stroke-width: 19px;
    }
    .label {
        font-size: 1.8em;
    }

    .bar {
        rect {
            fill: black;
        }

        &.selected {
            rect {
                fill: red;
            }
        }
    }
}

//large specific styles
&.large {
    #population-bar-chart {
     	//...
    }
}

//medium specific styles
&.medium {
    #population-bar-chart {
        //...
    }
}

//small specific styles
&.small {
    #population-bar-chart {
        //...
    }
}
