body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
    overflow: hidden;
}
.container {
    margin-right: 250px;
    text-align: center;
}
.aux {
    width: 230px;
    padding: 10px 20px 10px 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: block;
    background-color: #EEF1F2;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    font-size: 12px;
    z-index: 100;
}
.aux p {
    display: block;
    color: #999;
    font-size: 11px;
    text-transform: uppercase;
}
.aux .json_box {
    color: #666;
    background: #E0E8EA;
    padding: 10px;
    font-size: 11px;
    line-height: 1.5;
    margin-bottom: 10px;
    max-height: 300px;
    overflow: scroll;
}
.aux button {
    width: 100%;
    display: block;
}
.buttons {
    background-color: #4b98aa;
    padding: 10px;
    padding-bottom: 0px;
    height: 42px;
    text-align: left;
    min-width: 1250px;
}
.buttons label {
    color: #92C3CF;
    font-size: 11px;
    text-transform: uppercase;
    padding: 10px;
    display: inline-block;
}
.buttons button, .aux button {
    position: relative;
    vertical-align: top;
    height: 32px;
    padding: 0px 10px;
    font-size: 12px;
    color: white;
    text-align: center;
    background: #367788;
    border: 0;
    cursor: pointer;
    margin-bottom: 10px;
}
.buttons button:active, .aux button:active {
    top: 1px;
    outline: none;
}
.placeholder {
    display: inline-block;
    position: relative;
    width: 320px;
    height: 568px;
    margin: 20px auto;
    border: 1px solid #ccc;
    overflow: hidden;
    overflow-y: scroll;
}
.placeholder.fullscreen {
    position: absolute;
    top: 52px;
    left: 0;
    right: 260px;
    bottom: 0;
    margin: auto;
    border: none;
    width: auto;
    height: auto;
}
p {
    margin-top: 10px;
}
/*dropdown*/

.wrapper-dropdown {
    /* Size and position */
    
    position: relative;
    width: 150px;
    margin: 0 1px;
    padding: 9px 6px;
    /* Styles */
    
    background: #75ADBB;
    cursor: pointer;
    outline: none;
    /* Font settings */
    
    text-transform: uppercase;
    font-size: 12px;
    color: white;
    text-align: center;
    display: inline-block;
    z-index: 100;
}
.wrapper-dropdown.wide {
    width: 250px;
}
.wrapper-dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 8px;
    top: 50%;
    margin-top: -3px;
    border-width: 4px 4px 0 4px;
    border-style: solid;
    border-color: #ffffff transparent;
}
.wrapper-dropdown .dropdown {
    /* Size & position */
    
    position: absolute;
    padding: 0px;
    left: 0;
    right: 0;
    z-index: 110;
    /* Styles */
    
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.17);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-weight: normal;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    list-style: none;
    /* Hiding */
    
    opacity: 0;
    pointer-events: none;
}
.wrapper-dropdown .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;
}
.wrapper-dropdown .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1) transparent;
}
.wrapper-dropdown .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #8aa8bd;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.wrapper-dropdown .dropdown li i {
    float: right;
    color: inherit;
}
.wrapper-dropdown .dropdown li:first-of-type a {
    border-radius: 7px 7px 0 0;
}
.wrapper-dropdown .dropdown li:last-of-type a {
    border: none;
    border-radius: 0 0 7px 7px;
}
/* Hover state */

.wrapper-dropdown .dropdown li:hover a {
    background: #f3f8f8;
}
/* Active state */

.wrapper-dropdown.active {
    background: #367788;
}
.wrapper-dropdown.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}
/* No CSS3 support */

.no-opacity .wrapper-dropdown .dropdown, .no-pointerevents .wrapper-dropdown .dropdown {
    display: none;
    opacity: 1;
    /* If opacity support but no pointer-events support */
    
    pointer-events: auto;
    /* If pointer-events support but no pointer-events support */
}
.no-opacity .wrapper-dropdown.active .dropdown, .no-pointerevents .wrapper-dropdown.active .dropdown {
    display: block;
}
.index {
    padding: 10px;
    font-family: Arial, sans-serif;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: scroll;
}
.index h1 {
    padding: 0px;
    color: #ccc;
    font-size: 18px;
}
.index h2 {
    padding: 0px;
    font-weight: normal;
    font-size: 14px;
}
.index p {
    margin: 5px;
}
.index a {
    padding: 10px;
    background: #eee;
    color: #333;
    width: 240px;
    max-width: 240px !important;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
}
.index a:active {
    background: #ccc;
    color: #666;
    text-decoration: none;
}
/* media query */

@media screen and (max-width: 799px) {
    .aux {
        display: none;
    }
    .container {
        margin-right: 0px;
    }
    .placeholder.fullscreen {
        right: 0px;
    }
}
@media screen and (max-width: 600px) {
    .aux {
        display: none;
    }
    .container {
        margin-right: 0px;
    }
    .buttons {
        display: none;
    }
    .placeholder {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border: none;
        width: auto;
        height: auto;
    }
}