.vzb-tool-donutchart {
    .vzb-donutchart{
        @include position(absolute, 0px);
        font-family: $vzb-font-family;
        color: #666666;
        width: 100%;
        height: 100%;
        
        svg{width:100%; height:100%}
        
        text {text-anchor: middle;}
        
        .year {dominant-baseline: hanging; fill: #DDD;}
        .title {fill: $vzb-color-primary;}
        .label {fill: $vzb-color-primary;}

    }
    &.vzb-large {
        .year {font-size: 8.0em;}
        .title {font-size: 4.0em;}
        .label {font-size: 2.0em;}
        
    }
    &.vzb-medium {
        .year {font-size: 8.0em;}
        .title {font-size: 4.0em;}
        .label {font-size: 2.0em;}
        
    }
    &.vzb-small {
        .year {font-size: 4.0em;}
        .title {font-size: 2.0em;}
        .label {font-size: 1.0em;}
    }
}