.vzbp-nav-menu {
  @include prefixer(user-select, none, webkit moz khtml ms);
  a,
  a:hover {
    display: block;
    text-decoration: none;
    color: #333333;
    padding: 8px 10px 8px 15px;
    cursor: pointer;
    position: relative;
    &:hover {
      color: #FFFFFF;
      background: #404040;
    }
    &.active,
    &.active:hover {
      &::before {
        position: absolute;
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 25px 9px 5px 0;
        border-color: #333333;
        left: 0px;
        top: 0px;
      }
    }
  }
}
