#vzbp-sidebar {
  color: #666666;
  .vzbp-button {
    @include prefixer(border-radius, 2px, webkit moz spec);
    display: inline-block;
    position: relative;
    vertical-align: top;
    min-width: 32px;
    height: 32px;
    padding: 0 5px;
    font-size: 12px;
    color: white;
    text-align: center;
    background: #666666;
    border: 0;
    cursor: pointer;
    outline: none;
    margin: 0 3px 0 0;
    &.vzbp-button-bigger {
      font-size: 16px;
    }
    &:hover {
      background: #555555;
      outline: none;
    }
    &:active {
      background: $vzbp-color-primary;
      outline: none;
    }
  }
  hr.vzbp-hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: 10px 0px;
  }
  .vzbp-subtitle {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: normal;
    color: #999;
    margin: 0px;
    padding: 7px 0px;
  }
  p {
    margin: 0px;
    padding: 10px 0px 5px;
  }
  .vzbp-input[type="number"] {
    @include prefixer(border-radius, 2px, webkit moz spec);
    text-align: center;
    width: 50px;
    color: #999;
    padding: 8px 5px;
    background-color: #f2f2f2;
    &:focus {
      color: #333;
      background-color: white;
    }
  }
  @media screen and (max-width: 500px) {
    display: none
  }
}
