.vzbp-viewer {
  @include position(absolute, 0 0 0 0);
  position: absolute !important;
  @include prefixer(box-shadow, 0px 0px 7px 0px rgba(0, 0, 0, 0.1), webkit moz spec);
  margin: auto;
  background-color: #FFFFFF;
  width: 320px;
  height: 568px;
  border: 1px solid #BBBEC8;
  &:after {
    @include position(absolute, null 0 0 null);
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    cursor: nwse-resize;
    z-index: 100;
  }
  @media screen and (max-width: 700px) {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
    height: 100% !important;
  }
}

.vzbp-fullscreen .vzbp-viewer {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  width: 100% !important;
  height: 100% !important;
  border: none;
}
