<div class='vzb-dialog-modal'>
  <span class="thumb-tack-class thumb-tack-class-ico-pin fa" data-dialogtype="find" data-click="pinDialog"></span>
  <span class="thumb-tack-class thumb-tack-class-ico-drag fa" data-dialogtype="find" data-click="dragDialog"></span>
  <div class="vzb-dialog-title">
    <%=t ("dialogs/find") %>
    <span class="vzb-dialog-content vzb-find-filter">
      <input class="vzb-find-search" type="search"/>
    </span>
  </div>
  
  <div class="vzb-dialog-content vzb-dialog-content-fixed vzb-dialog-scrollable">
    <div class="vzb-find-list">
      <!-- list will be placed here -->
    </div>
  </div>

  <div class="vzb-dialog-buttons">
    <div class="vzb-dialog-bubbleopacity vzb-dialog-control"></div>
    <div class="vzb-dialog-button vzb-find-deselect">
      <%=t ("buttons/deselect") %>
    </div>

    <div data-click="closeDialog" class="vzb-dialog-button vzb-label-primary">
      <%=t ("buttons/ok") %>
    </div>
  </div>

</div>
