$vzb-bc-color-bubble:#999999;
$vzb-bc-color-stroke:#666666;
$vzb-bc-margin:10px;
$vzb-bc-margin-axis:60px;
$vzb-bc-color-axis:#999999;
$vzb-bc-year-size:300px;

.vzb-bubble-chart {
    @include absoluteAll;
    overflow: hidden;
}

    
.vzb-bubble-chart-svg {
    @include absoluteAll;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: $vzb-font-family;
    .vzb-bc-bubble {
        @include opacity(0.8);
        stroke: white;
        cursor: pointer;
        &:hover {
            @include opacity(1);
        }

        &.vzb-bc-unselected {
            @include opacity(0.4);
            &:hover {
                @include opacity(0.6);
            }
        }
        &.vzb-bc-selected {
            @include opacity(0.9);
        }
    }
    .vzb-bc-title {
        color: $vzb-color-primary;
        fill: currentColor;
    }
    .vzb-bc-axis {
        path, line {
            fill: none;
            stroke: $vzb-bc-color-axis;
            shape-rendering: crispEdges;
        }
        text {
            fill: $vzb-bc-color-axis;
            @include font-size(15px);
        }
    }
    .vzb-bc-axis-x, .vzb-bc-axis-y {
        @extend .vzb-bc-axis;
    }
    .vzb-bc-axis-y-title, .vzb-bc-axis-x-title {
        @extend .vzb-bc-title;
    }
    .vzb-bc-axis-s-title, .vzb-bc-axis-c-title {
        @extend .vzb-bc-title;
        opacity: 0.3;
    }    
    .vzb-bc-line {
        fill: none;
        stroke: $vzb-bc-color-axis;
        stroke-width: 1px;
    }
    .vzb-bc-year {
        @include opacity(0.1);
        @include font-size(250px);
        fill: $vzb-bc-color-bubble;
        text-anchor: middle;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}
&.vzb-large {
    .vzb-bubble-chart-svg {
        .vzb-bc-bubble {
            stroke-opacity: 1.0;
        }
    }
}
&.vzb-medium {
    .vzb-bubble-chart {
        .vzb-bc-year {
            @include font-size($vzb-bc-year-size / 3 * 2);
        }
    }
    .vzb-bubble-chart-svg {
        .vzb-bc-bubble {
            stroke-opacity: 0.8;
        }
    }
}
&.vzb-small {
    .vzb-bubble-chart {
        .vzb-bc-axis-x text, .vzb-bc-axis-y text {
            @include font-size(14px);
        }
        .vzb-bc-year {
            @include font-size($vzb-bc-year-size / 3);
        }
    }
    .vzb-bubble-chart-svg {
        .vzb-bc-bubble {
            stroke-opacity: 0.6;
        }
    }
}