<div class="vzb-bubble-chart">
    <svg class="vzb-bubble-chart-svg">
        <g class="vzb-bc-graph">
            <text class="vzb-bc-year"></text>
            
            <g class="vzb-bc-axis-x"></g>
            <g class="vzb-bc-axis-y"></g>
            <line class="vzb-bc-projection-x"></line>
            <line class="vzb-bc-projection-y"></line> 
            
            <g class="vzb-bc-trails"></g>
            <g class="vzb-bc-bubbles"></g>
            <g class="vzb-bc-labels"></g>

            <g class="vzb-bc-axis-y-title"></g>
            <g class="vzb-bc-axis-x-title"></g>
            <g class="vzb-bc-axis-s-title"></g>
            <g class="vzb-bc-axis-c-title"></g>

            <rect class="vzb-bc-zoomRect"></rect>
        </g>
        <filter id="vzb-bc-blur-effect">
            <feGaussianBlur stdDeviation="2" />
        </filter>
    </svg>
    <!-- This could possibly be another component -->
    <div class="vzb-tooltip vzb-hidden"></div>
</div>