.vzb-tool-datawarning {
  @include position(absolute, 0 0 null null);
  height: 100%;
  width: 100%;

  .vzb-data-warning-background {
    background-color: $vzb-color-grey-lightest;
    height: 100%;
    opacity: .4;
    width: 100%;
  }

  .vzb-data-warning-box {
    //opacity: 1;
    @include rtl {
      padding-left: 15px;
      padding-right: 25px;
    }
    @include box-shadow(0, 8px, 15px, rgba(0, 0, 0, .24));
    @include transition(all 300ms ease-in-out);
    background-color: #fff;
    border-top: 1px solid #f7f7f7;
    padding: 0 15px 10px 25px;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .vzb-data-warning-link {
      @include rtl {
        margin-left: 30px;
        margin-right: 5px;
      }
      color: $vzb-color-accent-orange;
      font-size: $vzb-font-size-medium;
      margin: 25px 30px 10px 5px;
      svg {
        height: 25px;
        margin-bottom: -1px;
        width: 25px;
      }
      div {
        @include rtl {
          margin-left: 0;
          margin-right: 10px;
        }
        display: inline-block;
        margin-left: 10px;
        text-transform: uppercase;
        white-space: normal;
      }
      path {
        fill: $vzb-color-accent-orange;
      }
    }

    .vzb-data-warning-title {
      @include rtl {
        margin-left: 30px;
        margin-right: 5px;
      }
      color: $vzb-color-primary;
      font-size: $vzb-font-size-medium;
      margin: 15px 30px 10px 5px;
      white-space: normal;
    }

    .vzb-data-warning-body {
      @include rtl {
        padding-left: 30px;
        padding-right: 5px;
        text-align: right;
      }
      font-size: $vzb-font-size-regular;
      padding: 10px 30px 10px 5px;
      color: $vzb-color-black;
      white-space: normal;
      line-height: 150%;
      height: 80%;
      overflow: auto;

      a {
        color: $vzb-color-accent-orange;
        //color: $vzb-color-primary-dark;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
    }

    .vzb-data-warning-close {
      @include rtl {
        left: 10px;
        right: auto;
      }
      cursor: pointer;
      fill: $vzb-color-primary;
      fill-opacity: .7;
      height: 25px;
      position: absolute;
      right: 10px;
      top: 10px;
      width: 25px;

      &:hover {
        fill-opacity: 1;
      }
    }
  }
}

&.vzb-small.vzb-portrait {
  .vzb-data-warning-box {
    @include position(absolute, 10% null null 5%);
    bottom: $size-button-list;
    width: 90%;
    height: 80%;

    .vzb-data-warning-link {
      font-size: $vzb-font-size-regular;
    }

    .vzb-data-warning-title {
      font-size: $vzb-font-size-regular;
    }

    .vzb-data-warning-body {
      font-size: $vzb-font-size-small;
    }
  }
}

&.vzb-small.vzb-landscape {
  .vzb-data-warning-box {
    @include position(absolute, 10% null null 10%);
    height: 80%;
    margin-right: 10px;
    right: $size-button-list;
    width: 80%;

    .vzb-data-warning-link {
      font-size: $vzb-font-size-regular;
    }

    .vzb-data-warning-title {
      font-size: $vzb-font-size-regular;
    }

    .vzb-data-warning-body {
      font-size: $vzb-font-size-small;
    }
  }
}

&.vzb-medium {
  .vzb-data-warning-box {
    @include position(absolute, 10% null null 20%);
    height: 80%;
    width: 60%;

    .vzb-data-warning-link {
      font-size: $vzb-font-size-medium;
    }

    .vzb-data-warning-title {
      font-size: $vzb-font-size-medium;
    }

    .vzb-data-warning-body {
      font-size: $vzb-font-size-small;
    }
  }
}

&.vzb-large {
  .vzb-data-warning-box {
    @include position(absolute, 10% null null 25%);
    width: 50%;
    height: 80%;

    .vzb-data-warning-link {
      font-size: $vzb-font-size-medium;
    }
    
    .vzb-data-warning-title {
      font-size: $vzb-font-size-medium;
    }
    
    .vzb-data-warning-body {
      font-size: $vzb-font-size-regular;
    }
  }
}
