//general styles

.vzb-cl-outer {

  .vzb-cl-holder {
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  .vzb-cl-colorlist {
    overflow: hidden;
  }

  .vzb-cl-option {
    padding-bottom: 5px;
    padding-top: 5px;
    cursor: pointer;
    padding-left: 15px;
      
    .vzb-cl-color-sample {
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 10px;
      margin-right: 10px;
      cursor: pointer;
    }
    .vzb-cl-color-legend {
      display: inline-block;
      vertical-align: super;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
      
    &.vzb-cl-compact {
      display: inline-block;
      float: left;
      .vzb-cl-color-legend {
        display: none;
      }
    }
  }

  .vzb-cl-rainbow {
    width: 20px;
    position: absolute;
    left: 15px;
  }
  .vzb-cl-minimap {
    height: 145px;
    width: 100%;
    svg {height: 100%;}
  }


}
