-
  menuitems = [
    ['bubblechart.html', 'Bubble Chart'],
    ['mountainchart.html', 'Mountain Chart'],
    ['bubblemap.html', 'Bubble Map'],
    ['linechart.html', 'Line Chart'],
    ['barrankchart.html', 'Bar Rank Chart'],
    ['barchart.html', 'Bar Chart'],
    ['donutchart.html', 'Donut Chart'],
    ['axislabeler.html', 'Axis Labeler'],
    ['agepyramid.html', 'Age Pyramid'],
    ['cartogram.html', 'Cartogram'],
    ['joint_pyramidline.html', 'Pyramid + Line'],
    ['joint_cartogramline.html', 'Cartogr. + Line']
  ]
#vzbp-nav
  .vzbp-nav-menu
    each item in menuitems
      a(href=item[0] class={active: item[1] === (menu_title || title)}) #{item[1]}
