#vzbp-nav
  .vzbp-nav-menu
    a(href='bubblechart.html') Bubble Chart
    a(href='mountainchart.html') Mountain Chart
    a(href='linechart.html') Line Chart
    a(href='popbyage.html') Pop By Age
    a(href='barchart.html') Bar Chart
    a(href='bubblemapchart.html') Bubble Map Chart