-
  menuitems = [
    ['bubblechart.html', 'Bubble Chart'],
    ['mountainchart.html', 'Mountain Chart'],
    ['bubblemap.html', 'Bubble Map'],
    ['linechart.html', 'Line Chart'],
    ['popbyage.html', 'Pop By Age'],
    ['barchart.html', 'Bar Chart'],
    ['barrankchart.html', 'Bar Rank Chart']
  ]
#vzbp-nav
  .vzbp-nav-menu
    each item in menuitems
      a(href=item[0] class={active: item[1] === title}) #{item[1]}
