#vzbp-nav
  .vzbp-nav-menu
    a(href='bubblechart.html') Bubble Chart
    a(href='moutainchart.html') Mountain Chart
    a(href='linechart.html') Line Chart
    a(href='popbyage.html') Pop By Age Chart
    a(href='barchart.html') Bar Chart