button#vzbp-btn-refresh.vzbp-button(data-tooltip='Reset state')
  i.fa.fa-refresh

if source_code
  button#vzbp-btn-github.vzbp-button.vzbp-button-bigger(onclick='openLink(\'' + source_code + '\')', data-tooltip='Github')
    i.fa.fa-github

button#vzbp-btn-codepen.vzbp-button(data-tooltip='Codepen')
  i.fa.fa-codepen
button#vzbp-btn-share.vzbp-button(data-tooltip='Share')
  i.fa.fa-paper-plane


hr.vzbp-hr
#resp-sect.collapsible-section.open
  h2.vzbp-subtitle.vzbp-collapsible-title Layout
  .vzbp-collapsible
    button#vzbp-btn-portrait.vzbp-button.vzbp-button-bigger(data-tooltip='Portrait')
      i.fa.fa-mobile
    button#vzbp-btn-landscape.vzbp-button.vzbp-button-bigger(data-tooltip='Landscape')
      i.fa.fa-mobile.fa-rotate-90
    button#vzbp-btn-desktop.vzbp-button.vzbp-button-bigger(data-tooltip='Full')
      i.fa.fa-desktop
    button#vzbp-btn-random.vzbp-button(data-tooltip='Random')
      i.fa.fa-random
    p(align='left')
      input#vzbp-input-width.vzbp-input(type='number')
      input#vzbp-input-height.vzbp-input(type='number')

hr.vzbp-hr

#state-section-panel.collapsible-panel
  h2#state-section.vzbp-subtitle.vzbp-collapsible-title State

hr.vzbp-hr

#butt-sect.collapsible-section.open
  h2.vzbp-subtitle.vzbp-collapsible-title Interact
  .vzbp-collapsible
    button#vzbp-btn-play.vzbp-button.vzbp-wide(data-tooltip='Play')
      i.fa.fa-play
    button#vzbp-btn-record.vzbp-button.vzbp-button-bigger(data-tooltip='Record')
      i.fa.fa-bullseye
    button#vzbp-btn-download.vzbp-button.vzbp-button-bigger(data-tooltip='Download')
      i.fa.fa-download
    select#vzbp-btn-lang.vzbp-button.vzbp-wide(data-tooltip='Switch language')
      option(value='en') English
      option(value='sv-SE') Svenska
      option(value='ar-SA') العربية
      option(value='ru-RU') Русский
      option(value='fr-FR') Français
      option(value='zh-CN') 中國傳統的
      option(value='es-ES') Español
      option(value='empty') --empty--

hr.vzbp-hr
#info-sect.collapsible-section.open
  h2.vzbp-subtitle.vzbp-collapsible-title Info
  .vzbp-collapsible
    p #{description}
