script.
  var locationArray = window.location.href.split("/");
  var LOCAL_URL = locationArray.splice(0, locationArray.indexOf("preview")).join("/") + "/preview/";
  VIZABI_MODEL = {};
  EXT_RESOURCES = {};

script(src='assets/js/toolconfigs/' + (tool_config || tool) + '.js')
script.
  var TITLE = "#{title}";
  var TOOL = "#{tool}";
  var DESCRIPTION = "#{description}";

  VIZABI_MODEL.bind = {
    'ready': function (evt, vals) {
      updateURL();
      updateStateEditor(VIZ.getModel().state);
    },
    'persistentChange': function (evt) {
      updateURL(true); // force update
    }
  };

  VIZABI_MODEL.bind['change:state'] = function (evt, vals) {
    updateStateEditor(VIZ.getModel().state);
  };

  var playButton = document.getElementById("vzbp-btn-play");
  var playButtonIcon = playButton.querySelectorAll("i")[0];

  VIZABI_MODEL.bind['change:state.time.playing'] = function (evt, path) {
    var playing = evt.source;
    if (playing.value) {
      playButton.onclick = pause;
      playButton.setAttribute("data-tooltip", "Pause");
      removeClass(playButtonIcon, 'fa-play');
      addClass(playButtonIcon, 'fa-pause');
    } else {
      playButton.onclick = play;
      playButton.setAttribute("data-tooltip", "Play");
      removeClass(playButtonIcon, 'fa-pause');
      addClass(playButtonIcon, 'fa-play');
    }
  };

  VIZABI_MODEL.bind['change:state.time.record'] = function (evt, path) {
    var recButton = document.getElementById("vzbp-btn-record");
    var recButtonIcon = recButton.querySelectorAll("i")[0];
    var record = evt.source;
    if (record.value) {
      recButton.onclick = recstop;
      recButton.setAttribute("data-tooltip", "Stop");
      removeClass(recButtonIcon, 'fa-bullseye');
      addClass(recButtonIcon, 'fa-circle');
    } else {
      recButton.onclick = recstart;
      recButton.setAttribute("data-tooltip", "Record");
      removeClass(recButtonIcon, 'fa-circle');
      addClass(recButtonIcon, 'fa-bullseye');
    }
  };

  var langButton = document.getElementById("vzbp-btn-lang");

  VIZABI_MODEL.bind['change:locale.id'] = function (evt, path) {
    langButton.value = evt.source._val;
  };

  //WS reader integration
  var wsReader = new WSReader.WSReader().getReader();
  Vizabi.Reader.extend("waffle", wsReader);

  //DDFCSV reader integration
  var ddfReader = new DDFCsvReader.getDDFCsvReaderObject()
  Vizabi.Reader.extend("ddf", ddfReader);

  parseURL();

  var locationArray = window.location.href.split("/");
  var localUrl = locationArray.splice(0, locationArray.indexOf("preview")).join("/") + "/preview/";

  EXT_RESOURCES = Vizabi.utils.deepExtend({
    host: 'https://waffle-server.gapminder.org',
    preloadPath: '/api/vizabi/',
    dataPath: '/api/ddf/',
    //shapePath: localUrl + "data/mc_precomputed_shapes.json"
    shapePath: localUrl + "data/world-50m.json"
  }, EXT_RESOURCES);
  
  VIZABI_MODEL = Vizabi.utils.deepExtend({}, VIZABI_MODEL, {
    locale: {
      //filePath: "assets/translation/"
    },
    data: {
      //"reader": "waffle",
      //"reader": "ddf",
      //"path": EXT_RESOURCES.host + EXT_RESOURCES.dataPath
      //"path": "data/systema_globalis"
    }
  });

  Vizabi._globals.ext_resources = EXT_RESOURCES;
  VIZABI_PAGE_MODEL = Vizabi.utils.deepExtend({}, VIZABI_MODEL);

  VIZ = Vizabi("#{tool}", placeholder, Vizabi.utils.deepExtend({}, VIZABI_MODEL, URL.model));
