.vzb-tool {
  .vzb-agepyramid {
    @extend %vzb-chart-svg;
    .vzb-bc-axis-x,
    .vzb-bc-axis-y {
      @extend %vzb-chart-axis;
    }
    .vzb-bc-axis-x-title,
    .vzb-bc-axis-y-title {
      @extend %vzb-chart-axis-title;
    }
    
    .vzb-bc-axis-x-left {
      g:nth-last-of-type(2) {
        visibility: hidden; 
      }
    }
    
    .vzb-bc-bar {
      stroke: none;
      cursor: pointer;
    }
    .vzb-bc-label {
      display: none;
      pointer-events: none;
      &.vzb-hovered {
        display: block;
      }
      &.vzb-selected {
        display: block;
      }
      > .vzb-bc-age {
        fill: $vzb-color-grey-darkest;
        &.vzb-text-left {
          text-anchor: end;
        }
      }
    }
    .vzb-dimmed {
      opacity: .3;
      &.vzb-hovered {
        opacity: 1;
      }
    }
    .vzb-dimmed-selected {
      opacity: .5;
      &.vzb-hovered {
        opacity: .8;
      }
      &.vzb-selected {
        opacity: 1;
      }
    }
    .vzb-bc-title {
      @extend %vzb-chart-axis-title;
      fill: $vzb-color-primary;
    }
    .vzb-bc-year {
      @extend %vzb-chart-axis-title;
      fill: $vzb-color-grey;
      text-anchor: end;
    }
  }
  &.vzb-large {
    .vzb-bc-axis-x,
    .vzb-bc-axis-y,
    .vzb-bc-label > .vzb-bc-age {
      @extend %vzb-chart-ticks-large;
    }
    .vzb-bc-title,
    .vzb-bc-year {
      @extend %vzb-chart-axis-title-large;
    }
  }
  &.vzb-medium {
    .vzb-bc-axis-x,
    .vzb-bc-axis-y,
    .vzb-bc-label > .vzb-bc-age {
      @extend %vzb-chart-ticks-medium;
    }
    .vzb-bc-title,
    .vzb-bc-year {
      @extend %vzb-chart-axis-title-medium;
    }
  }
  &.vzb-small {
    .vzb-bc-axis-x,
    .vzb-bc-axis-y,
    .vzb-bc-label > .vzb-bc-age {
      @extend %vzb-chart-ticks-small;
    }
    .vzb-bc-title,
    .vzb-bc-year {
      @extend %vzb-chart-axis-title-small;
    }
  }
}
