.bar-chart {
    @import '../common';

    path, line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    .x.axis path {
      display: none;
    }

    .line {
      fill: none;
      stroke: steelblue;
      stroke-width: 1.5px;
    }

    rect {
      fill: steelblue;
    }

    text {
      fill: white;
      font: 10px sans-serif;
      text-anchor: middle;
    }
}
