.vzb-tool {
  .vzb-barchart {
    @extend %vzb-chart-svg;
    .vzb-bc-axis-x,
    .vzb-bc-axis-y {
      @extend %vzb-chart-axis;
    }
    .vzb-bc-axis-x-title,
    .vzb-bc-axis-y-title {
      @extend %vzb-chart-axis-title;
    }
    .vzb-bc-bar {
      stroke: none;
    }
    .vzb-bc-year {
      @extend %vzb-chart-axis-title;
      fill: $vzb-color-grey;
      text-anchor: end;
    }
  }
  &.vzb-large {
    .vzb-bc-axis-x,
    .vzb-bc-axis-y {
      @extend %vzb-chart-ticks-large;
    }
    .vzb-bc-axis-x-title,
    .vzb-bc-axis-y-title {
      @extend %vzb-chart-axis-title-large;
    }
    .vzb-bc-year {
      @extend %vzb-chart-axis-title-large;
    }
  }
  &.vzb-medium {
    .vzb-bc-axis-x,
    .vzb-bc-axis-y {
      @extend %vzb-chart-ticks-medium;
    }
    .vzb-bc-axis-x-title,
    .vzb-bc-axis-y-title {
      @extend %vzb-chart-axis-title-medium;
    }
    .vzb-bc-year {
      @extend %vzb-chart-axis-title-medium;
    }
  }
  &.vzb-small {
    .vzb-bc-axis-x,
    .vzb-bc-axis-y {
      @extend %vzb-chart-ticks-small;
    }
    .vzb-bc-axis-x-title,
    .vzb-bc-axis-y-title {
      @extend %vzb-chart-axis-title-small;
    }
    .vzb-bc-year {
      @extend %vzb-chart-axis-title-small;
    }
  }
}
