<span class="vzb-ip-holder">
    <div class="vzb-ip-select"></div>
    
    <br class="vzb-ip-minmax-break"/>
    
    <span class="vzb-ip-domainmin-label"></span>
    <input type="text" class="vzb-ip-domainmin" name="min">
    <span class="vzb-ip-domainmax-label"></span>
    <input type="text" class="vzb-ip-domainmax" name="max">
    
    <br class="vzb-ip-fakeminmax-break"/>
    
    <span class="vzb-ip-fakemin-label"></span>
    <input type="text" class="vzb-ip-fakemin" name="min">
    <span class="vzb-ip-fakemax-label"></span>
    <input type="text" class="vzb-ip-fakemax" name="max">
</span>