//general styles
.vzb-bs-holder {

    $vzb-bs-width: 200px;

    width: $vzb-bs-width;
    height: 40px;
    margin: 0 auto;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        left: 8px;
        top: 50%;
        margin-top: -9px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px $vzb-bs-width 8px 0;
        border-color: transparent rgba($vzb-color-primary, 0.3) transparent transparent;
        @include border-radius(0 50px 50px 0);
    }

    .vzb-bs-slider {
        position: absolute;
        left: 6px;
        top: 50%;
        margin-top: -3px;
        height: 3px;
        width: $vzb-bs-width;
        -webkit-appearance: none;
        background: transparent;
        outline: none !important;
        border: 0;
        @include border-radius(2px);

        // Slider Handle
        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            cursor: pointer;
            @include border-radius(20px);
            @include transition(left, 0.1s, ease-in-out);
            background-color: $vzb-color-primary;
            top: -12px;
            width: 24px;
            height: 24px;
            border: 4px solid white;
        }
        &::-moz-range-thumb {
            cursor: pointer;
            @include border-radius(20px);
            @include transition(left, 0.1s, ease-in-out);
            background: $vzb-color-primary;
            top: -12px;
            width: 16px;
            height: 16px;
            border: 4px solid white;
        }
    }
}

//large specific styles
&.vzb-large {
    .vzb-bs-holder {
        //...
    }
}

//medium specific styles
&.vzb-medium {
    .vzb-bs-holder {
        //...
    }
}

//small specific styles
&.vzb-small {
    .vzb-bs-holder {
        //...
    }
}