// ****************************************************************************
//
//   Common styles used in various charts
//
// ****************************************************************************
%vzb-chart-wrapper {
  @include position(absolute, 0);
  overflow: hidden;
}

%vzb-chart-svg {
  @include position(absolute, 0);
  color: $vzb-color-grey-dark;
  height: 100%;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

%vzb-chart-ticks-small {
  font-size: $vzb-font-size-small;
}

%vzb-chart-ticks-medium {
  font-size: $vzb-font-size-regular;
}

%vzb-chart-ticks-large {
  font-size: $vzb-font-size-medium;
}

%vzb-chart-ticks {
  @extend %vzb-chart-ticks-small;
  fill: currentColor;
  stroke: none;
}

%vzb-chart-axis-title {
  color: $vzb-color-primary-darkest;
  cursor: pointer;
  fill: currentColor;
  
  &:hover {
    text-decoration: underline;
  }
}

%vzb-chart-axis-title-small {
  font-size: $vzb-font-size-regular;
}

%vzb-chart-axis-title-medium {
  font-size: $vzb-font-size-medium;
}

%vzb-chart-axis-title-large {
  font-size: $vzb-font-size-large;
}

%vzb-chart-axis {
  color: $vzb-color-grey;
  fill: none;
  stroke: $vzb-color-grey;

  path,
  line {
    fill: none;
    shape-rendering: crispEdges;
    stroke: $vzb-color-grey;
  }
  .tick line, 
  .tick-minor {
    stroke-dasharray: 1 3;
  }  
  text {
    @extend %vzb-chart-ticks;
  } 
}
%vzb-chart-axis-presentation {
  .tick line {
    stroke: $vzb-color-black;
    stroke-width: 1;
    stroke-dasharray: 2 3;
  } 
  .tick-minor {
    stroke: $vzb-color-grey;
  }
}

%vzb-chart-info {
  cursor: pointer;
  opacity: .3;
  pointer-events: visible;

  path {
    fill: $vzb-color-primary;
    stroke: none;
  }
  
  circle {
    fill: none;
    stroke: $vzb-color-primary;
  }
  
  &:hover {
    opacity: 1;
  }
}

%vzb-chart-tooltip {
  text {
    fill: $vzb-color-black;
    pointer-events: none;
    text-anchor: end;
  }
  
  rect {
    cursor: pointer;
    pointer-events: none;
  }  

  .vzb-tooltip-border {
    fill: $vzb-color-white;
    stroke: $vzb-color-black;
    stroke-width: 1.5px;
  }
}

%vzb-chart-label-shadow {
  @include opacity(.7);
  fill: $vzb-color-white;
  stroke: $vzb-color-white;
}

%vzb-chart-label-shadow-small {
  stroke-width: 2px;
}

%vzb-chart-label-shadow-medium {
  stroke-width: 3px;
}

%vzb-chart-label-shadow-large {
  stroke-width: 3px;
}
