// ****************************************************************************
//
//   Common Variables
//   variables across tools & components
//
//   -> Naming convention:
//      general -> specific
//      E.g: $vzb-border-color-blue;
//
// ****************************************************************************

// ----------------------------------------------------------------------------
//   Text
// ----------------------------------------------------------------------------
$vzb-font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
$vzb-font-family-alt: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
$vzb-font-size-base: 16px;
$vzb-font-size-regular: 1em; 
$vzb-font-size-tiny: .625em; 
$vzb-font-size-small: .8em;  
$vzb-font-size-medium: 1.24em; 
$vzb-font-size-large: 1.38em;  
$vzb-font-size-larger: 1.6em; 
$vzb-font-size-largest: 2.1em;     

// ----------------------------------------------------------------------------
//   Colors
//   -> Naming convention:
//   darkest, darker, dark, color, light, lighter, lightest
// ----------------------------------------------------------------------------
// Primary = Low saturated Blue
$vzb-color-primary: #607889;
$vzb-color-primary-darkest: #425663; 
$vzb-color-primary-dark: #4b98aa; 
$vzb-color-primary-strong: #4b98aa;
$vzb-color-primary-light: #9fbbc1;
$vzb-color-primary-lightest: #f2fafc;
// Grayscale
$vzb-color-white: #fff;
$vzb-color-black: #333;
$vzb-color-grey-darkest: #444;
$vzb-color-grey-dark: #666;
$vzb-color-grey: #999;
$vzb-color-grey-light: #e3eef0;
$vzb-color-grey-lightest: #fdfdfd;
// Vizabi main colors
$vzb-color-red: #f77481;
$vzb-color-yellow: #e1ce00;
$vzb-color-green: #b4de79;
$vzb-color-blue: #62cce3;
$vzb-gapminder-main: #ffca34;
// Accents
$vzb-color-accent-orange: #fc6b38; 
$vzb-color-accent-yellow: #ff0; 
// ----------------------------------------------------------------------------
//   Loader (spinner)
// ----------------------------------------------------------------------------
$vzb-loader-speed: .6s;
$vzb-loader-thickness: 4px;
$vzb-loader-size: 30px;
$vzb-loader-bgcolor: $vzb-color-white;
// ----------------------------------------------------------------------------
//   Common styles
// ----------------------------------------------------------------------------
.vzb-hidden {
  display: none !important;
}

.vzb-invisible {
  visibility: hidden !important;
}

.vzb-blur {
  filter: blur(3px);
}

.vzb-transparent {
  opacity: 0 !important;
}

%vzb-loader {
  @include animation-duration($vzb-loader-speed);
  @include animation-iteration-count(infinite);
  @include animation-name(rotate-forever);
  @include animation-timing-function(linear);
  @include size($vzb-loader-size);
  @include position(absolute, 50% 0 0 50%);
  border: $vzb-loader-thickness solid rgba($vzb-color-primary, .1);
  border-radius: 100%;
  border-top: $vzb-loader-thickness solid rgba($vzb-color-primary, .6);
  content: ' ';
  display: inline-block;
  margin: -1 * $vzb-loader-size/2;
  z-index: 9999;
}

.vzb-placeholder {
  background-color: $vzb-color-white;
  position: relative;

  &.vzb-loading-first {
    
    > div {
      visibility: hidden;
    }

    &::before {
      background-color: $vzb-loader-bgcolor;
      bottom: 0;
      content: ' ';
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 9998;
    }

    &::after {
      @extend %vzb-loader;
    }
  }
  //loading data specifically
  &.vzb-loading-data {
    &::before {
      @include opacity(.9);
    }
  }
  //loading anything
  &.vzb-loading {
    // * {
    //     visibility: hidden;
    // }
    &::before {
      @include opacity(.8);
    }
  }

  //loading anything
  &.vzb-force-fullscreen {
    @include position(fixed, 0 0 0 0);
    display: inline-table;
    height: 100% !important;
    margin: 0;
    width: 100% !important;
    z-index: 9997;
  }

  .vzb-icon {
    height: 15px;
    width: 15px;

    path {
      fill: $vzb-color-primary;
    }
  }

  &.vzb-error {

    @include user-select(none);

    display: table;
    height: 100%;

    > div {
      color: $vzb-color-grey;
      display: table-cell;
      line-height: 1.8;
      text-align: center;
      vertical-align: middle;
      visibility: visible;
    }

    p {
      font-size: .75em;
      text-transform: uppercase;
      white-space: normal;
    }

    .vzb-icon {
      height: 25px;
      width: 25px;
    }

    path {
      fill: $vzb-color-accent-orange;
    }

    &::before,
    &::after {
      display: none;
    }
  }
}

.vzb-dialog-scrollable {
  &:-webkit-scrollbar {
    width: 6px;
  }
  &:-webkit-scrollbar-thumb {
    background: lighten($vzb-color-primary, 20%);
    border-radius: 2px;
    cursor: pointer;
  }
  &:-webkit-scrollbar-track {
    width: 2px;
    background: $vzb-color-primary-lightest;
    border-radius: 2px;
    border: $vzb-color-white 2px solid;
  }
}
