@import 'mixins';
@import 'common';
@import 'reset';
@import 'chart';

.vzb-tool {
  $height-title: 8px;
  $size-button-list: 60px;
  $size-button-list-small: 50px;
  $size-timeslider: 80px;
  $size-timeslider-small: 50px;
  @include position(absolute, 0);
  @include user-select(none);
  font-family: $vzb-font-family;
  font-size: $vzb-font-size-base; //important to set the base in px
  overflow: hidden;
  text-align: left;

  .vzb-tool-title {
    @include position(absolute, 0 0 null 0);
    background-color: $vzb-color-primary-lightest;
    color: $vzb-color-grey-dark;
    display: none !important;
    font-size: $vzb-font-size-small;
    height: $height-title;
    padding: 10px;
  }

  .vzb-tool-content {
    @include position(absolute, 0);

    .vzb-tool-stage {
      @include position(absolute, 0 $size-button-list 0 0);
      transform: translate3d(0, 0, 0);

      .vzb-tool-viz {
        @include position(absolute, 0 0 $size-timeslider 0);
      }

      .vzb-tool-timeslider {
        @include position(absolute, null 0 0 0);
        height: $size-timeslider;
      }
    }

    .vzb-tool-buttonlist {
      @include position(absolute, 0 0 0 null);
      background-color: $vzb-color-primary-lightest;
      width: $size-button-list;
      .vzb-buttonlist-container-buttons {
        overflow: hidden;
        white-space: normal;
      }
    }
  }
  // hide sections
  &.vzb-title-off {

    .vzb-tool-title {
      display: none;
    }

    .vzb-tool-content {
      @include position(absolute, 0);
    }
  }

  &.vzb-timeslider-off {

    .vzb-tool-timeslider {
      display: none;
    }

    .vzb-tool-content .vzb-tool-stage .vzb-tool-viz {
      @include position(absolute, 0);
    }
  }

  &.vzb-buttonlist-off {

    .vzb-tool-buttonlist {
      display: none;
    }

    .vzb-tool-content .vzb-tool-stage {
      @include position(absolute, 0 0 0 0);
    }
  }
  //Responsiveness
  &.vzb-small {
    &.vzb-portrait {
      .vzb-tool-stage { 
        @include position(absolute, 0 0 $size-button-list-small 0);
      }
        
      .vzb-tool-buttonlist {
        @include position(absolute, auto 0 0 0);
        height: $size-button-list-small;
        width: auto;
        .vzb-buttonlist-container-buttons {
          white-space: nowrap;
          margin-bottom: -20px;
        }
      }
    }

    .vzb-tool-title {
      font-size: $vzb-font-size-small;
      height: $height-title - 8px;
    }

    .vzb-tool-content {
      $pos-top: $height-title - 8px;
      @include position(absolute, $pos-top 0 0 0);

      .vzb-tool-stage {
        .vzb-tool-viz {
          @include position(absolute, 0 0 $size-timeslider-small 0);
        }

        .vzb-tool-timeslider {
          height: $size-timeslider-small;
        }
      }
    }

    &.vzb-buttonlist-off {

      .vzb-tool-buttonlist {
        display: none;
      }

      .vzb-tool-content .vzb-tool-stage {
        @include position(absolute, 0 0 0 0);
      }
    }

    &.vzb-timeslider-off {

      .vzb-tool-timeslider {
        display: none;
      }

      .vzb-tool-content .vzb-tool-stage .vzb-tool-viz {
        @include position(absolute, 0);
      }
    }
    // issues: 369 & 442
    .vzb-buttonlist {

      .vzb-buttonlist-dialog {

        &.vzb-active {
          top: auto;
        }
      }
    }

    .vzb-data-warning text {
      font-size: $vzb-font-size-tiny;
    }
  }
  //tooltip
  .vzb-tooltip {
    @include border-radius(3px);
    @include opacity(.9);
    background: $vzb-color-grey-dark;
    color: $vzb-color-white;
    font-size: $vzb-font-size-regular;
    font-weight: 300;
    padding: 7px 10px;
    position: absolute;
    z-index: 11;
  }

  input[type=range]:-webkit-slider-runnable-track {
    background: transparent;
    cursor: pointer;
  }

  input[type=range]:focus:-webkit-slider-runnable-track {
    background: transparent;
  }

  input[type=range]:-moz-range-track {
    background: transparent;
    cursor: pointer;
  }

  input[type=range]:-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
    cursor: pointer;
  }

  input[type=range]:-ms-fill-lower {
    background: transparent;
  }

  input[type=range]:focus:-ms-fill-lower {
    background: transparent;
  }

  input[type=range]:-ms-fill-upper {
    background: transparent;
  }

  input[type=range]:focus:-ms-fill-upper {
    background: transparent;
  }

  input[type=range]:-moz-focus-outer {
    border: 0;
  }
  //Data warning
  .vzb-data-warning {
    cursor: pointer;
    fill: $vzb-color-accent-orange;

    path {
      fill: $vzb-color-accent-orange;
    }

    text {
      text-transform: uppercase;
    }

    &:hover text {
      text-decoration: underline;
    }
  }

  &.vzb-medium .vzb-data-warning text {
    font-size: $vzb-font-size-small;
  }

  &.vzb-large .vzb-data-warning text {
    font-size: $vzb-font-size-small;
  }

  &.vzb-presentation .vzb-data-warning text {
    font-size: $vzb-font-size-small;
  }

  //common tool components
  @import '../../components/buttonlist/buttonlist';
  @import '../../components/timeslider/timeslider';
  @import '../../components/treemenu/treemenu';
  @import '../../components/datawarning/datawarning';
}
