//Reset

.vzb-placeholder {
  font-size: $vzb-font-size-base;
  font-variant: normal;
  //text-align: left;

  div,
  span,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  i,
  svg,
  text,
  g {
    background: transparent;
    border: 0;
    box-sizing: border-box;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    white-space: nowrap;
  }

  input,
  textarea,
  keygen,
  select,
  button {
    font-size: $vzb-font-size-base;
  }

  * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  }
}
