<div class='vzb-dialog-modal'>
    <span class="thumb-tack-class thumb-tack-class-ico-pin fa" data-dialogtype="axes" data-click="pinDialog"></span>
    <span class="thumb-tack-class thumb-tack-class-ico-drag fa" data-dialogtype="axes" data-click="dragDialog"></span>
    <div class="vzb-dialog-title"><%=t ("buttons/axes") %></div>
    <div class="vzb-dialog-content">
      <p class="vzb-dialog-sublabel"> <%=t ("buttons/axis_x") %> <span class="vzb-xaxis-selector"></span> </p>
      <div class="vzb-xaxis-minmax vzb-dialog-paragraph"></div>
      <p class="vzb-dialog-sublabel"> <%=t ("buttons/axis_y") %> <span class="vzb-yaxis-selector"></span> </p>
      <div class="vzb-yaxis-minmax vzb-dialog-paragraph"></div>
    </div>
    <div class="vzb-dialog-buttons">
      <div data-click="closeDialog" class="vzb-dialog-button vzb-label-primary"><%=t ( "buttons/ok") %></div>
    </div>
</div>