//styles for the content section (where currencies are displayed)

.column {
  padding: 15px;
}

.column.main {
    @include box-sizing(border-box);
    width: 100%;
    height: 90%;
    background: white;

    @include breakpoint(small) {
      height: 450px;
    }

    @include breakpoint(small-landscape) {
      height: 250px;
    }
}

.card {
  background: white;
  border-radius: 2px;
  box-shadow: rgba(0,0,0,0.02) 0px 2px 1px 2px;
  padding: 20px;
  margin: 0px auto 10px auto;
  max-width: 250px;

  @include breakpoint(small) {
    max-width: 100%;
  }

  //animate down
  @for $i from 0 through 9{
    &:nth-child(#{$i}) { 
      opacity: 0;
      @include fadeInDown(0.5s, ($i/4)*1s );
    }
  }
}

.btn {
  @include box-sizing(border-box);
  background: $color-grey;
  border: 0px;
  border-radius: 2px;
  box-shadow: rgba(0,0,0,0.02) 0px 2px 1px 2px;
  padding: 8px 10px;
  margin: 0px 3px 7px 3px;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Lato', Arial, sans-serif;

  &:hover {
    cursor: pointer;
    background: darken( $color-grey, 10% );
  }

  &.primary {
    background: $color-primary;
    &:hover {
      background: darken( $color-primary, 10% );
    }
  }

  &.block {
    width: 100%;
    display: block;
  }
}