//styles for the page header (title and loading spinner)
.header {
    @include box-sizing(border-box);
    border-bottom: 2px solid $color-primary;
    min-width: $body-min-width;
    padding: 0 15px;
    height: 50px;
    position: relative;

    @include breakpoint(small) {
        height: auto;
        min-height: 50px;
    }

    &:after {
        content: 'alpha version';
        color: #FC6B38;
        display: block;
        position: absolute;
        bottom: -40px;
        z-index: 100;
        /* font-size: 12px; */
        right: 70px;
        opacity: 0.6;

        @include breakpoint(small) {
            top: 17px;
            bottom: auto;
            font-size: 12px;
            right: 53px;
        }
    }
}

.header-title {
    text-indent: -9999px;
    overflow: hidden;
    background-image: url(../public/logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 170px;
    background-size: 100%;
    color: white;
    float: left;
    font-size: 17px;
    line-height: $header-height;
    margin: 0;
}

.navbar-nav {
    list-style: none;
    padding: 0px;
    margin: 0px;
    position: absolute;
    z-index: 9999;
    bottom: 0px;
    left: 200px;

    &.desktop {
        @include breakpoint(small){
            display: none;
        }
    }
    @include breakpoint(small) {
        //display: none;
        position: static;
        padding-top: 50px;

        &:hover {
            display: block !important;
        }
    }
}

%menu-bar {
    @include border-radius(3px);
    position: absolute;
    width: 25px;
    height: 3px;
    display: block;
    background-color: $color-primary;
}

.menu-mobile {

    //@extend %menu-bar;
    @include breakpoint(not-small) {
        display: none;
    }
    cursor: pointer;
    right: 0;
    top: 0;
    transition-duration: 0.5s;
    width: 40px;
    height: 50px;
    position: absolute;
    z-index: 9;

    &:hover {
        cursor: pointer;
    }

    .icon {
        transition-duration: 0.2s;
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: $color-primary;
        top: 24px;

        &:before, &:after {
            transition-duration: 0.5s;
            background-color: $color-primary;
            position: absolute;
            content: "";
            width: 30px;
            height: 3px;
        }
        &:before {
            top: -7px;
        }
        &:after {
            top: 7px;
        }
    }
    &.open {
        .icon {
            background-color: transparent;
            &:before, &:after {
                top: 0;
            }
            &:before {
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
            }
            &:after {
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
            }
        }
    }
    /*&:hover + [nav-expandable], &:focus + [nav-expandable], &:active + [nav-expandable] {
        display: block !important;
    }*/
}
