//styles for the page header (title and loading spinner)
.header {
    @include box-sizing(border-box);
    border-bottom: 2px solid $color-primary;
    min-width: $body-min-width;
    padding: 0 15px;
    height: 50px;
    position: relative;

    @include breakpoint(small) {
        height: auto;
        min-height: 50px;
    }
}

.header-title {
    text-indent: -9999px;
    overflow: hidden;
    background-image: url(../public/logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 170px;
    background-size: 100%;
    color: white;
    float: left;
    font-size: 17px;
    line-height: $header-height;
    margin: 0;
}

.navbar-nav {
    list-style: none;
    padding: 0px;
    margin: 0px;
    position: absolute;
    z-index: 9999;
    bottom: 0px;
    left: 200px;

    @include breakpoint(small) {
        display: none;
        position: static;
        padding-top: 50px;

        &:hover {
            display: block !important;
        }
    }
}

%menu-bar {
    @include border-radius(3px);
    position: absolute;
    width: 25px;
    height: 3px;
    display: block;
    background-color: $color-primary;
}

.menu-mobile {

    @extend %menu-bar;
    @include breakpoint(not-small) {
        display: none;
    }
    border: 20px solid white;
    cursor: pointer;
    right: -8px;
    top: 3px;

    &:before, &:after {
        content: '';
        @extend %menu-bar;
        left: 0px;
    }
    &:before {
        top: -10px;
    }
    &:after {
        bottom: -10px;
    }

    &:hover + [nav-expandable], &:focus + [nav-expandable], &:active + [nav-expandable] {
        display: block !important;
    }
}