//styles for the page header (title and loading spinner)
.header {
    @include box-sizing(border-box);
    border-bottom: 2px solid $color-primary;
    min-width: $body-min-width;
    padding: 0 15px;
    flex: 0 0 $header-height;
}

.header-title {
    text-indent: -9999px;
    overflow: hidden;
    background-image: url(../public/logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 170px;
    background-size: 100%;
    color: white;
    float: left;
    font-size: 17px;
    line-height: $header-height;
    margin: 0;
}

.menu {
    display: block;
    margin: 0 auto;
    font-size: 1em;
    text-align: left;
    text-transform: uppercase;
    margin-left: 200px;

    @include breakpoint(not-large) {
      display: none;
    }

}

.menu-primary {
    list-style: none;
    position: relative;
    z-index: 100;
    background: white;
    padding: 0;
    margin: 0;
    & > .menu-item {
        float: left;
        color: #808285;
        position: relative;
        & > a {
            @include transition(padding 0.1s);
            cursor: pointer;
            color: #808285;
            font-size: 14px;
            font-weight: 300;
            padding: 15px 20px;
            margin: 1px 0 0 0;
            display: block;
            text-decoration: none;

            &:hover:not(.active) {
              padding: 17px 20px 13px 20px;
            }

            &.active {
              color: white;
              background-color: $color-primary;
            }
        }
    }
}