//import bourbon
@import '../../../bower_components/bourbon/app/assets/stylesheets/bourbon';

$color-primary: #FFCA34;
$color-grey: #999999;
$color-grey-light: #ECEBE9;

$body-min-width: 250px;
$header-height: 50px;

$small-screen: 700px;
$large-screen: 1000px;

$size-column: 230px;

html, body {
  height: 100%;
}
body {
  @include position(absolute, 0 0 0 0);
  background-color: white;
  font-family: 'Lato', Arial, sans-serif;
  min-width: $body-min-width;
  padding: 0;
  margin: 0;
}

.wrapper {
  display: block;
  position: relative;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.hidden,
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

.invisible {
	visibility: hidden;
}

@import 'mixins';
@import 'common';
@import 'header';
@import 'loader';
@import 'content';
@import 'more';