//import bourbon
//@import '../../../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import 'bourbon';
@import 'fonts';

@import 'variables';
@import 'mixins';
@import 'common';

html, body {
  height: 100%;
}
body {
  @include position(absolute, 0 0 0 0);
  background-color: white;
  font-family: 'Bariol Regular', Arial, sans-serif;
  min-width: $body-min-width;
  padding: 0;
  margin: 0;
}

.wrapper {
  display: block;
  position: relative;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  @include breakpoint(small) {
    position: static;
    height: auto;
  }
}

.wrapper-error {
  padding: 50px;
  text-align: center;
  .header-title {
    display: block;
    float: none;
    margin: 0 auto;
  }
}

.hidden,
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

@import 'header';
@import 'menu';
@import 'loader';
@import 'content';
@import 'more';
@import 'vizabi';
