.vzb-tool-data-loading-1-file-time {
    @extend .vzb-tool;

    @include position(absolute, 0px);
    padding: 30px;
    text-align: center;
    
    h2 {
        font-family: $vzb-font-family;
        color: $vzb-color-primary;
        margin: 0px;
    }
    p {
        font-size: 14px;
        line-height: 1.5em;
    }

    @import '../../../components/_examples/display-json/display-json';
    @import '../../../components/_gapminder/timeslider/timeslider';
}