<div class='vzb-dialog-modal'>
  <div class="vzb-dialog-title"> 
      <%=t ("buttons/about") %>
  </div>
      
  <div class="vzb-dialog-content">
      <p class="vzb-about-text0"></p>
      <p class="vzb-about-text1"></p>
      <br/>
      <p class="vzb-about-version"></p>
      <p class="vzb-about-updated"></p>
      <br/>
      <p class="vzb-about-text2"></p>
      <br/>
      <p class="vzb-about-report"></p>
      <br/>
      <p class="vzb-about-credits"></p>
  </div>
      
  <div class="vzb-dialog-buttons">
    <div data-click="closeDialog" class="vzb-dialog-button vzb-label-primary">
      <%=t ("buttons/ok") %>
    </div>
  </div>
      

</div>
